<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database">

  <!-- Database Provider -->
  <db:provider id="frsDataProvider"
               provider="System.Data.SqlClient"
               connectionString="Data Source=sql1;Initial Catalog=NODE_FLOW_ND;Integrated Security=True;Persist Security Info=True" />


  <object id="frs23" type="Windsor.Node2008.WNOSPlugin.FRS23.SimpleFRSService, Windsor.Node2008.WNOSPlugin.FRS23" singleton="false">
    
    <property name="ConfigurationArguments">
      <dictionary key-type="System.String, mscorlib"
                  value-type="System.String, mscorlib">
        <entry key="SkipEIChildren" value="false" />
      </dictionary>
    </property>
    
    <property name="DataProviders">
      <dictionary key-type="System.String, mscorlib"
                  value-type="Spring.Data.Common.IDbProvider, Spring.Data">
        <entry key="SourceProvider">
          <ref object="frsDataProvider" />
        </entry>
      </dictionary>
    </property>
    
  </object>


  <!-- TEST REQUEST -->
  <object id="testPluginRequest" type="Windsor.Node2008.WNOSDomain.DataRequest, Windsor.Node2008.WNOSDomain">
    <property name="TransactionId" value="1111-00000-11111-00000" />
    <property name="Service" ref="testPluginService" />
    <property name="Type" value="Solicit" /> <!-- None, Solicit, Query, Execute -->
    <property name="RowIndex" value="0" />
    <property name="MaxRowCount" value="-1" />
    <property name="Parameters" ref="testPluginRequestParams" />
  </object>

  <object id="testPluginService" type="Windsor.Node2008.WNOSDomain.DataService, Windsor.Node2008.WNOSDomain">
    <property name="FlowId" value="FRS" />
    <property name="Name" value="GetFacilityByName" />
    <property name="Type" value="Solicit" />
  </object>


  <object id="testPluginRequestParams" type="Windsor.Node2008.WNOSDomain.ByIndexOrNameDictionary&lt;String&gt;, Windsor.Node2008.WNOSDomain">
    <constructor-arg name="args">
      <list element-type="System.String, mscorlib">
        <value>ND</value>
        <value>Clean</value>
      </list>
    </constructor-arg>
  </object>
  
</objects>