input.cal{
	padding-left: 20px;
	cursor: pointer;
	background: url('~/Images/Calendar.png') no-repeat left top;	
	border: none;
}

/* calendar styles */
#calendar_div {
	display: none;
	border: 1px solid #777;
	z-index: 10; 
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
#calendar_div a {
	cursor: pointer;
	cursor: hand;
}
button.calendar_trigger {
	width: 25px;
}
img.calendar_trigger {
	margin: 2px;
	vertical-align: middle;
}
#calendar_control, #calendar_links, #calendar_header, #calendar, #calendar_time {
	clear: both;
	float: left;
	width: 185px;
	color: #fff;
}
#calendar_control {
	background: #CCC;
}
#calendar_links {
	background: #9EC630;
}
#calendar_control a, #calendar_links a {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
	color: #eee;
	padding: 2px 5px;
}
#calendar_control a:hover {
	background: #83ACCA;
	color: #333;
}
#calendar_links a:hover, .calendar_titleRow a:hover {
	background: #ddd;
	color: #333;
}
#calendar_clear, #calendar_prev {
	float: left;
}
#calendar_current {
	float: left;
	width: 35%;
	text-align: center;
}
#calendar_close, #calendar_next {
	float: right;
}
#calendar_header, #calendar_time {
	background: #EFEFEF;
	text-align: center;
	font-weight: bold;
}
#calendar_header select, #calendar_time select {
	background: #fff;
	color: #333;
	border: 0px;
	font-weight: normal;
	width: auto;
}
#calendar {
	background: #ccc;
	text-align: center;
	font-size: 100%;
}
#calendar a {
	width: 100%;
	display: block;
}
#calendar a:hover {
	color: #eee;
}
#calendar .calendar_titleRow {
	background: #777;
}
#calendar .calendar_titleRow a {
	color: #eee;
}
#calendar .calendar_titleRow a:hover {
	color: #000;
}
#calendar .calendar_daysRow {
	background: #fff;
	color: #666;
}
#calendar .calendar_daysCell {
	border: 1px solid #eee;
}
#calendar .calendar_daysCell a {
	color: #000;
	width: 100%;
}
#calendar .calendar_daysCell a:hover {
	background: none;
}
#calendar .calendar_weekEndCell {
	background: #ddd;
}
#calendar .calendar_daysCellOver {
	background: #fff;
	border: 1px solid #777;
}
#calendar .calendar_unselectable {
	color: #888;
}
#calendar_today {
	background: #E3ECF3 !important;
}
#calendar_currentDay {
	background: #999 !important;
}
#calendar_cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -1px; /*must have*/
    left: -1px; /*must have*/
    width: 300px; /*must have to match width and borders*/
    height: 300px; /*must have to match maximum height*/ 
}
