<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Windsor.EN.Node41.Plugin.HERE.Properties.Settings.HERE_FLOWSConnectionString"
            connectionString="Data Source=sql1;Initial Catalog=HERE_FLOWS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>