<?xml version="1.0" encoding="UTF-8"?>#set ($totalRecCount = 0)$helper.startStopWatch()$helper.print("Change Date:")$helper.print($changeDate)
<DomainList xmlns="http://www.exchangenetwork.net/schema/HERE" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.exchangenetwork.net/schema/HERE http://www.windsorsolutions.biz/xsd/HERE/1/0/HERE_DomainValues_v1.0.xsd">
#foreach($domain in $helper.getData("SELECT pk_guid, domainlistname, originatingpartnername FROM HERE_DOMAINLIST WHERE changedate >= ?", $helper.toDbDateString($changeDate)))
#set ($totalRecCount = $velocityCount)
#if($domain.get("domainlistname"))
    <DomainListNameText>$domain.get("domainlistname")</DomainListNameText>
#end#if($domain.get("originatingpartnername"))
    <OriginatingPartnerName>$domain.get("originatingpartnername")</OriginatingPartnerName>
#end
#foreach( $listItem in $helper.getData("SELECT itemcode, itemtext, itemdescriptiontext FROM HERE_DOMAINLISTITEM WHERE FK_GUID = ? ", $domain.get("pk_guid"))) 
#if( $listItem.get("itemcode")||$listItem.get("itemtext")||$listItem.get("itemdescriptiontext") )
    <DomainListItem> 
#end#if($listItem.get("itemcode"))
        <ItemCode>$listItem.get("itemcode")</ItemCode>
#end#if($listItem.get("itemtext"))
        <ItemText>$listItem.get("itemtext")</ItemText>
#end#if($listItem.get("itemdescriptiontext"))
        <ItemDescriptionText>$listItem.get("itemdescriptiontext")</ItemDescriptionText>
#end
    </DomainListItem>
#end#end ## end foreach $listItem
</DomainList>
$helper.print("Total Domains: $totalRecCount")
##$helper.setResultingRecordCount($totalRecCount)
$helper.print("Total Time:")
$helper.printElapsedTime()