<?xml version="1.0" encoding="UTF-8"?>
#parse("eis_head.vm")
#foreach($loc in $helper.getData("select loc_id, cers_id, sta_and_cnty_fips_code, trib_code, sta_and_ctry_fips_code, census_block_iden, census_tract_iden, shape_iden, loc_cmnt, atch_file_name, atch_file_desc, atch_file_size, atch_file_cont_type_code from cers_loc where cers_id = ? ", $cer.cers_id))
	<cer:Location>
#if($loc.get("sta_and_cnty_fips_code"))
		<cer:StateAndCountyFIPSCode>$loc.get("sta_and_cnty_fips_code")</cer:StateAndCountyFIPSCode>
#end
#if($loc.get("trib_code"))
		<cer:TribalCode>$loc.get("trib_code")</cer:TribalCode>
#end
#if($loc.get("sta_and_ctry_fips_code"))
		<cer:StateAndCountryFIPSCode>$loc.get("sta_and_ctry_fips_code")</cer:StateAndCountryFIPSCode>
#end
	</cer:Location>
#end ##foreach($loc)
#parse("eis_foot.vm")