<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 text-center">
                OpenNode2 by Environmental Council of the States &copy; <span wicket:id="year">[YEAR]</span>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <div class="text-center">
                    <a wicket:id="support" style="text-decoration: none;">[SUPPORT]</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <b>Version:</b> <span wicket:id="buildInfo">[VERSION]</span>-<span wicket:id="buildNumber">[GIT REVISION]</span> 
                <b>Built:</b> <span wicket:id="buildTimestamp">[BUILD TIMESTAMP]</span>
                <b>NAAS:</b> <span wicket:id="naasEnv"></span>
            </div>
        </div>
    </div>
</wicket:panel>
</html>