<?xml version="1.0" encoding="UTF-8"?>
<FacilitySiteList xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
				  xsi:schemaLocation="http://www.epa.gov/xml http://www.epa.gov/enviro/html/frs_demo/presentations/version2.3/FACID_FacilitySiteAll_v2.3.xsd" 
				  schemaVersion="2.3" xmlns="http://www.epa.gov/xml">
		
	 #set ($totalRecCount = 0)
	 
	 $helper.startStopWatch()
	 $helper.print("Change Date:")		
	 $helper.print($changeDate)
	
	 #foreach( $fac in $helper.getData("SELECT ST_FAC_IND FROM CHANGED_FACILITIES WHERE FLOW_TYPE = 'HERE-FRS' AND IS_DELETED = 1 AND UPDATE_DATE >= ?", $changeDate, 93) )
	 
	 #if ($velocityCount % 100 == 0)
      	$helper.print($velocityCount)
							$helper.printElapsedTime()
	 #end
	
	 #set ($totalRecCount = $velocityCount)
	 
	 <FacilitySiteAllDetails>
	 	
	 	#if($sourceSysName)<SourceOfData>$sourceSysName</SourceOfData>#end
		 #if($fac.get("deletion_date"))<LastReportedDate>$fac.get("deletion_date")</LastReportedDate>#end
		 #if($fac.get("st_fac_sys_ac"))<StateFacilitySystemAcronymName>$fac.get("st_fac_sys_ac")</StateFacilitySystemAcronymName>#end
		 #if($fac.get("st_fac_ind"))<StateFacilityIdentifier>$fac.get("st_fac_ind")</StateFacilityIdentifier>#end
	 
	 </FacilitySiteAllDetails>
	 
	 #end  
	 
	
</FacilitySiteList>

$helper.print("Total Records:")
$helper.print($totalRecCount)

## Setting the total number of records processed
$helper.setResultingRecordCount($totalRecCount)

$helper.print("Total Time:")
$helper.printElapsedTime()
