<?xml version="1.0" encoding="UTF-8"?>
<HEREManifest xmlns="http://www.exchangenetwork.net/schema/HERE/1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.exchangenetwork.net/schema/HERE/1 http://www.windsorsolutions.biz/xsd/HERE/1/0/HERE_Manifest_v1.0.1.xsd">
<HEREManifestDetails>