SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ACTATTACHEDBINARYOBJECT](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[BINARYOBJECTFILE] [varchar](255) NOT NULL,
	[BINARYOBJECTFILETYPECODE] [varchar](6) NOT NULL,
 CONSTRAINT [PK_WQX_ACTATTBINARYOBJECT] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ACTIVITY](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[ACTIVITYID] [varchar](35) NOT NULL,
	[ACTIVITYTYPECODE] [varchar](70) NOT NULL,
	[ACTIVITYMEDIA] [varchar](20) NOT NULL,
	[ACTIVITYMEDIASUBDIVISION] [varchar](45) NULL,
	[ACTIVITYSTARTDATE] [datetime] NOT NULL,
	[STARTTIME] [datetime] NULL,
	[STARTTIMEZONE] [varchar](4) NULL,
	[ACTIVITYENDDATE] [datetime] NULL,
	[ENDTIME] [datetime] NULL,
	[ENDTIMEZONE] [varchar](4) NULL,
	[RELATIVEDEPTH] [varchar](15) NULL,
	[DEPTHHEIGHTMEASURE] [varchar](12) NULL,
	[DEPTHHEIGHTMEASUREUNIT] [varchar](12) NULL,
	[TOPDEPTHHEIGHTMEASURE] [varchar](12) NULL,
	[TOPDEPTHHEIGHTMEASUREUNIT] [varchar](12) NULL,
	[BOTTOMDEPTHHEIGHTMEASURE] [varchar](12) NULL,
	[BOTTOMDEPTHHEIGHTMEASUREUNIT] [varchar](12) NULL,
	[DEPTHALTITUDEREFPOINT] [varchar](125) NULL,
	[MONLOCID] [varchar](35) NULL,
	[ACTIVITYCOMMENT] [varchar](4000) NULL,
	[LATITUDEMEASURE] [varchar](30) NULL,
	[LONGITUDEMEASURE] [varchar](30) NULL,
	[SOURCEMAPSCALE] [varchar](12) NULL,
	[HORIZACCURACYMEASURE] [varchar](12) NULL,
	[HORIZACCURACYMEASUREUNIT] [varchar](12) NULL,
	[HORIZCOLLMETHOD] [varchar](150) NULL,
	[HORIZCOORDREFSYSDATUM] [varchar](6) NULL,
	[BIOACTIVITYASSEMBLAGESAMPD] [varchar](50) NULL,
	[BIOHABCOLLDURATIONMEASURE] [varchar](12) NULL,
	[BIOHABCOLLDURATIONMEASUREUNIT] [varchar](12) NULL,
	[BIOHABSAMPCOMP] [varchar](15) NULL,
	[BIOHABSAMPCOMPPLACEINSERIES] [varchar](12) NULL,
	[BIOHABREACHLENGTHMEASURE] [varchar](12) NULL,
	[BIOHABREACHLENGTHMEASUREUNIT] [varchar](12) NULL,
	[BIOHABREACHWIDTHMEASURE] [varchar](12) NULL,
	[BIOHABREACHWIDTHMEASUREUNIT] [varchar](12) NULL,
	[BIOHABPASSCOUNT] [varchar](12) NULL,
	[BIOHABNETTYPE] [varchar](30) NULL,
	[BIOHABNETSURFACEAREAMEASURE] [varchar](12) NULL,
	[BIOHABNETSURFACEMEASUREUNIT] [varchar](12) NULL,
	[BIOHABNETMESHSIZEMEASURE] [varchar](12) NULL,
	[BIOHABNETMESHMEASUREUNIT] [varchar](12) NULL,
	[BIOHABNETBOATSPEEDMEASURE] [varchar](12) NULL,
	[BIOHABNETBOATSPEEDMEASUREUNIT] [varchar](12) NULL,
	[BIOHABNETCURRSPEEDMEASURE] [varchar](12) NULL,
	[BIOHABNETCURRSPEEDMEASUREUNIT] [varchar](12) NULL,
	[BIOACTIVITYTOXICITYTESTTYPE] [varchar](7) NULL,
	[SAMPCOLLMETHODID] [varchar](20) NULL,
	[SAMPCOLLMETHODIDCONTEXT] [varchar](120) NULL,
	[SAMPCOLLMETHOD] [varchar](120) NULL,
	[SAMPCOLLMETHODQUALIFIER] [varchar](25) NULL,
	[SAMPCOLLMETHODDESC] [varchar](500) NULL,
	[SAMPCOLLEQUIPMENT] [varchar](40) NULL,
	[SAMPCOLLEQUIPMENTCOMMENT] [varchar](4000) NULL,
	[SAMPPREPID] [varchar](20) NULL,
	[SAMPPREPIDCONTEXT] [varchar](120) NULL,
	[SAMPPREP] [varchar](120) NULL,
	[SAMPPREPQUALIFIERTYPE] [varchar](25) NULL,
	[SAMPPREPDESC] [varchar](500) NULL,
	[SAMPPREPCONTTYPE] [varchar](35) NULL,
	[SAMPPREPCONTCOLOR] [varchar](15) NULL,
	[SAMPPREPCONTCHEMPRESERVUSED] [varchar](250) NULL,
	[SAMPPREPCONTTHERMALPRESERVUSED] [varchar](25) NULL,
	[SAMPPREPCONTSAMPTRANSSTORDESC] [varchar](250) NULL,
	[RESULTCOUNT] [varchar](255) NOT NULL,
	[WQXUPDATEDATE] [datetime] NOT NULL,
	[TMPACTIVITYTYPE] [varchar](50) NULL,
	[TMPPROJECTID] [varchar](50) NULL,
 CONSTRAINT [PK_WQX_ACTIVITY] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ACTIVITYACTIVITYGROUP](
	[RECORDID] [varchar](50) NOT NULL,
	[ACTIVITYPARENTID] [varchar](50) NOT NULL,
	[ACTIVITYGROUPPARENTID] [varchar](50) NOT NULL,
	[ACTIVITYID] [varchar](35) NOT NULL,
 CONSTRAINT [PK_WQX_ACTIVITYACTIVITYGROUP] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ACTIVITYCONDUCTINGORG](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[ACTIVITYID] [varchar](35) NOT NULL,
	[ACTIVITYCONDUCTINGORG] [varchar](120) NOT NULL,
 CONSTRAINT [PK_WQX_ACTIVITYCONDUCTINGORG] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ACTIVITYGROUP](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[ACTIVITYGROUPID] [varchar](35) NOT NULL,
	[ACTIVITYGROUPNAME] [varchar](50) NOT NULL,
	[ACTIVITYGROUPTYPECODE] [varchar](50) NOT NULL,
	[ACTIVITYID] [varchar](35) NOT NULL,
	[WQXUPDATEDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_WQX_ACTIVITYGROUP] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ACTIVITYMETRIC](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[METRICTYPEID] [varchar](35) NOT NULL,
	[METRICTYPEIDCONTEXT] [varchar](50) NOT NULL,
	[METRICTYPENAME] [varchar](50) NULL,
	[CITATIONRESOURCETITLE] [varchar](120) NULL,
	[CITATIONRESOURCECREATOR] [varchar](120) NULL,
	[CITATIONRESOURCESUBJECT] [varchar](500) NULL,
	[CITATIONRESOURCEPUBLISHER] [varchar](60) NULL,
	[CITATIONRESOURCEDATE] [datetime] NULL,
	[CITATIONRESOURCEID] [varchar](255) NULL,
	[METRICTYPESCALE] [varchar](50) NULL,
	[METRICTYPEFORMULADESC] [varchar](50) NULL,
	[METRICVALUEMEASURE] [varchar](12) NULL,
	[METRICVALUEMEASUREUNIT] [varchar](12) NULL,
	[METRICSCORE] [varchar](10) NULL,
	[METRICCOMMENT] [varchar](4000) NULL,
	[METRICINDEXID] [varchar](35) NULL,
 CONSTRAINT [PK_WQX_ACTIVITYMETRIC] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ALTMONLOC](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[MONLOCID] [varchar](35) NOT NULL,
	[MONLOCIDCONTEXT] [varchar](120) NOT NULL,
 CONSTRAINT [PK_WQX_ALTMONLOC] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_BIOLOGICALHABITATINDEX](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[INDEXID] [varchar](35) NOT NULL,
	[INDEXTYPEID] [varchar](35) NOT NULL,
	[INDEXTYPEIDCONTEXT] [varchar](50) NOT NULL,
	[INDEXTYPENAME] [varchar](50) NOT NULL,
	[RESOURCETITLE] [varchar](120) NULL,
	[RESOURCECREATOR] [varchar](120) NULL,
	[RESOURCESUBJECT] [varchar](500) NULL,
	[RESOURCEPUBLISHER] [varchar](60) NULL,
	[RESOURCEDATE] [varchar](10) NULL,
	[RESOURCEID] [varchar](255) NULL,
	[INDEXTYPESCALE] [varchar](50) NULL,
	[INDEXSCORE] [varchar](10) NOT NULL,
	[INDEXQUALIFIERCODE] [varchar](5) NULL,
	[INDEXCOMMENT] [varchar](4000) NULL,
	[INDEXCALCULATEDDATE] [varchar](10) NULL,
	[MONLOCID] [varchar](35) NOT NULL,
	[WQXUPDATEDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_WQX_BIOLOGICALHABITATINDEX] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_DELETES](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[COMPONENT] [varchar](50) NOT NULL,
	[IDENTIFIER] [varchar](50) NOT NULL,
	[WQXUPDATEDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_WQX_DELETES] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ELECTRONICADDRESS](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[ELECTRONICADDRESS] [varchar](120) NOT NULL,
	[ELECTRONICADDRESSTYPE] [varchar](8) NULL,
 CONSTRAINT [PK_WQX_ELECTRONICADDRESS] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_LABSAMPLEPREP](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[METHODID] [varchar](20) NOT NULL,
	[METHODIDCONTEXT] [varchar](120) NOT NULL,
	[METHODNAME] [varchar](120) NOT NULL,
	[METHODQUALIFIERTYPE] [varchar](25) NULL,
	[METHODDESC] [varchar](500) NULL,
	[PREPSTARTDATE] [datetime] NULL,
	[PREPSTARTTIME] [datetime] NULL,
	[PREPSTARTTIMEZONECODE] [varchar](4) NULL,
	[PREPENDDATE] [datetime] NULL,
	[PREPENDTIME] [datetime] NULL,
	[PREPENDTIMEZONECODE] [varchar](4) NULL,
	[SUBSTANCEDILUTIONFACTOR] [varchar](10) NULL,
 CONSTRAINT [PK_WQX_LABSAMPLEPREP] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_MONITORINGLOCATION](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[MONITORINGLOCATIONID] [varchar](35) NOT NULL,
	[MONLOCNAME] [varchar](255) NOT NULL,
	[MONLOCTYPE] [varchar](45) NOT NULL,
	[MONLOCDESC] [varchar](1999) NULL,
	[HUCEIGHTDIGITCODE] [varchar](8) NULL,
	[HUCTWELVEDIGITCODE] [varchar](12) NULL,
	[TRIBALLANDIND] [char](1) NOT NULL,
	[TRIBALLANDNAME] [varchar](200) NULL,
	[LATITUDEMEASURE] [varchar](30) NOT NULL,
	[LONGITUDEMEASURE] [varchar](30) NOT NULL,
	[SOURCEMAPSCALE] [int] NULL,
	[HORIZACCURACYMEASURE] [varchar](12) NULL,
	[HORIZACCURACYMEASUREUNIT] [varchar](12) NULL,
	[HORIZCOLLMETHOD] [varchar](150) NOT NULL,
	[HORIZCOORDREFSYSDATUM] [varchar](6) NOT NULL,
	[VERTICALMEASURE] [varchar](12) NULL,
	[VERTICALMEASUREUNIT] [varchar](12) NULL,
	[VERTICALCOLLMETHOD] [varchar](50) NULL,
	[VERTICALCOORDREFSYSDATUM] [varchar](10) NULL,
	[COUNTRYCODE] [varchar](2) NULL,
	[STATECODE] [varchar](2) NULL,
	[COUNTYCODE] [varchar](3) NULL,
	[WELLTYPE] [varchar](255) NULL,
	[AQUIFERNAME] [varchar](120) NULL,
	[FORMATIONTYPE] [varchar](50) NULL,
	[WELLHOLEDEPTHMEASURE] [varchar](12) NULL,
	[WELLHOLEDEPTHMEASUREUNIT] [varchar](12) NULL,
	[WQXUPDATEDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_WQX_MONITORINGLOCATION] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_MONLOCATTACHEDBINARYOBJECT](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[BINARYOBJECTFILE] [varchar](255) NOT NULL,
	[BINARYOBJECTFILETYPECODE] [varchar](6) NOT NULL,
 CONSTRAINT [PK_WQX_MONLOCATTBINARYOBJECT] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ORGADDRESS](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[ADDRESSTYPE] [varchar](8) NULL,
	[ADDRESS] [varchar](50) NOT NULL,
	[SUPPLEMENTALADDRESS] [varchar](120) NULL,
	[LOCALITY] [varchar](30) NULL,
	[STATECODE] [varchar](2) NULL,
	[POSTALCODE] [varchar](10) NULL,
	[COUNTRYCODE] [varchar](2) NULL,
	[COUNTYCODE] [varchar](3) NULL,
 CONSTRAINT [PK_WQX_ORGADDRESS] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_ORGANIZATION](
	[RECORDID] [varchar](50) NOT NULL,
	[ORGID] [varchar](30) NOT NULL,
	[ORGFORMALNAME] [varchar](120) NOT NULL,
	[ORGDESC] [varchar](500) NULL,
	[TRIBALCODE] [varchar](3) NULL,
 CONSTRAINT [PK_WQX_ORGANIZATION] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_PROJATTACHEDBINARYOBJECT](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[BINARYOBJECTFILE] [varchar](255) NOT NULL,
	[BINARYOBJECTFILETYPECODE] [varchar](6) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_PROJECT](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[PROJECTID] [varchar](35) NOT NULL,
	[PROJECTNAME] [varchar](120) NOT NULL,
	[PROJECTDESC] [varchar](1999) NULL,
	[SAMPLINGDESIGNTYPECODE] [varchar](20) NULL,
	[QAPPAPPROVEDIND] [char](1) NOT NULL,
	[QAPPAPPROVALAGENCYNAME] [varchar](50) NULL,
	[WQXUPDATEDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_WQX_PROJECT] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_PROJECTACTIVITY](
	[RECORDID] [varchar](50) NOT NULL,
	[PROJECTPARENTID] [varchar](50) NOT NULL,
	[ACTIVITYPARENTID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_WQX_PROJECTACTIVITY] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_PROJECTMONLOC](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[MONLOCID] [varchar](35) NOT NULL,
	[LOCWEIGHTINGFACMEASURE] [varchar](12) NOT NULL,
	[LOCWEIGHTINGFACMEASUREUNIT] [varchar](12) NOT NULL,
	[STATISTICALSTRATUM] [varchar](15) NULL,
	[LOCATIONCATERY] [varchar](50) NULL,
	[LOCATIONSTATUS] [varchar](15) NULL,
	[REFLOCATIONTYPECODE] [varchar](20) NULL,
	[REFLOCATIONSTARTDATE] [datetime] NULL,
	[REFLOCATIONENDDATE] [datetime] NULL,
	[RESOURCETITLE] [varchar](120) NULL,
	[RESOURCECREATOR] [varchar](120) NULL,
	[RESOURCESUBJECT] [varchar](500) NULL,
	[RESOURCEPUBLISHER] [varchar](60) NULL,
	[RESOURCEDATE] [datetime] NULL,
	[RESOURCEID] [varchar](255) NULL,
	[PROJMONLOCCOMMENT] [varchar](4000) NULL,
 CONSTRAINT [PK_WQX_PROJECTMONLOC] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_RESULT](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[DATALOGGERLINENAME] [varchar](15) NULL,
	[RESULTDETECTIONCONDITION] [varchar](35) NULL,
	[CHARACTERISTICNAME] [varchar](120) NULL,
	[METHODSPECIATIONNAME] [varchar](20) NULL,
	[RESULTSAMPFRACTION] [varchar](25) NULL,
	[RESULTMEASURE] [varchar](60) NULL,
	[RESULTMEASUREUNIT] [varchar](12) NULL,
	[RESULTMEASUREQUALIFIERCODE] [varchar](5) NULL,
	[STATUSID] [varchar](12) NULL,
	[STATISTICALBASECODE] [varchar](25) NULL,
	[VALUETYPE] [varchar](20) NULL,
	[WEIGHTBASIS] [varchar](15) NULL,
	[TIMEBASIS] [varchar](12) NULL,
	[TEMPERATUREBASIS] [varchar](12) NULL,
	[PARTICLESIZEBASIS] [varchar](15) NULL,
	[PRECISIONVALUE] [varchar](60) NULL,
	[BIASVALUE] [varchar](60) NULL,
	[CONFIDENCEINTERVALVALUE] [varchar](15) NULL,
	[UPPERCONFIDENCELIMITVALUE] [varchar](15) NULL,
	[LOWERCONFIDENCELIMITVALUE] [varchar](15) NULL,
	[RESULTCOMMENT] [varchar](4000) NULL,
	[DEPTHHEIGHTMEASURE] [varchar](12) NULL,
	[DEPTHHEIGHTMEASUREUNIT] [varchar](12) NULL,
	[DEPTHALTITUDEREFPOINT] [varchar](125) NULL,
	[RESULTSAMPPOINT] [varchar](12) NULL,
	[BIORESULTINTENT] [varchar](35) NULL,
	[BIORESULTINDIVIDUALID] [varchar](4) NULL,
	[BIORESULTSUBJECTTAXONOMIC] [varchar](120) NULL,
	[BIORESULTUNIDENTIFIEDSPECIESID] [varchar](120) NULL,
	[BIORESULTSAMPTISSUEANATOMY] [varchar](30) NULL,
	[GRPSUMMCOUNTWEIGHTMEASURE] [varchar](12) NULL,
	[GRPSUMMCOUNTWEIGHTMEASUREUNIT] [varchar](12) NULL,
	[TAXDETAILSCELLFORM] [varchar](11) NULL,
	[TAXDETAILSCELLSHAPE] [varchar](18) NULL,
	[TAXDETAILSHABITNAME] [varchar](15) NULL,
	[TAXDETAILSVOLTINISM] [varchar](25) NULL,
	[TAXDETAILSPOLLTOLERANCE] [varchar](4) NULL,
	[TAXDETAILSPOLLTOLERANCESCALE] [varchar](50) NULL,
	[TAXDETAILSTROPHICLEVEL] [varchar](4) NULL,
	[TAXDETAILSFUNCFEEDINGGROUP] [varchar](6) NULL,
	[CITATIONRESOURCETITLE] [varchar](120) NULL,
	[CITATIONRESOURCECREATOR] [varchar](120) NULL,
	[CITATIONRESOURCESUBJECT] [varchar](500) NULL,
	[CITATIONRESOURCEPUBLISHER] [varchar](60) NULL,
	[CITATIONRESOURCEDATE] [datetime] NULL,
	[CITATIONRESOURCEID] [varchar](255) NULL,
	[FREQCLASSDESCCODE] [varchar](50) NULL,
	[FREQCLASSDESCUNITCODE] [varchar](12) NULL,
	[FREQCLASSLOWERBOUNDVALUE] [varchar](8) NULL,
	[FREQCLASSUPPERBOUNDVALUE] [varchar](8) NULL,
	[ANALYTICALMETHODID] [varchar](20) NULL,
	[ANALYTICALMETHODIDCONTEXT] [varchar](120) NULL,
	[ANALYTICALMETHODNAME] [varchar](120) NULL,
	[ANALYTICALMETHODQUALIFIERTYPE] [varchar](25) NULL,
	[ANALYTICALMETHODDESC] [varchar](500) NULL,
	[LABNAME] [varchar](60) NULL,
	[LABANALYSISSTARTDATE] [datetime] NULL,
	[LABANALYSISSTARTTIME] [datetime] NULL,
	[LABANALYSISSTARTTIMEZONECODE] [varchar](4) NULL,
	[LABANALYSISENDDATE] [datetime] NULL,
	[LABANALYSISENDTIME] [datetime] NULL,
	[LABANALYSISENDTIMEZONECODE] [varchar](4) NULL,
	[RESULTLABCOMMENTCODE] [varchar](3) NULL,
	[LABACCIND] [char](1) NULL,
	[LABACCAUTHORITYNAME] [varchar](20) NULL,
	[LABTAXACCIND] [char](1) NULL,
	[LABTAXACCAUTHORITYNAME] [varchar](20) NULL,
 CONSTRAINT [PK_WQX_RESULT] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_RESULTATTACHEDBINARYOBJECT](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[BINARYOBJECTFILE] [varchar](255) NOT NULL,
	[BINARYOBJECTFILETYPECODE] [varchar](6) NOT NULL,
 CONSTRAINT [PK_WQX_RESULTATTBINARYOBJECT] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_RESULTDETECTQUANTLIMIT](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[DETECTQUANTLIMITTYPE] [varchar](35) NOT NULL,
	[DETECTQUANTLIMITMEASURE] [varchar](12) NULL,
	[DETECTQUANTLIMITMEASUNITCODE] [varchar](12) NULL,
 CONSTRAINT [PK_WQX_RESULTDETECTQUANTLIMIT] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_SUBMISSIONHISTORY](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[SCHEDULERUNDATE] [datetime] NOT NULL,
	[WQXUPDATEDATE] [datetime] NOT NULL,
	[SUBMISSIONTYPE] [varchar](13) NOT NULL,
	[LOCALTRANSACTIONID] [varchar](50) NOT NULL,
	[CDXPROCESSINGSTATUS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_WQX_SUBMISSIONHISTORY] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WQX_TELEPHONIC](
	[RECORDID] [varchar](50) NOT NULL,
	[PARENTID] [varchar](50) NOT NULL,
	[TELEPHONENUMBER] [varchar](15) NOT NULL,
	[TELEPHONENUMBERTYPE] [varchar](6) NULL,
	[TELEPHONEEXT] [varchar](6) NULL,
 CONSTRAINT [PK_WQX_TELEPHONIC] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [WQX_ACTIVITY]  WITH NOCHECK ADD  CONSTRAINT [FK_ORG_ACTIVITY] FOREIGN KEY([PARENTID])
REFERENCES [WQX_ORGANIZATION] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_ACTIVITY] CHECK CONSTRAINT [FK_ORG_ACTIVITY]
GO
ALTER TABLE [WQX_ACTIVITYACTIVITYGROUP]  WITH NOCHECK ADD  CONSTRAINT [FK_ACTIVITY_ACTACTGROUP] FOREIGN KEY([ACTIVITYPARENTID])
REFERENCES [WQX_ACTIVITY] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_ACTIVITYACTIVITYGROUP] CHECK CONSTRAINT [FK_ACTIVITY_ACTACTGROUP]
GO
ALTER TABLE [WQX_ACTIVITYACTIVITYGROUP]  WITH NOCHECK ADD  CONSTRAINT [FK_ACTIVITYGROUP_ACTACTGROUP] FOREIGN KEY([ACTIVITYGROUPPARENTID])
REFERENCES [WQX_ACTIVITYGROUP] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_ACTIVITYACTIVITYGROUP] CHECK CONSTRAINT [FK_ACTIVITYGROUP_ACTACTGROUP]
GO
ALTER TABLE [WQX_ACTIVITYGROUP]  WITH NOCHECK ADD  CONSTRAINT [FK_ORG_ACTIVITYGROUP] FOREIGN KEY([PARENTID])
REFERENCES [WQX_ORGANIZATION] ([RECORDID])
GO
ALTER TABLE [WQX_ACTIVITYGROUP] CHECK CONSTRAINT [FK_ORG_ACTIVITYGROUP]
GO
ALTER TABLE [WQX_ALTMONLOC]  WITH NOCHECK ADD  CONSTRAINT [FK_MONLOC_ALTMONLOC] FOREIGN KEY([PARENTID])
REFERENCES [WQX_MONITORINGLOCATION] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_ALTMONLOC] CHECK CONSTRAINT [FK_MONLOC_ALTMONLOC]
GO
ALTER TABLE [WQX_BIOLOGICALHABITATINDEX]  WITH NOCHECK ADD  CONSTRAINT [FK_ORG_BIOLOGICALHABITATINDEX] FOREIGN KEY([PARENTID])
REFERENCES [WQX_ORGANIZATION] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_BIOLOGICALHABITATINDEX] CHECK CONSTRAINT [FK_ORG_BIOLOGICALHABITATINDEX]
GO
ALTER TABLE [WQX_DELETES]  WITH NOCHECK ADD  CONSTRAINT [FK_WQX_DELETES_WQX_ORGANIZATION] FOREIGN KEY([PARENTID])
REFERENCES [WQX_ORGANIZATION] ([RECORDID])
GO
ALTER TABLE [WQX_DELETES] CHECK CONSTRAINT [FK_WQX_DELETES_WQX_ORGANIZATION]
GO
ALTER TABLE [WQX_ELECTRONICADDRESS]  WITH NOCHECK ADD  CONSTRAINT [FK_ORG_ELECTRONICADDRESS] FOREIGN KEY([PARENTID])
REFERENCES [WQX_ORGANIZATION] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_ELECTRONICADDRESS] CHECK CONSTRAINT [FK_ORG_ELECTRONICADDRESS]
GO
ALTER TABLE [WQX_LABSAMPLEPREP]  WITH NOCHECK ADD  CONSTRAINT [FK_RESULT_LABSAMPLEPREP] FOREIGN KEY([PARENTID])
REFERENCES [WQX_RESULT] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_LABSAMPLEPREP] CHECK CONSTRAINT [FK_RESULT_LABSAMPLEPREP]
GO
ALTER TABLE [WQX_MONITORINGLOCATION]  WITH NOCHECK ADD  CONSTRAINT [FK_ORG_MONITORINGLOCATION] FOREIGN KEY([PARENTID])
REFERENCES [WQX_ORGANIZATION] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_MONITORINGLOCATION] CHECK CONSTRAINT [FK_ORG_MONITORINGLOCATION]
GO
ALTER TABLE [WQX_PROJECTACTIVITY]  WITH NOCHECK ADD  CONSTRAINT [FK_PROJECT_PROJECTACTIVITY] FOREIGN KEY([PROJECTPARENTID])
REFERENCES [WQX_PROJECT] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_PROJECTACTIVITY] CHECK CONSTRAINT [FK_PROJECT_PROJECTACTIVITY]
GO
ALTER TABLE [WQX_PROJECTMONLOC]  WITH NOCHECK ADD  CONSTRAINT [FK_PROJECT_PROJECTMONLOC] FOREIGN KEY([PARENTID])
REFERENCES [WQX_PROJECT] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_PROJECTMONLOC] CHECK CONSTRAINT [FK_PROJECT_PROJECTMONLOC]
GO
ALTER TABLE [WQX_RESULTATTACHEDBINARYOBJECT]  WITH NOCHECK ADD  CONSTRAINT [FK_RESULT_RESULTATTBINOBJ] FOREIGN KEY([PARENTID])
REFERENCES [WQX_RESULT] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_RESULTATTACHEDBINARYOBJECT] CHECK CONSTRAINT [FK_RESULT_RESULTATTBINOBJ]
GO
ALTER TABLE [WQX_SUBMISSIONHISTORY]  WITH NOCHECK ADD  CONSTRAINT [FK_WQX_SUBMISSIONHISTORY_WQX_ORGANIZATION] FOREIGN KEY([PARENTID])
REFERENCES [WQX_ORGANIZATION] ([RECORDID])
GO
ALTER TABLE [WQX_SUBMISSIONHISTORY] CHECK CONSTRAINT [FK_WQX_SUBMISSIONHISTORY_WQX_ORGANIZATION]
GO
ALTER TABLE [WQX_TELEPHONIC]  WITH NOCHECK ADD  CONSTRAINT [FK_ORG_TELEPHONIC] FOREIGN KEY([PARENTID])
REFERENCES [WQX_ORGANIZATION] ([RECORDID])
ON DELETE CASCADE
GO
ALTER TABLE [WQX_TELEPHONIC] CHECK CONSTRAINT [FK_ORG_TELEPHONIC]