<?xml version="1.0" encoding="UTF-8"?>
#parse("eis_head.vm")
#foreach($loc in $helper.getData("select loc_id, cers_id, sta_and_cnty_fips_code, trib_code, sta_and_ctry_fips_code, census_block_iden, census_tract_iden, shape_iden, loc_cmnt, atch_file_name, atch_file_desc, atch_file_size, atch_file_cont_type_code from cers_loc where cers_id = ? ", $cer.cers_id))
	<cer:Location>
#if($loc.get("sta_and_cnty_fips_code"))
		<cer:StateAndCountyFIPSCode>$loc.get("sta_and_cnty_fips_code")</cer:StateAndCountyFIPSCode>
#end
#if($loc.get("trib_code"))
		<cer:TribalCode>$loc.get("trib_code")</cer:TribalCode>
#end
#if($loc.get("sta_and_ctry_fips_code"))
		<cer:StateAndCountryFIPSCode>$loc.get("sta_and_ctry_fips_code")</cer:StateAndCountryFIPSCode>
#end
#if($loc.get("census_block_iden"))
		<cer:CensusBlockIdentifier>$loc.get("census_block_iden")</cer:CensusBlockIdentifier>
#end
#if($loc.get("census_tract_iden"))
		<cer:CensusTractIdentifier>$loc.get("census_tract_iden")</cer:CensusTractIdentifier>
#end
#if($loc.get("shape_iden"))
		<cer:ShapeIdentifier>$loc.get("shape_iden")</cer:ShapeIdentifier>
#end
#if($loc.get("loc_cmnt"))
		<cer:LocationComment>$loc.get("loc_cmnt")</cer:LocationComment>
#end
#foreach($locExcl in $helper.getData("SELECT * FROM CERS_EXCL_LOC_PARM WHERE LOC_ID = ? ", $loc.get("loc_id")))
		<cer:ExcludedLocationParameter>
#if($locExcl.get("loc_type_code"))
			<cer:LocationTypeCode>$locExcl.get("loc_type_code")</cer:LocationTypeCode>
#end
#if($locExcl.get("loc_parm"))
			<cer:LocationParameter>$locExcl.get("loc_parm")</cer:LocationParameter>
#end
#if($locExcl.get("loc_cmnt"))
			<cer:LocationComment>$locExcl.get("loc_cmnt")</cer:LocationComment>
#end
		</cer:ExcludedLocationParameter>
#end ##foreach($locExcl)
#foreach($locProc in $helper.getData("SELECT * FROM CERS_LOC_PROC WHERE LOC_ID = ? ", $loc.get("loc_id")))
		<cer:LocationEmissionsProcess>
#if($locProc.get("src_class_code"))
			<cer:SourceClassificationCode>$locProc.get("src_class_code")</cer:SourceClassificationCode>
#end
#if($locProc.get("emis_type_code"))
			<cer:EmissionsTypeCode>$locProc.get("emis_type_code")</cer:EmissionsTypeCode>
#end
#if($locProc.get("proc_cmnt"))
			<cer:ProcessComment>$locProc.get("proc_cmnt")</cer:ProcessComment>
#end
#foreach($locProcRgln in $helper.getData("SELECT * FROM CERS_LOC_PROC_RGLN WHERE LOC_PROC_ID = ? ", $locProc.get("loc_proc_id")))
			<cer:ProcessRegulation>
#if($locProcRgln.get("rgtry_code"))
				<cer:RegulatoryCode>$locProcRgln.get("rgtry_code")</cer:RegulatoryCode>
#end
#if($locProcRgln.get("agn_code_txt"))
				<cer:AgencyCodeText>$locProcRgln.get("agn_code_txt")</cer:AgencyCodeText>
#end
#if($locProcRgln.get("rgln_cmnt"))
				<cer:RegulationComment>$locProcRgln.get("rgln_cmnt")</cer:RegulationComment>
#end
			</cer:ProcessRegulation>
#end ##foreach($locProcRgln)
#if($locProc.get("ctrl_apch_desc") || $locProc.get("pcnt_ctrl_apch_cap_efcy") || $locProc.get("pcnt_ctrl_apch_efct") || $locProc.get("pcnt_ctrl_apch_pen") || $locProc.get("first_inven_year") || $locProc.get("last_inven_year") || $locProc.get("ctrl_apch_cmnt"))
			<cer:ProcessControlApproach>
#if($locProc.get("ctrl_apch_desc"))
				<cer:ControlApproachDescription>$locProc.get("ctrl_apch_desc")</cer:ControlApproachDescription>
#end
#if($locProc.get("pcnt_ctrl_apch_cap_efcy"))
				<cer:PercentControlApproachCaptureEfficiency>$locProc.get("pcnt_ctrl_apch_cap_efcy")</cer:PercentControlApproachCaptureEfficiency>
#end
#if($locProc.get("pcnt_ctrl_apch_efct"))
				<cer:PercentControlApproachEffectiveness>$locProc.get("pcnt_ctrl_apch_efct")</cer:PercentControlApproachEffectiveness>
#end
#if($locProc.get("pcnt_ctrl_apch_pen"))
				<cer:PercentControlApproachPenetration>$locProc.get("pcnt_ctrl_apch_pen")</cer:PercentControlApproachPenetration>
#end
#if($locProc.get("ctrl_apch_cmnt"))
				<cer:ControlApproachComment>$locProc.get("ctrl_apch_cmnt")</cer:ControlApproachComment>
#end
#foreach($locProcCtrlApchCtrlMs in $helper.getData("SELECT * FROM CERS_LC_PRC_CTRL_APCH_CTRL_MS WHERE LOC_PROC_ID = ? ", $locProc.get("loc_proc_id")))
				<cer:ControlMeasure>
#if($locProcCtrlApchCtrlMs.get("ctrl_meas_code"))
					<cer:ControlMeasureCode>$locProcCtrlApchCtrlMs.get("ctrl_meas_code")</cer:ControlMeasureCode>
#end
				</cer:ControlMeasure>
#end ##foreach($locProcCtrlApchCtrlMs)
#foreach($locProcCtrlApchCtrlPlt in $helper.getData("SELECT * FROM CERS_LC_PRC_CTRL_APCH_CTRL_PLT WHERE LOC_PROC_ID = ? ", $locProc.get("loc_proc_id")))
				<cer:ControlPollutant>
#if($locProcCtrlApchCtrlPlt.get("polt_code"))
					<cer:PollutantCode>$locProcCtrlApchCtrlPlt.get("polt_code")</cer:PollutantCode>
#end
#if($locProcCtrlApchCtrlPlt.get("pcnt_ctrl_meas_redc_efcy"))
					<cer:PercentControlMeasuresReductionEfficiency>$locProcCtrlApchCtrlPlt.get("pcnt_ctrl_meas_redc_efcy")</cer:PercentControlMeasuresReductionEfficiency>
#end
				</cer:ControlPollutant>
#end ##foreach($locProcCtrlApchCtrlPlt)
			</cer:ProcessControlApproach>
#end ##if($locProc.get("ctrl_apch_desc") || $locProc.get("pcnt_ctrl_apch_cap_efcy")...)
#foreach($locProcRptPrd in $helper.getData("SELECT * FROM CERS_LOC_PROC_RPT_PRD WHERE LOC_PROC_ID = ? ", $locProc.get("loc_proc_id")))
			<cer:ReportingPeriod>
#if($locProcRptPrd.get("rpt_prd_type_code"))
				<cer:ReportingPeriodTypeCode>$locProcRptPrd.get("rpt_prd_type_code")</cer:ReportingPeriodTypeCode>
#end
#if($locProcRptPrd.get("calc_parm_type_code"))
				<cer:CalculationParameterTypeCode>$locProcRptPrd.get("calc_parm_type_code")</cer:CalculationParameterTypeCode>
#end
#if($locProcRptPrd.get("calc_parm_val"))
				<cer:CalculationParameterValue>$locProcRptPrd.get("calc_parm_val")</cer:CalculationParameterValue>
#end
#if($locProcRptPrd.get("calc_parm_unt_meas"))
				<cer:CalculationParameterUnitofMeasure>$locProcRptPrd.get("calc_parm_unt_meas")</cer:CalculationParameterUnitofMeasure>
#end
#if($locProcRptPrd.get("calc_material_code"))
				<cer:CalculationMaterialCode>$locProcRptPrd.get("calc_material_code")</cer:CalculationMaterialCode>
#end
#if($locProcRptPrd.get("calc_data_year"))
				<cer:CalculationDataYear>$locProcRptPrd.get("calc_data_year")</cer:CalculationDataYear>
#end
#if($locProcRptPrd.get("calc_data_src"))
				<cer:CalculationDataSource>$locProcRptPrd.get("calc_data_src")</cer:CalculationDataSource>
#end
#if($locProcRptPrd.get("rpt_prd_cmnt"))
				<cer:ReportingPeriodComment>$locProcRptPrd.get("rpt_prd_cmnt")</cer:ReportingPeriodComment>
#end
#if($locProcRptPrd.get("pcnt_winter_act") || $locProcRptPrd.get("pcnt_spring_act") || $locProcRptPrd.get("pcnt_summer_act") || $locProcRptPrd.get("pcnt_fall_act"))
				<cer:OperatingDetails>
#if($locProcRptPrd.get("pcnt_winter_act"))
					<cer:PercentWinterActivity>$locProcRptPrd.get("pcnt_winter_act")</cer:PercentWinterActivity>
#end
#if($locProcRptPrd.get("pcnt_spring_act"))
					<cer:PercentSpringActivity>$locProcRptPrd.get("pcnt_spring_act")</cer:PercentSpringActivity>
#end
#if($locProcRptPrd.get("pcnt_summer_act"))
					<cer:PercentSummerActivity>$locProcRptPrd.get("pcnt_summer_act")</cer:PercentSummerActivity>
#end
#if($locProcRptPrd.get("pcnt_fall_act"))
					<cer:PercentFallActivity>$locProcRptPrd.get("pcnt_fall_act")</cer:PercentFallActivity>
#end
				</cer:OperatingDetails>
#end ##if($locProcRptPrd.get("actl_hours_per_prd") || $locProcRptPrd.get("ave_days_per_week")...)
#foreach($locProcRptPrdSppClcPr in $helper.getData("SELECT * FROM CERS_LC_PRC_RPT_PRD_SPP_CLC_PR WHERE LOC_PROC_RPT_PRD_ID = ? ", $locProcRptPrd.get("loc_proc_rpt_prd_id")))
				<cer:SupplementalCalculationParameter>
#if($locProcRptPrdSppClcPr.get("supp_calc_parm_type"))
					<cer:SupplementalCalculationParameterType>$locProcRptPrdSppClcPr.get("supp_calc_parm_type")</cer:SupplementalCalculationParameterType>
#end
#if($locProcRptPrdSppClcPr.get("supp_calc_parm_val"))
					<cer:SupplementalCalculationParameterValue>$locProcRptPrdSppClcPr.get("supp_calc_parm_val")</cer:SupplementalCalculationParameterValue>
#end
#if($locProcRptPrdSppClcPr.get("spp_clc_prm_nm_unt_ms_cde"))
					<cer:SupplementalCalculationParameterNumeratorUnitofMeasureCode>$locProcRptPrdSppClcPr.get("spp_clc_prm_nm_unt_ms_cde")</cer:SupplementalCalculationParameterNumeratorUnitofMeasureCode>
#end
#if($locProcRptPrdSppClcPr.get("spp_clc_prm_dn_unt_ms_cde"))
					<cer:SupplementalCalculationParameterDenominatorUnitofMeasureCode>$locProcRptPrdSppClcPr.get("spp_clc_prm_dn_unt_ms_cde")</cer:SupplementalCalculationParameterDenominatorUnitofMeasureCode>
#end
#if($locProcRptPrdSppClcPr.get("supp_calc_parm_data_year"))
					<cer:SupplementalCalculationParameterDataYear>$locProcRptPrdSppClcPr.get("supp_calc_parm_data_year")</cer:SupplementalCalculationParameterDataYear>
#end
#if($locProcRptPrdSppClcPr.get("supp_calc_parm_data_src"))
					<cer:SupplementalCalculationParameterDataSource>$locProcRptPrdSppClcPr.get("supp_calc_parm_data_src")</cer:SupplementalCalculationParameterDataSource>
#end
#if($locProcRptPrdSppClcPr.get("supp_calc_parm_cmnt"))
					<cer:SupplementalCalculationParameterComment>$locProcRptPrdSppClcPr.get("supp_calc_parm_cmnt")</cer:SupplementalCalculationParameterComment>
#end
				</cer:SupplementalCalculationParameter>
#end ##foreach($locProcRptPrdSppClcPr)
#foreach($locProcRptPrdEmis in $helper.getData("SELECT * FROM CERS_LOC_PROC_RPT_PRD_EMIS WHERE LOC_PROC_RPT_PRD_ID = ? ", $locProcRptPrd.get("loc_proc_rpt_prd_id")))
				<cer:ReportingPeriodEmissions>
#if($locProcRptPrdEmis.get("polt_code"))
					<cer:PollutantCode>$locProcRptPrdEmis.get("polt_code")</cer:PollutantCode>
#end
#if($locProcRptPrdEmis.get("total_emis"))
					<cer:TotalEmissions>$locProcRptPrdEmis.get("total_emis")</cer:TotalEmissions>
#end
#if($locProcRptPrdEmis.get("emis_unt_meas_code"))
					<cer:EmissionsUnitofMeasureCode>$locProcRptPrdEmis.get("emis_unt_meas_code")</cer:EmissionsUnitofMeasureCode>
#end
#if($locProcRptPrdEmis.get("emis_fac"))
					<cer:EmissionFactor>$locProcRptPrdEmis.get("emis_fac")</cer:EmissionFactor>
#end
#if($locProcRptPrdEmis.get("emis_fac_num_unt_meas_code"))
					<cer:EmissionFactorNumeratorUnitofMeasureCode>$locProcRptPrdEmis.get("emis_fac_num_unt_meas_code")</cer:EmissionFactorNumeratorUnitofMeasureCode>
#end
#if($locProcRptPrdEmis.get("emis_fac_den_unt_meas_code"))
					<cer:EmissionFactorDenominatorUnitofMeasureCode>$locProcRptPrdEmis.get("emis_fac_den_unt_meas_code")</cer:EmissionFactorDenominatorUnitofMeasureCode>
#end
#if($locProcRptPrdEmis.get("emis_fac_txt"))
					<cer:EmissionFactorText>$locProcRptPrdEmis.get("emis_fac_txt")</cer:EmissionFactorText>
#end
#if($locProcRptPrdEmis.get("emis_calc_meth_code"))
					<cer:EmissionCalculationMethodCode>$locProcRptPrdEmis.get("emis_calc_meth_code")</cer:EmissionCalculationMethodCode>
#end
#if($locProcRptPrdEmis.get("emis_cmnt"))
					<cer:EmissionsComment>$locProcRptPrdEmis.get("emis_cmnt")</cer:EmissionsComment>
#end
				</cer:ReportingPeriodEmissions>
#end ##foreach($locProcRptPrdEmis)
			</cer:ReportingPeriod>
#end ##foreach($locProcRptPrd)
		</cer:LocationEmissionsProcess>
#end ##foreach($locProc)
	</cer:Location>
#end ##foreach($loc)
#parse("eis_foot.vm")