<?xml version="1.0" encoding="UTF-8"?>
#parse("rcra5_head.vm")
#if($handlerLimit) $helper.print("HandlerLimit:") $helper.print($handlerLimit)
## this query lets us limit the results for test - DB2 specific syntax
    #set($handlerQuery = "SELECT EPA_HDLR_ID FROM RCRA_CME_FAC_SUBM fetch first $handlerLimit rows only")
#else
    #set($handlerQuery = "SELECT EPA_HDLR_ID FROM RCRA_CME_FAC_SUBM ")
#end$helper.print("handlerQuery: $handlerQuery")
<RC:HazardousWasteCMESubmission xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.exchangenetwork.net/schema/RCRA/5 http://www.exchangenetwork.net/schema/RCRA/5/0/RCRA_HazardousWasteCMESubmission_v5.0.xsd">
#foreach($handlerId in $helper.getList($handlerQuery, "epa_hdlr_id"))
    #if ($velocityCount % 500 == 0)$helper.print($velocityCount)$helper.printElapsedTime()#end
        #set ($totalRecCount = $velocityCount)
<RC:CMEFacilitySubmission>
        #set ($handler = $helper.getObject("SELECT * FROM RCRA_CME_FAC_SUBM WHERE EPA_HDLR_ID = ? ", $handlerId))
    <RC:EPAHandlerID>$handler.get("epa_hdlr_id")</RC:EPAHandlerID>
        #foreach($enf in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_ENFRC_ACT e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID WHERE EPA_HDLR_ID = ? ", $handlerId) )
        #if(($enf.get("enfrc_agn_loc_name"))||($enf.get("enfrc_act_iden"))||($enf.get("enfrc_act_date"))||($enf.get("enfrc_agn_name")))
    <RC:EnforcementAction>
            #if($enf.get("trans_code"))
        <RC:TransactionCode>$enf.get("trans_code")</RC:TransactionCode>
            #end
        <RC:EnforcementAgencyLocationName>$enf.get("enfrc_agn_loc_name")</RC:EnforcementAgencyLocationName>
        <RC:EnforcementActionIdentifier>$enf.get("enfrc_act_iden")</RC:EnforcementActionIdentifier>
        <RC:EnforcementActionDate>$enf.get("enfrc_act_date")</RC:EnforcementActionDate>
        <RC:EnforcementAgencyName>$enf.get("enfrc_agn_name")</RC:EnforcementAgencyName>
            #if($enf.get("enfrc_docket_num"))
        <RC:EnforcementDocketNumber>$enf.get("enfrc_docket_num")</RC:EnforcementDocketNumber>
            #end
            #if($enf.get("enfrc_attry"))
        <RC:EnforcementAttorney>$enf.get("enfrc_attry")</RC:EnforcementAttorney>
            #end
            #if($enf.get("corct_act_compt"))
        <RC:CorrectiveActionComponent>$enf.get("corct_act_compt")</RC:CorrectiveActionComponent>
            #end
            #if($enf.get("cnst_agmt_final_order_seq_num"))
        <RC:ConsentAgreementFinalOrderSequenceNumber>$enf.get("cnst_agmt_final_order_seq_num")</RC:ConsentAgreementFinalOrderSequenceNumber>
            #end
            #if($enf.get("appeal_init_date"))
        <RC:AppealInitiatedDate>$enf.get("appeal_init_date")</RC:AppealInitiatedDate>
            #end
            #if($enf.get("appeal_rsln_date"))
        <RC:AppealResolutionDate>$enf.get("appeal_rsln_date")</RC:AppealResolutionDate>
            #end
            #if($enf.get("disp_stat_date"))
        <RC:DispositionStatusDate>$enf.get("disp_stat_date")</RC:DispositionStatusDate>
            #end
            #if($enf.get("disp_stat_owner"))
        <RC:DispositionStatusOwner>$enf.get("disp_stat_owner")</RC:DispositionStatusOwner>
            #end
            #if($enf.get("disp_stat"))
        <RC:DispositionStatus>$enf.get("disp_stat")</RC:DispositionStatus>
            #end
            #if($enf.get("enfrc_owner"))
        <RC:EnforcementOwner>$enf.get("enfrc_owner")</RC:EnforcementOwner>
            #end
            #if($enf.get("enfrc_type"))
        <RC:EnforcementType>$enf.get("enfrc_type")</RC:EnforcementType>
            #end
            #if($enf.get("enfrc_resp_person_owner"))
        <RC:EnforcementResponsiblePersonOwner>$enf.get("enfrc_resp_person_owner")</RC:EnforcementResponsiblePersonOwner>
            #end
            #if($enf.get("enfrc_resp_person_iden"))
        <RC:EnforcementResponsiblePersonIdentifier>$enf.get("enfrc_resp_person_iden")</RC:EnforcementResponsiblePersonIdentifier>
            #end
            #if($enf.get("enfrc_resp_suborg_owner"))
        <RC:EnforcementResponsibleSuborganizationOwner>$enf.get("enfrc_resp_suborg_owner")</RC:EnforcementResponsibleSuborganizationOwner>
            #end
            #if($enf.get("enfrc_resp_suborg"))
        <RC:EnforcementResponsibleSuborganization>$enf.get("enfrc_resp_suborg")</RC:EnforcementResponsibleSuborganization>
            #end
            #if($enf.get("notes"))
        <RC:Notes>$enf.get("notes")</RC:Notes>
            #end 
            #set($enfActionId = $enf.get("enfrc_act_id"))
            #foreach($penalty in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_ENFRC_ACT e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID JOIN RCRA_CME_PNLTY p ON e.ENFRC_ACT_ID = p.ENFRC_ACT_ID WHERE EPA_HDLR_ID = ? and e.ENFRC_ACT_ID = ? ", [$handlerId, $enfActionId]))
                #if(($penalty.get("pnlty_type"))||($penalty.get("pnlty_type_owner")))
            <RC:Penalty>
                    #if($penalty.get("trans_code"))
                <RC:TransactionCode>$penalty.get("trans_code")</RC:TransactionCode>
                    #end
                    #if($penalty.get("pnlty_type_owner"))
                <RC:PenaltyTypeOwner>$penalty.get("pnlty_type_owner")</RC:PenaltyTypeOwner>
                    #end
                    #if($penalty.get("pnlty_type"))
                <RC:PenaltyType>$penalty.get("pnlty_type")</RC:PenaltyType>
                    #end
                    #if($penalty.get("cash_civil_pnlty_sought_amount"))
                <RC:CashCivilPenaltySoughtAmount>$penalty.get("cash_civil_pnlty_sought_amount")</RC:CashCivilPenaltySoughtAmount>
                    #end
                    #if($penalty.get("notes"))
                <RC:Notes>$penalty.get("notes")</RC:Notes>
                    #end
                    #foreach($payment in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_ENFRC_ACT e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID JOIN RCRA_CME_PNLTY p ON e.ENFRC_ACT_ID = p.ENFRC_ACT_ID JOIN RCRA_CME_PYMT cp ON p.PNLTY_ID = cp.PNLTY_ID WHERE EPA_HDLR_ID = ? ", $handlerId))
                        #if(($payment.get("pymt_seq_num")))
                    <RC:Payment>
                            #if($payment.get("trans_code"))
                        <RC:TransactionCode>$payment.get("trans_code")</RC:TransactionCode>
                            #end
                            #if($payment.get("pymt_seq_num"))
                        <RC:PaymentSequenceNumber>$payment.get("pymt_seq_num")</RC:PaymentSequenceNumber>
                            #end
                            #if($payment.get("pymt_dflt_date"))
                        <RC:PaymentDefaultedDate>$payment.get("pymt_dflt_date")</RC:PaymentDefaultedDate>
                            #end
                            #if($payment.get("schd_pymt_date"))
                        <RC:ScheduledPaymentDate>$payment.get("schd_pymt_date")</RC:ScheduledPaymentDate>
                            #end
                            #if($payment.get("schd_pymt_amount"))
                        <RC:ScheduledPaymentAmount>$payment.get("schd_pymt_amount")</RC:ScheduledPaymentAmount>
                            #end
                            #if($payment.get("actl_pymt_date"))
                        <RC:ActualPaymentDate>$payment.get("actl_pymt_date")</RC:ActualPaymentDate>
                            #end
                            #if($payment.get("actl_paid_amount"))
                        <RC:ActualPaidAmount>$payment.get("actl_paid_amount")</RC:ActualPaidAmount>
                            #end
                            #if($payment.get("notes"))
                        <RC:Notes>$payment.get("notes")</RC:Notes>
                            #end
                    </RC:Payment>
                        #end
                    #end
            </RC:Penalty>
                #end
            #end
            #foreach($violenf in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_ENFRC_ACT e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID JOIN RCRA_CME_VIOL_ENFRC ve ON e.ENFRC_ACT_ID = ve.ENFRC_ACT_ID WHERE EPA_HDLR_ID = ? and e.ENFRC_ACT_ID = ? ", [$handlerId, $enfActionId]))
                #if(($violenf.get("viol_seq_num"))||($violenf.get("agn_which_dtrm_viol")))
            <RC:ViolationEnforcement>
                    #if($violenf.get("trans_code"))
                <RC:TransactionCode>$violenf.get("trans_code")</RC:TransactionCode>
                    #end
                    #if($violenf.get("viol_seq_num"))
                <RC:ViolationSequenceNumber>$violenf.get("viol_seq_num")</RC:ViolationSequenceNumber>
                    #end
                    #if($violenf.get("agn_which_dtrm_viol"))
                <RC:AgencyWhichDeterminedViolation>$violenf.get("agn_which_dtrm_viol")</RC:AgencyWhichDeterminedViolation>
                    #end
                    #if($violenf.get("rtn_compl_schd_date"))
                <RC:ReturnComplianceScheduledDate>$violenf.get("rtn_compl_schd_date")</RC:ReturnComplianceScheduledDate>
                    #end
            </RC:ViolationEnforcement>
                #end
            #end
            #foreach($sep in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_ENFRC_ACT e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID JOIN RCRA_CME_SUPP_ENVR_PRJT s ON e.ENFRC_ACT_ID = s.ENFRC_ACT_ID WHERE EPA_HDLR_ID = ? ", $handlerId))
                #if(($sep.get("sep_seq_num")))
            <RC:SupplementalEnvironmentalProject>
                    #if($sep.get("trans_code"))
                <RC:TransactionCode>$sep.get("trans_code")</RC:TransactionCode>
                    #end
                    #if($sep.get("sep_seq_num"))
                <RC:SEPSequenceNumber>$sep.get("sep_seq_num")</RC:SEPSequenceNumber>
                    #end
                    #if($sep.get("sep_expnd_amount"))
                <RC:SEPExpenditureAmount>$sep.get("sep_expnd_amount")</RC:SEPExpenditureAmount>
                    #end
                    #if($sep.get("sep_schd_comp_date"))
                <RC:SEPScheduledCompletionDate>$sep.get("sep_schd_comp_date")</RC:SEPScheduledCompletionDate>
                    #end
                    #if($sep.get("sep_actl_date"))
                <RC:SEPActualDate>$sep.get("sep_actl_date")</RC:SEPActualDate>
                    #end
                    #if($sep.get("sep_dflt_date"))
                <RC:SEPDefaultedDate>$sep.get("sep_dflt_date")</RC:SEPDefaultedDate>
                    #end
                    #if($sep.get("sep_code_owner"))
                <RC:SEPCodeOwner>$sep.get("sep_code_owner")</RC:SEPCodeOwner>
                    #end
                    #if($sep.get("sep_desc_txt"))
                <RC:SEPDescriptionText>$sep.get("sep_desc_txt")</RC:SEPDescriptionText>
                    #end
                    #if($sep.get("notes"))
                <RC:Notes>$sep.get("notes")</RC:Notes>
                    #end
            </RC:SupplementalEnvironmentalProject>
                #end
            #end
            #foreach($media in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_ENFRC_ACT e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID JOIN RCRA_CME_MEDIA m ON e.ENFRC_ACT_ID = m.ENFRC_ACT_ID WHERE EPA_HDLR_ID = ? ", $handlerId))
                #if(($media.get("multimedia_code_owner"))||($media.get("multimedia_code")))
            <RC:Media>
                    #if($media.get("trans_code"))
                <RC:TransactionCode>$media.get("trans_code")</RC:TransactionCode>
                    #end
                    #if($media.get("multimedia_code_owner"))
                <RC:MultimediaCodeOwner>$media.get("multimedia_code_owner")</RC:MultimediaCodeOwner>
                    #end
                    #if($media.get("multimedia_code"))
                <RC:MultimediaCode>$media.get("multimedia_code")</RC:MultimediaCode>
                    #end
                    #if($media.get("notes"))
                <RC:Notes>$media.get("notes")</RC:Notes>
                    #end
            </RC:Media>
                #end
            #end
    </RC:EnforcementAction>
        #end
    #end
    #foreach($eval in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_EVAL e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID WHERE EPA_HDLR_ID = ? ", $handlerId) )
        #if(($eval.get("eval_act_loc"))||($eval.get("eval_iden"))||($eval.get("eval_start_date"))||($eval.get("eval_resp_agn")))
    <RC:Evaluation>
            #if($eval.get("trans_code"))
        <RC:TransactionCode>$eval.get("trans_code")</RC:TransactionCode>
            #end
            #if($eval.get("eval_act_loc"))
        <RC:EvaluationActivityLocation>$eval.get("eval_act_loc")</RC:EvaluationActivityLocation>
            #end
            #if($eval.get("eval_iden"))
        <RC:EvaluationIdentifier>$eval.get("eval_iden")</RC:EvaluationIdentifier>
            #end
            #if($eval.get("eval_start_date"))
        <RC:EvaluationStartDate>$eval.get("eval_start_date")</RC:EvaluationStartDate>
            #end
            #if($eval.get("eval_resp_agn"))
        <RC:EvaluationResponsibleAgency>$eval.get("eval_resp_agn")</RC:EvaluationResponsibleAgency>
            #end
            #if($eval.get("day_zero"))
        <RC:DayZero>$eval.get("day_zero")</RC:DayZero>
            #end
            #if($eval.get("found_viol"))
        <RC:FoundViolation>$eval.get("found_viol")</RC:FoundViolation>
            #end
            #if($eval.get("ctzn_cplt_ind"))
        <RC:CitizenComplaintIndicator>$eval.get("ctzn_cplt_ind")</RC:CitizenComplaintIndicator>
            #end
            #if($eval.get("multimedia_ind"))
        <RC:MultimediaIndicator>$eval.get("multimedia_ind")</RC:MultimediaIndicator>
            #end
            #if($eval.get("sampl_ind"))
        <RC:SamplingIndicator>$eval.get("sampl_ind")</RC:SamplingIndicator>
            #end
            #if($eval.get("not_subtl_c_ind"))
        <RC:NotSubtitleCIndicator>$eval.get("not_subtl_c_ind")</RC:NotSubtitleCIndicator>
            #end
            #if($eval.get("eval_type_owner"))
        <RC:EvaluationTypeOwner>$eval.get("eval_type_owner")</RC:EvaluationTypeOwner>
            #end
            #if($eval.get("eval_type"))
        <RC:EvaluationType>$eval.get("eval_type")</RC:EvaluationType>
            #end
            #if($eval.get("focus_area_owner"))
        <RC:FocusAreaOwner>$eval.get("focus_area_owner")</RC:FocusAreaOwner>
            #end
            #if($eval.get("focus_area"))
        <RC:FocusArea>$eval.get("focus_area")</RC:FocusArea>
            #end
            #if($eval.get("eval_resp_person_iden_owner"))
        <RC:EvaluationResponsiblePersonIdentifierOwner>$eval.get("eval_resp_person_iden_owner")</RC:EvaluationResponsiblePersonIdentifierOwner>
            #end
            #if($eval.get("eval_resp_person_iden"))
        <RC:EvaluationResponsiblePersonIdentifier>$eval.get("eval_resp_person_iden")</RC:EvaluationResponsiblePersonIdentifier>
            #end
            #if($eval.get("eval_resp_suborg_owner"))
        <RC:EvaluationResponsibleSuborganizationOwner>$eval.get("eval_resp_suborg_owner")</RC:EvaluationResponsibleSuborganizationOwner>
            #end
            #if($eval.get("eval_resp_suborg"))
        <RC:EvaluationResponsibleSuborganization>$eval.get("eval_resp_suborg")</RC:EvaluationResponsibleSuborganization>
            #end
            #if($eval.get("notes"))
        <RC:Notes>$eval.get("notes")</RC:Notes>
            #end
            #set($evalId = $eval.get("eval_id"))
            #foreach($request in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_EVAL e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID JOIN RCRA_CME_RQST r ON e.EVAL_ID = r.EVAL_ID WHERE EPA_HDLR_ID = ? and e.EVAL_ID = ? ", [$handlerId, $evalId]))
                #if(($request.get("rqst_seq_num")))
            <RC:Request>
                    #if($request.get("trans_code"))
                <RC:TransactionCode>$request.get("trans_code")</RC:TransactionCode>
                    #end
                    #if($request.get("rqst_seq_num"))
                <RC:RequestSequenceNumber>$request.get("rqst_seq_num")</RC:RequestSequenceNumber>
                    #end
                    #if($request.get("date_of_rqst"))
                <RC:DateOfRequest>$request.get("date_of_rqst")</RC:DateOfRequest>
                    #end
                    #if($request.get("date_resp_rcvd"))
                <RC:DateResponseReceived>$request.get("date_resp_rcvd")</RC:DateResponseReceived>
                    #end
                    #if($request.get("rqst_agn"))
                <RC:RequestAgency>$request.get("rqst_agn")</RC:RequestAgency>
                    #end
                    #if($request.get("notes"))
                <RC:Notes>$request.get("notes")</RC:Notes>
                    #end
            </RC:Request>
                #end
            #end
            #foreach($comm in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_EVAL e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID JOIN RCRA_CME_EVAL_COMMIT c ON e.EVAL_ID = c.EVAL_ID WHERE EPA_HDLR_ID = ? ", $handlerId))
                #if(($comm.get("commit_lead"))||($comm.get("commit_seq_num")))
            <RC:EvaluationCommitment>
                    #if($comm.get("trans_code"))
                <RC:TransactionCode>$comm.get("trans_code")</RC:TransactionCode>
                    #end
                    #if($comm.get("commit_lead"))
                <RC:CommitmentLead>$comm.get("commit_lead")</RC:CommitmentLead>
                    #end
                    #if($comm.get("commit_seq_num"))
                <RC:CommitmentSequenceNumber>$comm.get("commit_seq_num")</RC:CommitmentSequenceNumber>
                    #end
                    #if($comm.get("notes"))
                <RC:Notes>$comm.get("notes")</RC:Notes>
                    #end
            </RC:EvaluationCommitment>
                #end
            #end
            #foreach($ev in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_EVAL e ON fs.CME_FAC_SUBM_ID = e.CME_FAC_SUBM_ID JOIN RCRA_CME_EVAL_VIOL ev ON e.EVAL_ID = ev.EVAL_ID WHERE EPA_HDLR_ID = ? and e.EVAL_ID = ? ", [$handlerId, $evalId]))
                #if(($ev.get("viol_act_loc"))||($ev.get("viol_seq_num"))||($ev.get("agn_which_dtrm_viol")))
            <RC:EvaluationViolation>
                    #if($ev.get("trans_code"))
                <RC:TransactionCode>$ev.get("trans_code")</RC:TransactionCode>
                    #end
                    #if($ev.get("viol_act_loc"))
                <RC:ViolationActivityLocation>$ev.get("viol_act_loc")</RC:ViolationActivityLocation>
                    #end
                    #if($ev.get("viol_seq_num"))
                <RC:ViolationSequenceNumber>$ev.get("viol_seq_num")</RC:ViolationSequenceNumber>
                    #end
                    #if($ev.get("agn_which_dtrm_viol"))
                <RC:AgencyWhichDeterminedViolation>$ev.get("agn_which_dtrm_viol")</RC:AgencyWhichDeterminedViolation>
                    #end
            </RC:EvaluationViolation>
                #end
            #end
    </RC:Evaluation>
        #end
    #end
    #foreach($viol in $helper.getData("SELECT * FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_VIOL v ON fs.CME_FAC_SUBM_ID = v.CME_FAC_SUBM_ID WHERE EPA_HDLR_ID = ? ", $handlerId) )
        #if(($viol.get("viol_act_loc"))||($viol.get("viol_seq_num"))||($viol.get("agn_which_dtrm_viol")))
    <RC:Violation>
            #if($viol.get("trans_code"))
        <RC:TransactionCode>$viol.get("trans_code")</RC:TransactionCode>
            #end
            #if($viol.get("viol_act_loc"))
        <RC:ViolationActivityLocation>$viol.get("viol_act_loc")</RC:ViolationActivityLocation>
            #end
            #if($viol.get("viol_seq_num"))
        <RC:ViolationSequenceNumber>$viol.get("viol_seq_num")</RC:ViolationSequenceNumber>
            #end
            #if($viol.get("agn_which_dtrm_viol"))
        <RC:AgencyWhichDeterminedViolation>$viol.get("agn_which_dtrm_viol")</RC:AgencyWhichDeterminedViolation>
            #end
            #if($viol.get("viol_type_owner"))
        <RC:ViolationTypeOwner>$viol.get("viol_type_owner")</RC:ViolationTypeOwner>
            #end
            #if($viol.get("viol_type"))
        <RC:ViolationType>$viol.get("viol_type")</RC:ViolationType>
            #end
            #if($viol.get("former_citation_name"))
        <RC:FormerCitationName>$viol.get("former_citation_name")</RC:FormerCitationName>
            #end
            #if($viol.get("viol_dtrm_date"))
        <RC:ViolationDeterminedDate>$viol.get("viol_dtrm_date")</RC:ViolationDeterminedDate>
            #end
            #if($viol.get("rtn_compl_actl_date"))
        <RC:ReturnComplianceActualDate>$viol.get("rtn_compl_actl_date")</RC:ReturnComplianceActualDate>
            #end
            #if($viol.get("rtn_to_compl_qual"))
        <RC:ReturnToComplianceQualifier>$viol.get("rtn_to_compl_qual")</RC:ReturnToComplianceQualifier>
            #end
            #if($viol.get("viol_resp_agn"))
        <RC:ViolationResponsibleAgency>$viol.get("viol_resp_agn")</RC:ViolationResponsibleAgency>
            #end
            #if($viol.get("notes"))
        <RC:Notes>$viol.get("notes")</RC:Notes>
            #end
            #set($violId = $viol.get("viol_id"))
            #foreach($citation in $helper.getData("SELECT c.citation_name_seq_num, c.trans_code, c.citation_name, c.citation_name_owner, c.citation_name_type, c.notes FROM RCRA_CME_FAC_SUBM fs JOIN RCRA_CME_VIOL v ON fs.CME_FAC_SUBM_ID = v.CME_FAC_SUBM_ID JOIN RCRA_CME_CITATION c ON v.VIOL_ID = c.VIOL_ID WHERE EPA_HDLR_ID = ? and v.viol_id = ?  ", [$handlerId, $violId]))
                #if(($citation.get("citation_name_seq_num")))
            <RC:Citation>
                    #if($citation.get("trans_code"))
                <RC:TransactionCode>$citation.get("trans_code")</RC:TransactionCode>
                    #end
                    #if($citation.get("citation_name_seq_num"))
                <RC:CitationNameSequenceNumber>$citation.get("citation_name_seq_num")</RC:CitationNameSequenceNumber>
                    #end
                    #if($citation.get("citation_name"))
                <RC:CitationName>$citation.get("citation_name")</RC:CitationName>
                    #end
                    #if($citation.get("citation_name_owner"))
                <RC:CitationNameOwner>$citation.get("citation_name_owner")</RC:CitationNameOwner>
                    #end
                    #if($citation.get("citation_name_type"))
                <RC:CitationNameType>$citation.get("citation_name_type")</RC:CitationNameType>
                    #end
                    #if($citation.get("notes"))
                <RC:Notes>$citation.get("notes")</RC:Notes>
                    #end
            </RC:Citation>
                #end
            #end
    </RC:Violation>
        #end
    #end
</RC:CMEFacilitySubmission>
#end
</RC:HazardousWasteCMESubmission>
#parse("rcra5_foot.vm")
