<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:r="http://www.springframework.net/remoting">

    <!-- Service Deffenition 
       TODO: Move these to seperate config files one we have some implementation
  -->

    <!-- MANAGERS -->

    <object id="requestManager" type="Windsor.Node2008.WNOS.Logic.RequestManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="RequestDao" ref="requestDao" />
    </object>

    <object id="logicBaseManager" abstract="true">
        <property name="TransactionTemplate" ref="transactionTemplate"/>
    </object>

    <object id="logicAuditBaseManager" parent="logicBaseManager" abstract="true">
        <property name="ActivityManager" ref="activityManager" />
        <property name="SettingsProvider" ref="settingsProvider"/>
        <property name="AccountPolicyManager" ref="accountPolicyManager" />
    </object>

    <object id="activityManager" type="Windsor.Node2008.WNOS.Logic.ActivityManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="ActivityDao" ref="activityDao" />
        <property name="AccountDao" ref="accountDao" />
        <property name="AccountManager" ref="accountManager" />
        <property name="FlowDao" ref="flowDao" />
        <property name="TransactionDao" ref="transactionDao" />
    </object>

    <object id="transactionStatusChangeNotifier" type="Windsor.Node2008.WNOS.Logic.TransactionStatusChangeNotifier, Windsor.Node2008.WNOS">
    </object>

    <object id="configManager" type="Windsor.Node2008.WNOS.Logic.ConfigManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="ConfigDao" ref="configDao" />
        <property name="CryptographyProvider" ref="cryptographyProvider" />
    </object>

    <object id="fileBasedContentManager" type="Windsor.Node2008.WNOS.Logic.FileBasedContentManager, Windsor.Node2008.WNOS"
            init-method="Init">
        <property name="RepositoryDirectoryPath" value="${wnos.document.manager.fs.repo.path}" />
        <property name="DocumentExtension" value="windsor" />
    </object>

    <object id="databaseBasedContentManager" type="Windsor.Node2008.WNOS.Logic.DatabaseBasedContentManager, Windsor.Node2008.WNOS"
            init-method="Init">
        <property name="DocumentContentDao" ref="documentContentDao" />
        <property name="IdProvider" ref="idProvider" />
    </object>

    <object id="documentManager" type="Windsor.Node2008.WNOS.Logic.DocumentManager, Windsor.Node2008.WNOS"
            init-method="Init">
        <property name="IdProvider" ref="idProvider" />
        <property name="DocumentDao" ref="documentDao" />
        <!-- DEPLOY: Set one of the following: -->
        <!--<property name="DocumentContentManager" ref="fileBasedContentManager" />-->
        <property name="DocumentContentManager" ref="databaseBasedContentManager" />
        <property name="CompressionHelper" ref="compressionHelper" />
        <property name="AlwaysCompressDocumentContents" value="true" />
    </object>

    <object id="accountManager" type="Windsor.Node2008.WNOS.Logic.AccountManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="AccountDao" ref="accountDao" />
        <property name="AdminUserName" value="${wnos.naas.user.admin}" />
        <property name="RuntimeUserName" value="${wnos.naas.user.runtime}" />
        <property name="NAASManager" ref="naasManager" />
        <property name="NotificationManager" ref="notificationManager" />
        <property name="TransactionManager" ref="transactionManager" />
        <property name="SecurityFlowName" value="Flow-Security" />
        <property name="SecurityBulkAddUsersServiceName" value="Bulk Add Users" />
    </object>

    <object id="accountPolicyManager" type="Windsor.Node2008.WNOS.Logic.AccountPolicyManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="AccountManager" ref="accountManager" />
        <property name="AccountService" ref="accountManager" />
        <property name="NAASManager" ref="naasManager" />
        <property name="FlowManager" ref="flowManager" />
    </object>

    <object id="dataProviderManager" type="Windsor.Node2008.WNOS.Logic.DataProviderManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="DataProviderDao" ref="dataProviderDao" />
    </object>

    <object id="partnerManager" type="Windsor.Node2008.WNOS.Logic.PartnerManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="PartnerDao" ref="partnerDao" />
        <property name="NodeEndpointClientFactory" ref="nodeEndpointClientFactory" />
    </object>

    <object id="transactionManager" type="Windsor.Node2008.WNOS.Logic.TransactionManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="TransactionDao" ref="transactionDao" />
        <property name="DocumentManager" ref="documentManager" />
        <property name="NodeEndpointClientFactory" ref="nodeEndpointClientFactory" />
        <property name="CompressionHelper" ref="compressionHelper" />
        <property name="NotificationManager" ref="notificationManager" />
        <property name="ServiceManager" ref="serviceManager" />
        <property name="PluginLoader" ref="pluginLoader" />
        <property name="RequestManager" ref="requestManager" />
        <property name="ObjectCacheDao" ref="objectCacheDao" />
        <property name="ScheduleDao" ref="scheduleDao" />
    </object>

    <object id="serviceManager" type="Windsor.Node2008.WNOS.Logic.ServiceManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="ServiceDao" ref="serviceDao" />
    </object>

    <object id="importExportSettingsManager" type="Windsor.Node2008.WNOS.Logic.ImportExportSettingsManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="ConfigManager" ref="configManager" />
        <property name="DataProviderManager" ref="dataProviderManager" />
        <property name="PartnerManager" ref="partnerManager" />
        <property name="FlowManager" ref="flowManager" />
        <property name="ServiceManager" ref="serviceManager" />
        <property name="ScheduleManager" ref="scheduleManager" />
        <property name="CompressionHelper" ref="compressionHelper" />
        <property name="SerializationHelper" ref="serializationHelper"/>
    </object>

    <object id="flowManager" type="Windsor.Node2008.WNOS.Logic.FlowManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="FlowDao" ref="flowDao" />
        <property name="ServiceDao" ref="serviceDao" />
        <property name="PluginLoader" ref="pluginLoader" />
        <property name="ConfigManager" ref="configManager" />
        <property name="DataProviderDao" ref="dataProviderDao" />
        <property name="AccountDao" ref="accountDao" />
    </object>

    <object id="notificationManager" type="Windsor.Node2008.WNOS.Logic.NotificationManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="FlowDao" ref="flowDao" />
        <property name="FromEmailAddress" value="${wnos.smtp.fromAddress}" />
        <property name="SmtpHost" value="${wnos.smtp.host}" />
        <property name="SmtpPort" value="${wnos.smtp.port}" />
        <property name="SmtpEnableSsl" value="${wnos.smtp.enableSsl}" />
        <property name="SmtpUsername" value="" />
        <property name="SmtpPassword" value="" />
        <property name="DeliveryMethod" value="${wnos.smtp.deliveryMethod}" />
        <property name="AdminInterfaceUrl" value="${wnos.service.admin.interface.url}" />
        <property name="MessageBodyFilePaths">
            <dictionary key-type="System.String, mscorlib" value-type="System.String, mscorlib">
                <entry key="OnSubmit" value=".\Resources\OnSubmitNotification.html" />
                <entry key="OnDownload" value=".\Resources\OnDownloadNotification.html" />
                <entry key="OnQuery" value=".\Resources\OnQueryNotification.html" />
                <entry key="OnSolicit" value=".\Resources\OnSolicitNotification.html" />
                <entry key="OnExecute" value=".\Resources\OnExecuteNotification.html" />
                <entry key="OnNotify" value=".\Resources\OnNotifyNotification.html" />
                <entry key="OnSchedule" value=".\Resources\OnScheduleNotification.html" />
                <entry key="OnChangePasswordNotification" value=".\Resources\OnChangePasswordNotification.html" />
                <entry key="OnNewNaasUserNotification" value=".\Resources\OnNewNaasUserNotification.html" />
                <entry key="OnNewNodeUserNotification" value=".\Resources\OnNewNodeUserNotification.html" />
                <entry key="OnNewNaasUserAuthedNotification" value=".\Resources\OnNewNaasUserNotification.html" />
                <entry key="OnNewNodeUserAuthedNotification" value=".\Resources\OnNewNodeUserNotification.html" />
                <entry key="RemoteTransactionStatus" value=".\Resources\OnRemoteTransactionStatusNotification.html" />
            </dictionary>
        </property>
        <property name="NotificationDao" ref="notificationDao" />
    </object>

    <object id="scheduleManager" type="Windsor.Node2008.WNOS.Logic.ScheduleManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="ScheduleDao" ref="scheduleDao" />
        <property name="FlowManager" ref="flowManager" />
        <property name="ServiceManager" ref="serviceManager" />
        <property name="PartnerManager" ref="partnerManager" />
        <property name="AccountManager" ref="accountManager" />
        <property name="SchematronHelper" ref="schematronHelper" />
        <property name="ActivityDao" ref="activityDao" />
    </object>

    <object id="accountAuthorizationRequestManager" type="Windsor.Node2008.WNOS.Logic.AccountAuthorizationRequestManager, Windsor.Node2008.WNOS"
            parent="logicAuditBaseManager" init-method="Init">
        <property name="AccountAuthorizationRequestDao" ref="accountAuthorizationRequestDao" />
        <property name="AccountManager" ref="accountManager"/>
        <property name="NAASManager" ref="naasManager" />
        <property name="FlowManager" ref="flowManager" />
        <property name="AccountDao" ref="accountDao" />
    </object>

    <object id="nodeEndpointClientFactory" type="Windsor.Commons.NodeClient.NodeEndpointClientFactory, Windsor.Commons.NodeClient" init-method="Init">
        <property name="DefaultAuthenticationCredentials" ref="clientCredential" />
        <property name="DefaultTimeout" value="300000" />
    </object>

</objects>
