<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <!-- NODE RUNTIME NAAS CREDENTIALS -->
  <object name="naasAuthCredential" type="Windsor.Commons.NodeDomain.AuthenticationCredentials, Windsor.Commons.NodeDomain">
    <constructor-arg name="userName" value="${wnos.naas.user.admin}"/>
    <constructor-arg name="password" value="${wnos.naas.user.admin.password}"/>
    <constructor-arg name="domain" value="${wnos.naas.user.admin.domain}"/>
  </object>

  <object name="usermgrCredential" type="Windsor.Commons.NodeDomain.AuthenticationCredentials, Windsor.Commons.NodeDomain">
    <constructor-arg name="userName" value="${wnos.naas.user.admin}"/>
    <constructor-arg name="password" value="${wnos.naas.user.admin.password}"/>
    <constructor-arg name="domain" value="${wnos.naas.user.admin.domain}"/>
  </object>

  <object name="clientCredential" type="Windsor.Commons.NodeDomain.AuthenticationCredentials, Windsor.Commons.NodeDomain">
    <constructor-arg name="userName" value="${wnos.naas.user.runtime}"/>
    <constructor-arg name="password" value="${wnos.naas.user.runtime.password}"/>
    <constructor-arg name="domain" value="${wnos.naas.user.runtime.domain}"/>
  </object>

  <object name="usermgrClient" type="Windsor.Commons.NAASClient.UserMgr2Provider, Windsor.Commons.NAASClient">
    <constructor-arg name="testUrl" value="https://naas.epacdxnode.net/xml/usermgr.wsdl"/>
    <constructor-arg name="prodUrl" value="https://cdxnodenaas.epa.gov/xml/usermgr.wsdl"/>
    <constructor-arg name="isProduction" value="${node.is.production}"/>
  </object>

  <!-- Windsor.Node2008.WNOS.Logic.Account.Auth.IAuthenticationProvider Implementor -->
  <object id="naasManager" type="Windsor.Node2008.WNOS.Logic.NAASManager, Windsor.Node2008.WNOS"  init-method="Init">
    <constructor-arg name="testUrl" value="https://naas.epacdxnode.net/xml/auth_v30.wsdl"/>
    <constructor-arg name="prodUrl" value="https://cdxnodenaas.epa.gov/xml/auth_v30.wsdl"/>
    <constructor-arg name="isProduction" value="${node.is.production}"/>
    <constructor-arg name="naasRuntimeCredentials" ref="naasAuthCredential"/>
    <constructor-arg name="usermgrRuntimeCredentials" ref="usermgrCredential"/>
    <property name="NodeId" value="${wnos.naas.node.id}" />
    <property name="CacheNaasUsernamesDuration" value="1.00:00:00" />
    <property name="UsermgrClient" ref="usermgrClient" />
    <property name="ObjectCacheDao" ref="objectCacheDao" />
    <property name="BypassNaasAuthenticateFailures" value="false" />
    <property name="BypassNaasUserName" value="ted@windsorsolutions.com" />
  </object>

</objects>