<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:r="http://www.springframework.net/remoting">

  <!-- PROCESSORS -->

  <object id="threadQueueServer" type="Windsor.Commons.Core.ThreadQueueServer, Windsor.Commons.Core">
  </object>

  <object id="nodeProcessorMutexFactory" type="Windsor.Node2008.WNOS.Server.LocalNodeProcessorMutexFactory, Windsor.Node2008.WNOS">
  </object>

  <object id="baseNodeProcessor" abstract="true">
    <property name="ThreadQueueServer" ref="threadQueueServer" />
    <property name="ActivityManager" ref="activityManager" />
    <property name="NodeProcessorMutexFactory" ref="nodeProcessorMutexFactory" />
    <property name="PluginLoader" ref="pluginLoader" />
    <property name="SettingsProvider" ref="settingsProvider" />
  </object>

  <object id="baseTransactionProcessor" parent="baseNodeProcessor" abstract="true">
    <property name="TransactionManager" ref="transactionManager" />
    <property name="FlowManager" ref="flowManager" />
  </object>

  <object id="submitProcessor" type="Windsor.Node2008.WNOS.Server.SubmitProcessor, Windsor.Node2008.WNOS" parent="baseTransactionProcessor" init-method="Init">
    <property name="StartProcessingImmediately" value="True" />
    <property name="ProcessingInterval" value="00:05:00" />
  </object>

  <object id="notifyProcessor" type="Windsor.Node2008.WNOS.Server.NotifyProcessor, Windsor.Node2008.WNOS" parent="baseTransactionProcessor" init-method="Init">
    <property name="StartProcessingImmediately" value="True" />
    <property name="ProcessingInterval" value="00:05:00" />
  </object>

  <object id="solicitProcessor" type="Windsor.Node2008.WNOS.Server.SolicitProcessor, Windsor.Node2008.WNOS" parent="baseTransactionProcessor" init-method="Init">
    <property name="RequestManager" ref="requestManager" />
    <property name="StartProcessingImmediately" value="True" />
    <property name="ProcessingInterval" value="00:05:00" />
  </object>

  <object id="taskProcessor" type="Windsor.Node2008.WNOS.Server.TaskProcessor, Windsor.Node2008.WNOS" parent="baseTransactionProcessor" init-method="Init">
    <property name="RequestManager" ref="requestManager" />
    <property name="StartProcessingImmediately" value="True" />
    <property name="ProcessingInterval" value="00:05:00" />
  </object>

  <object id="executeProcessor" type="Windsor.Node2008.WNOS.Server.ExecuteProcessor, Windsor.Node2008.WNOS" parent="baseTransactionProcessor" init-method="Init">
    <property name="RequestManager" ref="requestManager" />
    <property name="DocumentManager" ref="documentManager" />
    <property name="StartProcessingImmediately" value="True" />
    <property name="ProcessingInterval" value="00:05:00" />
  </object>

  <object id="scheduleProcessor" type="Windsor.Node2008.WNOS.Server.ScheduleProcessor, Windsor.Node2008.WNOS" parent="baseNodeProcessor" init-method="Init">
    <property name="RequestManager" ref="requestManager" />
    <property name="DocumentManager" ref="documentManager" />
    <property name="ScheduleManager" ref="scheduleManager" />
    <property name="AccountManager" ref="accountManager" />
    <property name="TransactionManager" ref="transactionManager" />
    <property name="ServiceManager" ref="serviceManager" />
    <property name="FlowManager" ref="flowManager" />
    <property name="SchematronHelper" ref="schematronHelper" />
    <property name="NotificationManager" ref="notificationManager" />
    <property name="PartnerManager" ref="partnerManager" />
    <property name="CompressionHelper" ref="compressionHelper" />
    <property name="EndpointUserManager" ref="endpointUserManager" />
    <property name="StartProcessingImmediately" value="True" />
    <property name="ProcessingInterval" value="00:00:10" />
  </object>

  <object id="centralProcessor" type="Windsor.Node2008.WNOS.Server.CentralProcessor, Windsor.Node2008.WNOS" parent="baseNodeProcessor" init-method="Init">
    <property name="ThreadsPerProcessor" value="3" />
    <!-- Set MaxNumConcurrentThreads to 0 to allow the ThreadsPerProcessor value to dictate -->
    <property name="MaxNumConcurrentThreads" value="2" />
    <property name="Processors">
      <list element-type="Windsor.Node2008.WNOSConnector.Server.INodeProcessor, Windsor.Node2008.WNOSConnector">
        <ref object="submitProcessor" />
        <ref object="notifyProcessor" />
        <ref object="solicitProcessor" />
        <ref object="taskProcessor" />
        <ref object="scheduleProcessor" />
        <ref object="executeProcessor" />
        <!-- 
        <ref object="submitProcessor" />
        <ref object="notifyProcessor" />
        <ref object="solicitProcessor" />
        <ref object="scheduleProcessor" />
        <ref object="executeProcessor" />
        -->
      </list>
    </property>
  </object>

</objects>