<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

    <!-- Windsor.Node2008.WNOS.Utility.Cryptography.ICryptographyProvider Implementor -->
    <object id="cryptographyProvider" type="Windsor.Node2008.WNOSProviders.Implementation.CryptographyProvider, Windsor.Node2008.WNOSProviders">
        <property name="PrivateKey" value="SFD9898243HSFD823HJADI123WEF40EDFGKJSDF132E321ASDADMASDFSDF234SWDFS09234JKSDF" />
    </object>

    <!-- TEST -->
    <object id="testSchematronEndpoint" type="System.String">
        <constructor-arg type="char[]" value="https://tools.epacdxnode.net/xml/validator.wsdl"/>
    </object>

    <!-- PROD -->
    <object id="prodSchematronEndpoint" type="System.String">
        <constructor-arg type="char[]" value="https://cdxtools.epa.gov/xml/validator.wsdl"/>
    </object>

    <object id="serviceFactory" type="Windsor.Node2008.WNOS.Utilities.ServiceFactory, Windsor.Node2008.WNOS" init-method="Init">
    </object>

    <object id="dbConnectionFactory" type="Windsor.Node2008.WNOS.Utilities.DbConnectionFactory, Windsor.Node2008.WNOS" init-method="Init">
    </object>

    <!-- Windsor.Node2008.WNOS.Utilities.Schematron.ISchematronHelper Implementor -->
    <object id="schematronHelper"
            type="Windsor.Node2008.WNOS.Utilities.SchematronHelper, Windsor.Node2008.WNOS">

        <constructor-arg name="schematronEndpoint" value="https://cdxtools.epa.gov/xml/validator.wsdl"/>
        <!--<constructor-arg name="credential" ref="naasAuthCredential"/>-->
        <constructor-arg name="credential" ref="clientCredential"/>

        <constructor-arg name="flowSchemaMap">
            <dictionary key-type="String" value-type="String">
                <entry key="FRS" value="FRS_v2_3" />
                <entry key="TRI" value="TRI_v3_0" />
                <entry key="WQX" value="WQX_v2_0" />
                <entry key="RCRA" value="RCRA_v3_0" />
            </dictionary>
        </constructor-arg>

    </object>

    <object id="settingsProvider" type="Windsor.Node2008.WNOS.Utilities.SettingsProvider, Windsor.Node2008.WNOS" init-method="Init">
        <property name="TempFolderPath" value="${wnos.temp.dir.path}" />
        <property name="LogsFolderPath" value="${node.home}\Logs" />
        <property name="AdminUrl" value="${wnos.service.admin.interface.url}" />
        <property name="Endpoint11Url" value="${wne.version11.url}" />
        <property name="Endpoint20Url" value="${wne.version20.url}" />
        <property name="IsDemoNode" value="False"/>
        <property name="IsProductionNode" value="${node.is.production}"/>
        <property name="NodeBoundingBox">
            <object type="Windsor.Node2008.WNOSDomain.LatLongRectangle, Windsor.Node2008.WNOSDomain">
                <constructor-arg index="0" value="${node.north.latitude}"/>
                <constructor-arg index="1" value="${node.east.longitude}"/>
                <constructor-arg index="2" value="${node.south.latitude}"/>
                <constructor-arg index="3" value="${node.west.longitude}"/>
            </object>
        </property>
        <property name="NodeAdminEmail" value="${wnos.naas.node.admin.email}"/>
        <property name="NodeId" value="${wnos.naas.node.id}"/>
        <property name="NodeOrganizationName" value="${node.organization.name}"/>
    </object>

    <object id="pluginLoader" type="Windsor.Node2008.WNOS.Utilities.PluginLoader, Windsor.Node2008.WNOS" init-method="Init">
        <property name="ConfigManager" ref="configManager" />
        <property name="CompressionHelper" ref="compressionHelper" />
        <property name="FlowDao" ref="flowDao" />
        <!--<property name="PluginDao" ref="pluginDao" />-->
        <property name="PluginConfigFilePath" value="${node.home}\config\PluginServices.config" />
        <property name="PluginFolderPath" value="${node.home}\plugins" />
        <property name="ServiceImpementersCacheTimeInMinutes" value="10080" />
        <property name="PluginInstanceLoadersCacheTimeInMinutes" value="2" />
    </object>

</objects>