<?xml version="1.0" encoding="UTF-8"?>
#parse("rcra5_head.vm")
#if($handlerLimit) $helper.print("HandlerLimit:") $helper.print($handlerLimit)
## this query lets us limit the results for test - DB2 specific syntax
#set($handlerQuery = "SELECT handler_id FROM RCRA_HD_HBASIC fetch first $handlerLimit rows only")
#else
#set($handlerQuery = "SELECT handler_id FROM RCRA_HD_HBASIC")
#end$helper.print("handlerQuery: $handlerQuery")
<RC:HazardousWasteHandlerSubmission xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.exchangenetwork.net/schema/RCRA/5 http://www.exchangenetwork.net/schema/RCRA/5/0/RCRA_HazardousWasteHandlerSubmission_v5.0_draft.xsd">
#foreach($handlerId in $helper.getList($handlerQuery, "handler_id"))#set ($handlerCount = $helper.getObject("SELECT count(*) AS ROWCOUNT FROM RCRA_HD_HBASIC H JOIN RCRA_HD_HANDLER HH ON H.PK_GUID = HH.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))#if($handlerCount.get("rowcount") > 0)
    <RC:FacilitySubmission>
#if ($velocityCount % 500 == 0)$helper.print($velocityCount)$helper.printElapsedTime()
#end
#set ($totalRecCount = $velocityCount)
#set ($hbasic = $helper.getObject("SELECT * FROM RCRA_HD_HBASIC WHERE HANDLER_ID = ? ", $handlerId))
#if($hbasic.get("transaction_code"))
        <RC:TransactionCode>$hbasic.get("transaction_code")</RC:TransactionCode>
#end
        <RC:HandlerID>$hbasic.get("handler_id")</RC:HandlerID>
#if($hbasic.get("extract_flag"))
        <RC:PublicUseExtractIndicator>$hbasic.get("extract_flag")</RC:PublicUseExtractIndicator>
#end
#if($hbasic.get("facility_identifier"))
        <RC:FacilityRegistryID>$hbasic.get("facility_identifier")</RC:FacilityRegistryID>
#end
#foreach($handler in $helper.getData("SELECT * FROM RCRA_HD_HBASIC H JOIN RCRA_HD_HANDLER HH ON H.PK_GUID = HH.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))    
        <RC:Handler>
#if($handler.get("transaction_code"))
            <RC:TransactionCode>$handler.get("transaction_code")</RC:TransactionCode>
#end
            <RC:ActivityLocationCode>$handler.get("activity_location")</RC:ActivityLocationCode>
            <RC:SourceTypeCode>$handler.get("source_type")</RC:SourceTypeCode>
            <RC:SourceRecordSequenceNumber>$handler.get("seq_number")</RC:SourceRecordSequenceNumber>
#if($handler.get("receive_date"))
            <RC:ReceiveDate>$helper.toXmlDate($handler.get("receive_date"))</RC:ReceiveDate>
#end
            <RC:HandlerName>$handler.get("handler_name")</RC:HandlerName>
#if($handler.get("acknowledge_date"))
            <RC:AcknowledgeReceiptDate>$helper.toXmlDate($handler.get("acknowledge_date"))</RC:AcknowledgeReceiptDate>
#end
#if($handler.get("non_notifier"))
            <RC:NonNotifierIndicator>$handler.get("non_notifier")</RC:NonNotifierIndicator>
#end
#if($handler.get("tsd_date"))
            <RC:TreatmentStorageDisposalDate>$handler.get("tsd_date")</RC:TreatmentStorageDisposalDate>
#end
#if($handler.get("off_site_receipt"))
            <RC:OffsiteWasteReceiptCode>$handler.get("off_site_receipt")</RC:OffsiteWasteReceiptCode>
#end
#if($handler.get("accessibility"))
            <RC:AccessibilityCode>$handler.get("accessibility")</RC:AccessibilityCode>
#end
#if($handler.get("county_code_owner"))
            <RC:CountyCodeOwner>$handler.get("county_code_owner")</RC:CountyCodeOwner>
#end
#if($handler.get("county_code"))
            <RC:CountyCode>$handler.get("county_code")</RC:CountyCode>
#end
#if($handler.get("notes"))
            <RC:HandlerSupplementalInformationText>$handler.get("notes")</RC:HandlerSupplementalInformationText>
#end
#if(($handler.get("location_street1"))||($handler.get("location_city"))||($handler.get("location_state"))||($handler.get("location_zip")))
            <RC:LocationAddress>
                <RC:LocationAddressText>$handler.get("location_street1")</RC:LocationAddressText>
#if($handler.get("location_street2"))
                <RC:SupplementalLocationText>$handler.get("location_street2")</RC:SupplementalLocationText>
#end
                <RC:LocalityName>$handler.get("location_city")</RC:LocalityName>
#if($handler.get("location_state"))
                <RC:StateUSPSCode>$handler.get("location_state")</RC:StateUSPSCode>
#end
#if($handler.get("location_country"))
                <RC:CountryName>$handler.get("location_country")</RC:CountryName>
#end
                <RC:LocationZIPCode>$handler.get("location_zip")</RC:LocationZIPCode>
#end
            </RC:LocationAddress>
#if(($handler.get("mail_street1"))||($handler.get("mail_city"))||($handler.get("mail_state"))||($handler.get("mail_zip")))
            <RC:MailingAddress>
#if($handler.get("mail_street1"))
                <RC:MailingAddressText>$handler.get("mail_street1")</RC:MailingAddressText>
#end
#if($handler.get("mail_street2"))
                <RC:SupplementalAddressText>$handler.get("mail_street2")</RC:SupplementalAddressText>
#end
#if($handler.get("mail_city"))
                <RC:MailingAddressCityName>$handler.get("mail_city")</RC:MailingAddressCityName>
#end
#if($handler.get("mail_state"))
                <RC:MailingAddressStateUSPSCode>$handler.get("mail_state")</RC:MailingAddressStateUSPSCode>
#end
#if($handler.get("mail_country"))
                <RC:MailingAddressCountryName>$handler.get("mail_country")</RC:MailingAddressCountryName>
#end
#if($handler.get("mail_zip"))
                <RC:MailingAddressZIPCode>$handler.get("mail_zip")</RC:MailingAddressZIPCode>
#end
            </RC:MailingAddress>
#end
#if(($handler.get("contact_first_name"))||($handler.get("contact_last_name"))||($handler.get("contact_org_name")||($handler.get("contact_street1"))||($handler.get("contact_city"))||($handler.get("contact_state"))||($handler.get("contact_zip"))))
            <RC:ContactAddress>
#if(($handler.get("contact_first_name"))||($handler.get("contact_last_name"))||($handler.get("contact_org_name")))
                <RC:Contact>
#if($handler.get("contact_first_name"))
                    <RC:FirstName>$handler.get("contact_first_name")</RC:FirstName>
#end
#if($handler.get("contact_middle_initial"))
                    <RC:MiddleInitial>$handler.get("contact_middle_initial")</RC:MiddleInitial>
#end
#if($handler.get("contact_last_name"))
                    <RC:LastName>$handler.get("contact_last_name")</RC:LastName>
#end
#if($handler.get("contact_org_name"))
                    <RC:OrganizationFormalName>$handler.get("contact_org_name")</RC:OrganizationFormalName>
#end
#if($handler.get("contact_title"))
                    <RC:IndividualTitleText>$handler.get("contact_title")</RC:IndividualTitleText>
#end
#if($handler.get("contact_email_address"))
                    <RC:EmailAddressText>$handler.get("contact_email_address")</RC:EmailAddressText>
#end
#if($handler.get("contact_phone"))
                    <RC:TelephoneNumberText>$handler.get("contact_phone")</RC:TelephoneNumberText>
#end
#if($handler.get("contact_phone_ext"))
                    <RC:PhoneExtensionText>$handler.get("contact_phone_ext")</RC:PhoneExtensionText>
#end
                </RC:Contact>
#end
#if(($handler.get("contact_street1"))||($handler.get("contact_city"))||($handler.get("contact_state"))||($handler.get("contact_zip")))
                <RC:MailingAddress>            
#if($handler.get("contact_street1"))
                    <RC:MailingAddressText>$handler.get("contact_street1")</RC:MailingAddressText>
#end
#if($handler.get("contact_street2"))
                    <RC:SupplementalAddressText>$handler.get("contact_street2")</RC:SupplementalAddressText>
#end
#if($handler.get("contact_city"))
                    <RC:MailingAddressCityName>$handler.get("contact_city")</RC:MailingAddressCityName>
#end
#if($handler.get("contact_state"))
                    <RC:MailingAddressStateUSPSCode>$handler.get("contact_state")</RC:MailingAddressStateUSPSCode>
#end
#if($handler.get("contact_country"))
                    <RC:MailingAddressCountryName>$handler.get("contact_country")</RC:MailingAddressCountryName>
#end
#if($handler.get("contact_zip"))
                    <RC:MailingAddressZIPCode>$handler.get("contact_zip")</RC:MailingAddressZIPCode>
#end
                </RC:MailingAddress>
#end
            </RC:ContactAddress>
#end
#if(($handler.get("pcontact_first_name"))||($handler.get("pcontact_last_name"))||($handler.get("pcontact_org_name"))||($handler.get("pcontact_street1"))||($handler.get("pcontact_city"))||($handler.get("pcontact_state"))||($handler.get("pcontact_zip")))
            <RC:PermitContactAddress>
#if(($handler.get("pcontact_first_name"))||($handler.get("pcontact_last_name"))||($handler.get("pcontact_org_name")))
                <RC:Contact>
#if($handler.get("pcontact_first_name"))
                 <RC:FirstName>$handler.get("pcontact_first_name")</RC:FirstName>
#end
#if($handler.get("pcontact_middle_initial"))
                    <RC:MiddleInitial>$handler.get("pcontact_middle_initial")</RC:MiddleInitial>
#end
#if($handler.get("pcontact_last_name"))
                    <RC:LastName>$handler.get("pcontact_last_name")</RC:LastName>
#end
#if($handler.get("pcontact_org_name"))
                    <RC:OrganizationFormalName>$handler.get("pcontact_org_name")</RC:OrganizationFormalName>
#end
#if($handler.get("pcontact_title"))
                    <RC:IndividualTitleText>$handler.get("pcontact_title")</RC:IndividualTitleText>
#end
#if($handler.get("pcontact_email_address"))
                    <RC:EmailAddressText>$handler.get("pcontact_email_address")</RC:EmailAddressText>
#end
#if($handler.get("pcontact_phone"))
                    <RC:TelephoneNumberText>$handler.get("pcontact_phone")</RC:TelephoneNumberText>
#end
#if($handler.get("pcontact_phone_ext"))
                    <RC:PhoneExtensionText>$handler.get("pcontact_phone_ext")</RC:PhoneExtensionText>
#end
                </RC:Contact>
#end
#if(($handler.get("pcontact_street1"))||($handler.get("pcontact_city"))||($handler.get("pcontact_state"))||($handler.get("pcontact_zip")))
                <RC:MailingAddress>            
#if($handler.get("pcontact_street1"))
                    <RC:MailingAddressText>$handler.get("pcontact_street1")</RC:MailingAddressText>
#end
#if($handler.get("pcontact_street2"))
                    <RC:SupplementalAddressText>$handler.get("pcontact_street2")</RC:SupplementalAddressText>
#end
#if($handler.get("pcontact_city"))
                    <RC:MailingAddressCityName>$handler.get("pcontact_city")</RC:MailingAddressCityName>
#end
#if($handler.get("pcontact_state"))
                    <RC:MailingAddressStateUSPSCode>$handler.get("pcontact_state")</RC:MailingAddressStateUSPSCode>
#end
#if($handler.get("pcontact_country"))
                    <RC:MailingAddressCountryName>$handler.get("pcontact_country")</RC:MailingAddressCountryName>
#end
#if($handler.get("pcontact_zip"))
                    <RC:MailingAddressZIPCode>$handler.get("pcontact_zip")</RC:MailingAddressZIPCode>
#end    
                </RC:MailingAddress>
#end
            </RC:PermitContactAddress>
#end
#if(($handler.get("used_oil_burner"))||($handler.get("used_oil_processor"))||($handler.get("used_oil_refiner"))||($handler.get("used_oil_market_burner"))||($handler.get("used_oil_marketer"))||($handler.get("used_oil_transfer_facility"))||($handler.get("used_oil_transporter")))
            <RC:UsedOil>
#if($handler.get("used_oil_burner"))
                <RC:FuelBurnerCode>$handler.get("used_oil_burner")</RC:FuelBurnerCode>
#end
#if($handler.get("used_oil_processor"))
                <RC:ProcessorCode>$handler.get("used_oil_processor")</RC:ProcessorCode>
#end
#if($handler.get("used_oil_refiner"))
                <RC:RefinerCode>$handler.get("used_oil_refiner")</RC:RefinerCode>
#end
#if($handler.get("used_oil_market_burner"))
                <RC:MarketBurnerCode>$handler.get("used_oil_market_burner")</RC:MarketBurnerCode>
#end
#if($handler.get("used_oil_spec_marketer"))
                <RC:SpecificationMarketerCode>$handler.get("used_oil_spec_marketer")</RC:SpecificationMarketerCode>
#end
#if($handler.get("used_oil_transfer_facility"))
                <RC:TransferFacilityCode>$handler.get("used_oil_transfer_facility")</RC:TransferFacilityCode>
#end
#if($handler.get("used_oil_transporter"))
                <RC:TransporterCode>$handler.get("used_oil_transporter")</RC:TransporterCode>
#end
            </RC:UsedOil>
#end
#if($handler.get("land_type") || $handler.get("state_district") || $handler.get("importer_activity") || $handler.get("mixed_waste_generator") || $handler.get("recycler_activity") || $handler.get("transporter_activity") || $handler.get("tsd_activity") || $handler.get("underground_injection_activity") || $handler.get("universal_waste_dest_facility") || $handler.get("onsite_burner_exemption")|| $handler.get("furnace_exemption") || $handler.get("short_term_gen_ind") || $handler.get("transfer_facility_ind"))
            <RC:WasteActivitySite>
#if($handler.get("land_type"))
                <RC:LandTypeCode>$handler.get("land_type")</RC:LandTypeCode>
#end
#if($handler.get("state_district_owner"))
                <RC:StateDistrictOwnerName>$handler.get("state_district_owner")</RC:StateDistrictOwnerName>
#end
#if($handler.get("state_district"))
                <RC:StateDistrictCode>$handler.get("state_district")</RC:StateDistrictCode>
#end
#if($handler.get("importer_activity"))
                <RC:ImporterActivityCode>$handler.get("importer_activity")</RC:ImporterActivityCode>
#end
#if($handler.get("mixed_waste_generator"))
                <RC:MixedWasteGeneratorCode>$handler.get("mixed_waste_generator")</RC:MixedWasteGeneratorCode>
#end
#if($handler.get("recycler_activity"))
                <RC:RecyclerActivityCode>$handler.get("recycler_activity")</RC:RecyclerActivityCode>
#end
#if($handler.get("transporter_activity"))
                <RC:TransporterActivityCode>$handler.get("transporter_activity")</RC:TransporterActivityCode>
#end
#if($handler.get("tsd_activity"))
                <RC:TreatmentStorageDisposalActivityCode>$handler.get("tsd_activity")</RC:TreatmentStorageDisposalActivityCode>
#end
#if($handler.get("underground_injection_activity"))
                <RC:UndergroundInjectionActivityCode>$handler.get("underground_injection_activity")</RC:UndergroundInjectionActivityCode>
#end
#if($handler.get("universal_waste_dest_facility"))
                <RC:UniversalWasteDestinationFacilityIndicator>$handler.get("universal_waste_dest_facility")</RC:UniversalWasteDestinationFacilityIndicator>
#end
#if($handler.get("onsite_burner_exemption"))
                <RC:OnsiteBurnerExemptionCode>$handler.get("onsite_burner_exemption")</RC:OnsiteBurnerExemptionCode>
#end
#if($handler.get("furnace_exemption"))
                <RC:FurnaceExemptionCode>$handler.get("furnace_exemption")</RC:FurnaceExemptionCode>
#end
#if($handler.get("short_term_gen_ind"))
                <RC:ShortTermGeneratorIndicator>$handler.get("short_term_gen_ind")</RC:ShortTermGeneratorIndicator>
#end
#if($handler.get("transfer_facility_ind"))
                <RC:TransferFacilityIndicator>$handler.get("transfer_facility_ind")</RC:TransferFacilityIndicator>
#end
            </RC:WasteActivitySite>
#end
#if(($handler.get("state_waste_generator")))
            <RC:StateWasteGenerator>
#if($handler.get("state_waste_generator"))
                <RC:WasteGeneratorOwnerName>$handler.get("state_waste_generator_owner")</RC:WasteGeneratorOwnerName>
#end
#if($handler.get("state_waste_generator_owner"))
                <RC:WasteGeneratorStatusCode>$handler.get("state_waste_generator")</RC:WasteGeneratorStatusCode>
#end
            </RC:StateWasteGenerator>
#end
#if(($handler.get("fed_waste_generator")))
            <RC:FederalWasteGenerator>
#if($handler.get("fed_waste_generator"))
                <RC:WasteGeneratorOwnerName>$handler.get("fed_waste_generator_owner")</RC:WasteGeneratorOwnerName>
#end
#if($handler.get("fed_waste_generator_owner"))
                <RC:WasteGeneratorStatusCode>$handler.get("fed_waste_generator")</RC:WasteGeneratorStatusCode>
#end
            </RC:FederalWasteGenerator>
#if(($handler.get("college_ind"))||($handler.get("hospital_ind"))||($handler.get("non_profit_ind"))||($handler.get("withdrawal_ind")))
            <RC:LaboratoryHazardousWaste>
#if($handler.get("college_ind"))
                <RC:CollegeIndicator>$handler.get("college_ind")</RC:CollegeIndicator>
#end
#if($handler.get("hospital_ind"))
                <RC:HospitalIndicator>$handler.get("hospital_ind")</RC:HospitalIndicator>
#end
#if($handler.get("non_profit_ind"))
                <RC:NonProfitIndicator>$handler.get("non_profit_ind")</RC:NonProfitIndicator>
#end
#if($handler.get("withdrawal_ind"))
                <RC:WithdrawalIndicator>$handler.get("withdrawal_ind")</RC:WithdrawalIndicator>
#end
            </RC:LaboratoryHazardousWaste>
#end
#end
#foreach($cert in $helper.getData("SELECT * FROM RCRA_HD_HBASIC H JOIN RCRA_HD_HANDLER HH ON H.PK_GUID = HH.FK_GUID JOIN RCRA_HD_CERTIFICATION C ON HH.PK_GUID = C.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))
#if(($cert.get("cert_seq")))
            <RC:Certification>
#if($cert.get("transaction_code"))
                <RC:TransactionCode>$cert.get("transaction_code")</RC:TransactionCode>
#end
                <RC:CertificationSequenceNumber>$cert.get("cert_seq")</RC:CertificationSequenceNumber>
#if($cert.get("cert_signed_date"))
                <RC:SignedDate>$cert.get("cert_signed_date")</RC:SignedDate>
#end
#if($cert.get("cert_title"))
                <RC:IndividualTitleText>$cert.get("cert_title")</RC:IndividualTitleText>
#end
#if($cert.get("cert_first_name"))
                <RC:FirstName>$cert.get("cert_first_name")</RC:FirstName>
#end
#if($cert.get("cert_middle_initial"))
                <RC:MiddleInitial>$cert.get("cert_middle_initial")</RC:MiddleInitial>
#end
#if($cert.get("cert_last_name"))
                <RC:LastName>$cert.get("cert_last_name")</RC:LastName>
#end
            </RC:Certification>
#end#end
#foreach($naics in $helper.getData("SELECT * FROM RCRA_HD_HBASIC H JOIN RCRA_HD_HANDLER HH ON H.PK_GUID = HH.FK_GUID JOIN RCRA_HD_NAICS N ON HH.PK_GUID = N.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))
#if(($naics.get("naics_code")))
            <RC:NAICSIdentity>
#if($naics.get("transaction_code"))
                <RC:TransactionCode>$naics.get("transaction_code")</RC:TransactionCode>
#end
                <RC:NAICSSequenceNumber>$naics.get("naics_seq")</RC:NAICSSequenceNumber>
#if($naics.get("naics_owner"))
                <RC:NAICSOwnerCode>$naics.get("naics_owner")</RC:NAICSOwnerCode>
#end
#if($naics.get("naics_code"))
                <RC:NAICSCode>$naics.get("naics_code")</RC:NAICSCode>
#end
            </RC:NAICSIdentity>
#end#end
#foreach($ownop in $helper.getData("SELECT * FROM RCRA_HD_HBASIC H JOIN RCRA_HD_HANDLER HH ON H.PK_GUID = HH.FK_GUID JOIN RCRA_HD_OWNEROP O ON HH.PK_GUID = O.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))
#if(($ownop.get("owner_op_seq")))
            <RC:FacilityOwnerOperator>
#if($ownop.get("transaction_code"))
                <RC:TransactionCode>$ownop.get("transaction_code")</RC:TransactionCode>
#end
                <RC:OwnerOperatorSequenceNumber>$ownop.get("owner_op_seq")</RC:OwnerOperatorSequenceNumber>
#if($ownop.get("owner_op_ind"))
                <RC:OwnerOperatorIndicator>$ownop.get("owner_op_ind")</RC:OwnerOperatorIndicator>
#end
#if($ownop.get("owner_op_type"))
                <RC:OwnerOperatorTypeCode>$ownop.get("owner_op_type")</RC:OwnerOperatorTypeCode>
#end
#if($ownop.get("date_became_current"))
                <RC:CurrentStartDate>$ownop.get("date_became_current")</RC:CurrentStartDate>
#end
#if($ownop.get("date_ended_current"))
                <RC:CurrentEndDate>$ownop.get("date_ended_current")</RC:CurrentEndDate>
#end
#if($ownop.get("notes"))
                <RC:OwnerOperatorSupplementalInformationText>$ownop.get("notes")</RC:OwnerOperatorSupplementalInformationText>
#end
#if(($ownop.get("first_name"))||($ownop.get("last_name"))||($ownop.get("org_name"))||($ownop.get("street1"))||($ownop.get("city"))||($ownop.get("state"))||($ownop.get("zip")))
                <RC:ContactAddress>
#if(($ownop.get("first_name"))||($ownop.get("last_name"))||($ownop.get("org_name")))
                    <RC:Contact>
#if($ownop.get("first_name"))
                        <RC:FirstName>$ownop.get("first_name")</RC:FirstName>
#end
#if($ownop.get("middle_initial"))
                        <RC:MiddleInitial>$ownop.get("middle_initial")</RC:MiddleInitial>
#end
#if($ownop.get("last_name"))
                        <RC:LastName>$ownop.get("last_name")</RC:LastName>
#end
#if($ownop.get("org_name"))
                        <RC:OrganizationFormalName>$ownop.get("org_name")</RC:OrganizationFormalName>
#end
#if($ownop.get("email_address"))
                        <RC:EmailAddressText>$ownop.get("email_address")</RC:EmailAddressText>
#end
#if($ownop.get("phone"))
                        <RC:TelephoneNumberText>$ownop.get("phone")</RC:TelephoneNumberText>
#end
#if($ownop.get("phone_ext"))
                        <RC:PhoneExtensionText>$ownop.get("phone_ext")</RC:PhoneExtensionText>
#end
                    </RC:Contact>
#end
#if(($ownop.get("street1"))||($ownop.get("city"))||($ownop.get("state"))||($ownop.get("zip")))
                    <RC:MailingAddress>            
#if($ownop.get("street1"))
                        <RC:MailingAddressText>$ownop.get("street1")</RC:MailingAddressText>
#end
#if($ownop.get("street2"))
                        <RC:SupplementalAddressText>$ownop.get("street2")</RC:SupplementalAddressText>
#end
#if($ownop.get("city"))
                        <RC:MailingAddressCityName>$ownop.get("city")</RC:MailingAddressCityName>
#end
#if($ownop.get("state"))
                        <RC:MailingAddressStateUSPSCode>$ownop.get("state")</RC:MailingAddressStateUSPSCode>
#end
#if($ownop.get("country"))
                        <RC:MailingAddressCountryName>$ownop.get("country")</RC:MailingAddressCountryName>
#end
#if($ownop.get("zip"))
                        <RC:MailingAddressZIPCode>$ownop.get("zip")</RC:MailingAddressZIPCode>
#end    
                    </RC:MailingAddress>
#end
                </RC:ContactAddress>
#end
            </RC:FacilityOwnerOperator>
#end#end
#foreach($permit in $helper.getData("SELECT * FROM RCRA_HD_HBASIC H JOIN RCRA_HD_HANDLER HH ON H.PK_GUID = HH.FK_GUID JOIN RCRA_HD_ENV_PERMIT EP ON HH.PK_GUID = EP.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))
#if(($permit.get("env_permit_number")))
            <RC:EnvironmentalPermit>
#if($permit.get("transaction_code"))
                <RC:TransactionCode>$permit.get("transaction_code")</RC:TransactionCode>
#end
                <RC:EnvironmentalPermitID>$permit.get("env_permit_number")</RC:EnvironmentalPermitID>
#if($permit.get("env_permit_owner"))
                <RC:EnvironmentalPermitOwnerName>$permit.get("env_permit_owner")</RC:EnvironmentalPermitOwnerName>
#end
#if($permit.get("env_permit_type"))
                <RC:EnvironmentalPermitTypeCode>$permit.get("env_permit_type")</RC:EnvironmentalPermitTypeCode>
#end
                <RC:EnvironmentalPermitDescription>$permit.get("env_permit_desc")</RC:EnvironmentalPermitDescription>
            </RC:EnvironmentalPermit>
#end#end
#foreach($state in $helper.getData("SELECT * FROM RCRA_HD_HBASIC H JOIN RCRA_HD_HANDLER HH ON H.PK_GUID = HH.FK_GUID JOIN RCRA_HD_STATE_ACTIVITY SA ON HH.PK_GUID = SA.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))
#if(($state.get("state_activity_owner"))||($state.get("state_activity_type")))
            <RC:StateActivity>
#if($state.get("transaction_code"))
                <RC:TransactionCode>$state.get("transaction_code")</RC:TransactionCode>
#end
                <RC:StateActivityOwnerName>$state.get("state_activity_owner")</RC:StateActivityOwnerName>
                <RC:StateActivityTypeCode>$state.get("state_activity_type")</RC:StateActivityTypeCode>
            </RC:StateActivity>
#end#end
#foreach($univ in $helper.getData("SELECT * FROM RCRA_HD_HBASIC H JOIN RCRA_HD_HANDLER HH ON H.PK_GUID = HH.FK_GUID JOIN RCRA_HD_UNIVERSAL_WASTE UW ON HH.PK_GUID = UW.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))
#if(($univ.get("universal_waste_owner"))||($univ.get("universal_waste_type"))||($univ.get("accumulated"))||($univ.get("generated")))
            <RC:HandlerUniversalWaste>
#if($univ.get("transaction_code"))
                <RC:TransactionCode>$univ.get("transaction_code")</RC:TransactionCode>
#end
#if($univ.get("universal_waste_owner"))
                <RC:UniversalWasteOwnerName>$univ.get("universal_waste_owner")</RC:UniversalWasteOwnerName>
#end
#if($univ.get("universal_waste_type"))
                <RC:UniversalWasteTypeCode>$univ.get("universal_waste_type")</RC:UniversalWasteTypeCode>
#end
#if($univ.get("accumulated"))
                <RC:AccumulatedWasteCode>$univ.get("accumulated")</RC:AccumulatedWasteCode>
#end
#if($univ.get("generated"))
                <RC:GeneratedHandlerCode>$univ.get("generated")</RC:GeneratedHandlerCode>
#end
            </RC:HandlerUniversalWaste>
#end#end
#foreach($waste in $helper.getData("SELECT * FROM RCRA_HD_HBASIC H JOIN RCRA_HD_HANDLER HH ON H.PK_GUID = HH.FK_GUID JOIN RCRA_HD_WASTE_CODE WC ON HH.PK_GUID = WC.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))
#if(($waste.get("waste_code_owner"))||($waste.get("waste_code_type")))
            <RC:HandlerWasteCodeDetails>
#if($waste.get("transaction_code"))
                <RC:TransactionCode>$waste.get("transaction_code")</RC:TransactionCode>
#end
#if($waste.get("waste_code_owner"))
                <RC:WasteCodeOwnerName>$waste.get("waste_code_owner")</RC:WasteCodeOwnerName>
#end
#if($waste.get("waste_code_type"))
                <RC:WasteCode>$waste.get("waste_code_type")</RC:WasteCode>
#end
            </RC:HandlerWasteCodeDetails>
#end#end
        </RC:Handler>
#end
#foreach($other in $helper.getData("SELECT * FROM RCRA_HD_HBASIC H JOIN RCRA_HD_OTHER_ID O ON H.PK_GUID = O.FK_GUID WHERE HANDLER_ID = ? ", $handlerId))
        <RC:OtherID>
#if($other.get("transaction_code"))
            <RC:TransactionCode>$other.get("transaction_code")</RC:TransactionCode>
#end
            <RC:OtherHandlerID>$other.get("other_id")</RC:OtherHandlerID>
#if($other.get("relationship_owner"))
            <RC:RelationshipOwnerName>$other.get("relationship_owner")</RC:RelationshipOwnerName>
#end
#if($other.get("relationship_type"))
            <RC:RelationshipTypeCode>$other.get("relationship_type")</RC:RelationshipTypeCode>
#end
#if($other.get("same_facility"))
            <RC:SameFacilityIndicator>$other.get("same_facility")</RC:SameFacilityIndicator>
#end
#if($other.get("notes"))
            <RC:OtherIDSupplementalInformationText>$other.get("notes")</RC:OtherIDSupplementalInformationText>
#end
        </RC:OtherID>
#end
    </RC:FacilitySubmission>
#end#end##if($handlerCount.get("rowcount") > 0)
</RC:HazardousWasteHandlerSubmission>
#parse("rcra5_foot.vm")
