#if($makeHeader)#if($makeHeader == "true" || $makeHeader == "TRUE")
</hdr:Payload>
</hdr:Document>
#end#end##if($makeHeader
$helper.print("Template Records: $totalRecCount")
## Setting the total number of records processed
$helper.setResultingRecordCount($totalRecCount)
$helper.print("Total Time:")
$helper.printElapsedTime()