<?xml version="1.0" encoding="UTF-8"?>#set($totalRecCount = 0)$helper.startStopWatch()$helper.print("Change Date:")$helper.print($changeDate)
<FacilityList xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.exchangenetwork.net/schema/CAFO/1_0 http://www.windsorsolutions.biz/xsd/CAFO_v1.0/index.xsd" 
schemaVersion="1.0" xmlns="http://www.exchangenetwork.net/schema/CAFO/1_0">
#foreach($facility in $helper.getData("SELECT * FROM CAFO_FAC WHERE STATEFACILITYID IN (SELECT ST_FAC_IND FROM CHANGED_FACILITIES WHERE FLOW_TYPE = 'HERE-CAFO' AND IS_DELETED = 0 AND UPDATE_DATE >= ? )", $helper.toDbDateString($changeDate)))
#set($totalRecCount = $velocityCount)    <Facility>
#if($facility.get("facilityregistryid"))
        <FacilityRegistryIdentifier>$facility.get("facilityregistryid")</FacilityRegistryIdentifier>
#end
#if($facility.get("statefacilityid"))
        <StateFacilityIdentifier>$facility.get("statefacilityid")</StateFacilityIdentifier>
#end
#if($facility.get("facilitysitename"))
        <FacilitySiteName>$facility.get("facilitysitename")</FacilitySiteName>
#end
#if($facility.get("facilityaltname"))
        <FacilityAlternativeName>$facility.get("facilityaltname")</FacilityAlternativeName>
#end
#if($facility.get("facilityinfourl"))
        <FacilityInformationURL>$facility.get("facilityinfourl")</FacilityInformationURL>
#end
#foreach($addr in $helper.getData("SELECT * FROM CAFO_ADD WHERE FK = ? ", $facility.get("pk")))
        <LocationAddress>
#if($addr.get("locationaddress"))
            <LocationAddressText>$addr.get("locationaddress")</LocationAddressText>
#end
#if($addr.get("supplementaladdress"))
            <SupplementalAddressText>$addr.get("supplementaladdress")</SupplementalAddressText>
#end
#if($addr.get("localityname"))
            <LocalityName>$addr.get("localityname")</LocalityName>
#end
#if($addr.get("statename"))
            <StateName>$addr.get("statename")</StateName>
#end
#if($addr.get("stateuspscode"))
            <StateUSPSCode>$addr.get("stateuspscode")</StateUSPSCode>
#end
#if($addr.get("addresspostalcode"))
            <AddressPostalCode>$addr.get("addresspostalcode")</AddressPostalCode>
#end
        </LocationAddress>
#end##foreach($addr in $helper.getData
#foreach($geoloc in $helper.getData("SELECT * FROM CAFO_GEO WHERE FK = ?", $facility.get("pk")))
        <GeographicLocationDescription>
#if($geoloc.get("latitude"))
            <LatitudeMeasure>$geoloc.get("latitude")</LatitudeMeasure>
#end
#if($geoloc.get("longitude"))
            <LongitudeMeasure>$geoloc.get("longitude")</LongitudeMeasure>
#end
#if($geoloc.get("horizaccurvalue") || $geoloc.get("horizaccurunitcode") || $geoloc.get("horizaccurunitcodelistid") || $geoloc.get("horizaccurunitname") || $geoloc.get("prectext") || $geoloc.get("resultqualcode") || $geoloc.get("resultqualcodelistid") || $geoloc.get("resultqualname"))
            <HorizontalAccuracyMeasure>
#if($geoloc.get("horizaccurvalue"))
                <sc:MeasureValue>$geoloc.get("horizaccurvalue")</sc:MeasureValue>
#end
#if($geoloc.get("horizaccurunitcode") || $geoloc.get("horizaccurunitcodelistid") || $geoloc.get("horizaccurunitname"))
                <sc:MeasureUnit>
#if($geoloc.get("horizaccurunitcode"))
                    <sc:MeasureUnitCode>$geoloc.get("horizaccurunitcode")</sc:MeasureUnitCode>
#end
#if($geoloc.get("horizaccurunitcodelistid"))
                    <sc:MeasureUnitCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$geoloc.get("horizaccurunitcodelistid")</sc:MeasureUnitCodeListIdentifier>
#end
#if($geoloc.get("horizaccurunitname"))
                    <sc:MeasureUnitName>$geoloc.get("horizaccurunitname")</sc:MeasureUnitName>
#end
                </sc:MeasureUnit>
#end##if
#if($geoloc.get("prectext"))
                <sc:MeasurePrecisionText>$geoloc.get("prectext")</sc:MeasurePrecisionText>
#end
#if($geoloc.get("resultqualcode") || $geoloc.get("resultqualcodelistid") || $geoloc.get("resultqualname"))
                <sc:ResultQualifier>
#if($geoloc.get("resultqualcode"))
                    <sc:ResultQualifierCode>$geoloc.get("resultqualcode")</sc:ResultQualifierCode>
#end
#if($geoloc.get("resultqualcodelistid"))
                    <sc:ResultQualifierCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$geoloc.get("resultqualcodelistid")</sc:ResultQualifierCodeListIdentifier>
#end
#if($geoloc.get("resultqualname"))
                    <sc:ResultQualifierName>$geoloc.get("resultqualname")</sc:ResultQualifierName>
#end
                </sc:ResultQualifier>
#end##if
            </HorizontalAccuracyMeasure>
#end##if...
#if($geoloc.get("hydrologicunitcode"))
            <HydrologicUnitCode>$geoloc.get("hydrologicunitcode")</HYDROLOGICUNITCODE>
#end
#if($geoloc.get("locationcomments"))
            <LocationCommentsText>$geoloc.get("locationcomments")</LocationCommentsText>
#end
        </GeographicLocationDescription>
#end##foreach($geoloc in $helper.getData
#foreach($permit in $helper.getData("SELECT * FROM CAFO_PERMIT P JOIN CAFO_REG_DTLS R ON R.PK = P.FK WHERE R.PK = ? ", $facility.get("pk")))
        <RegulatoryDetails>
            <sc:PermitIdentity>
#if($permit.get("permitid"))
                <sc:PermitIdentifier>$permit.get("permitid")</sc:PermitIdentifier>
#end
#if($permit.get("permitname"))
                <sc:PermitName>$permit.get("permitname")</sc:PermitName>
#end
#if($permit.get("otherpermitid"))
                <sc:OtherPermitIdentifier OtherPermitIdentifierContext="String">$permit.get("otherpermitid")</sc:OtherPermitIdentifier>
#end
#if($permit.get("programname"))
                <sc:ProgramName>$permit.get("programname")</sc:ProgramName>
#end
#if($permit.get("permittypecode") || $permit.get("permittypecode") || $permit.get("permittypename"))
                <sc:PermitType>
#if($permit.get("permittypecode"))
                    <sc:PermitTypeCode>$permit.get("permittypecode")</sc:PermitTypeCode>
#end
#if($permit.get("permittypecodelistid")))
                    <sc:PermitTypeCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$permit.get("permittypecodelistid")</sc:PermitTypeCodeListIdentifier>
#end
#if($permit.get("permittypename"))
                    <sc:PermitTypeName>$permit.get("permittypename")</sc:PermitTypeName>
#end
                </sc:PermitType>
#end##if...
            </sc:PermitIdentity>
#if($permit.get("dischrgfromprodarea"))
            <DischargesFromProductionAreaIndicator>$permit.get("dischrgfromprodarea")</DischargesFromProductionAreaIndicator>
#end
#if($permit.get("authorizeddischarge"))
            <AuthorizedDischargeIndicator>$permit.get("authorizeddischarge")</AuthorizedDischargeIndicator>
#end
#if($permit.get("unauthorizeddischarge"))
            <UnauthorizedDischargeIndicator>$permit.get("unauthorizeddischarge")</UnauthorizedDischargeIndicator>
#end
#if($permit.get("permittingauthreprecdate"))
            <PermittingAuthorityReportReceivedDate>$permit.get("permittingauthreprecdate")</PermittingAuthorityReportReceivedDate>
#end
#if($permit.get("isanimalfacilitytypecafo"))
            <IsAnimalFacilityTypeCAFOIndicator>$permit.get("isanimalfacilitytypecafo")</IsAnimalFacilityTypeCAFOIndicator>
#end
#if($permit.get("liqmanurevalue") || $permit.get("liqmanureunitcode") || $permit.get("liqmanureunitcodelistid") || $permit.get("liqmanureunitname") || $permit.get("liqmanureprec") || $permit.get("liqmanureresultcode") || $permit.get("liqmanureresultname"))
            <LiquidManureWastewaterGeneratedAmount>
#if($permit.get("liqmanurevalue"))
                <sc:MeasureValue>$permit.get("liqmanurevalue")</sc:MeasureValue>
#end
#if($permit.get("liqmanureunitcode") || $permit.get("liqmanureunitcodelistid") || $permit.get("liqmanureunitname"))
                <sc:MeasureUnit>
#if($permit.get("liqmanureunitcode"))
                    <sc:MeasureUnitCode>$permit.get("liqmanureunitcode")</sc:MeasureUnitCode>
#end
#if($permit.get("liqmanureunitcodelistid"))
                    <sc:MeasureUnitCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$permit.get("liqmanureunitcodelistid")</sc:MeasureUnitCodeListIdentifier>
#end
#if($permit.get("liqmanureunitname"))
                    <sc:MeasureUnitName>$permit.get("liqmanureunitname")</sc:MeasureUnitName>
#end
                </sc:MeasureUnit>
#end##if...
#if($permit.get("liqmanureprec"))
                <sc:MeasurePrecisionText>$permit.get("liqmanureprec")</sc:MeasurePrecisionText>
#end
#if($permit.get("liqmanureresultcode") || $permit.get("liqmanureresultcodelistid") || $permit.get("liqmanureresultname"))
                <sc:ResultQualifier>
#if($permit.get("liqmanureresultcode"))
                    <sc:ResultQualifierCode>$permit.get("liqmanureresultcode")</sc:ResultQualifierCode>
#end
#if($permit.get("liqmanureresultcodelistid"))
                    <sc:ResultQualifierCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$permit.get("liqmanureresultcodelistid")</sc:ResultQualifierCodeListIdentifier>
#end
#if($permit.get("liqmanureresultname"))
                    <sc:ResultQualifierName>$permit.get("liqmanureresultname")</sc:ResultQualifierName>
#end
                </sc:ResultQualifier>
#end##if...
            </LiquidManureWastewaterGeneratedAmount>
#end##if...
#if($permit.get("liqmanuretranvalue") || $permit.get("liqmanuretranunitcode") || $permit.get("liqmanuretranunitcodelistid") || $permit.get("liqmanuretranunitname") || $permit.get("liqmanuretranprec")|| $permit.get("liqmanuretranresultcode") || $permit.get("liqmanuretranresultcodelistid") || $permit.get("liqmanuretranresultname"))
            <LiquidManureWastewaterTransferAmount>
#if($permit.get("liqmanuretranvalue"))
                <sc:MeasureValue>$permit.get("liqmanuretranvalue")</sc:MeasureValue>
#end
#if($permit.get("liqmanuretranunitcode") || $permit.get("liqmanuretranunitcodelistid") || $permit.get("liqmanuretranunitname"))
                <sc:MeasureUnit>
#if($permit.get("liqmanuretranunitcode"))
                    <sc:MeasureUnitCode>$permit.get("liqmanuretranunitcode")</sc:MeasureUnitCode>
#end
#if($permit.get("liqmanuretranunitcodelistid"))
                    <sc:MeasureUnitCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$permit.get("liqmanuretranunitcodelistid")</sc:MeasureUnitCodeListIdentifier>
#end
#if($permit.get("liqmanuretranunitname"))
                    <sc:MeasureUnitName>$permit.get("liqmanuretranunitname")</sc:MeasureUnitName>
#end
                </sc:MeasureUnit>
#end##if...
#if($permit.get("liqmanuretranprec"))
                <sc:MeasurePrecisionText>$permit.get("liqmanuretranprec")</sc:MeasurePrecisionText>
#end
#if($permit.get("liqmanuretranresultcode") || $permit.get("liqmanuretranresultcodelistid") || $permit.get("liqmanuretranresultname"))
                <sc:ResultQualifier>
#if($permit.get("liqmanuretranresultcode"))
                    <sc:ResultQualifierCode>$permit.get("liqmanuretranresultcode")</sc:ResultQualifierCode>
#end
#if($permit.get("liqmanuretranresultcodelistid"))
                    <sc:ResultQualifierCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$permit.get("liqmanuretranresultcodelistid")</sc:ResultQualifierCodeListIdentifier>
#end
#if($permit.get("liqmanuretranresultname"))
                    <sc:ResultQualifierName>$permit.get("liqmanuretranresultname")</sc:ResultQualifierName>
#end
                </sc:ResultQualifier>
#end##if...
            </LiquidManureWastewaterTransferAmount>
#end##if...
#if($permit.get("solmanureunitcode") || $permit.get("solmanureunitcodelistid") || $permit.get("solmanureunitname") || $permit.get("solmanureprec") || $permit.get("solmanureresultcode") || $permit.get("solmanureresultcodelistid") || $permit.get("solmanureresultname"))
            <SolidManureLitterGeneratedAmount>
#if($permit.get("solmanurevalue"))
                <sc:MeasureValue>$permit.get("solmanurevalue")</sc:MeasureValue>
#end
#if($permit.get("solmanureunitcode") || $permit.get("solmanureunitcodelistid") || $permit.get("solmanureunitname"))
                <sc:MeasureUnit>
#if($permit.get("solmanureunitcode"))
                    <sc:MeasureUnitCode>$permit.get("solmanureunitcode")</sc:MeasureUnitCode>
#end
#if($permit.get("solmanureunitcodelistid"))
                    <sc:MeasureUnitCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$permit.get("solmanureunitcodelistid")</sc:MeasureUnitCodeListIdentifier>
#end
#if($permit.get("solmanureunitname"))
                    <sc:MeasureUnitName>$permit.get("solmanureunitname")</sc:MeasureUnitName>
#end
                </sc:MeasureUnit>
#end##if...
#if($permit.get("solmanureprec"))
                <sc:MeasurePrecisionText>$permit.get("solmanureprec")</sc:MeasurePrecisionText>
#end
#if($permit.get("solmanureresultcode") || $permit.get("solmanureresultcodelistid") || $permit.get("solmanureresultname"))
                <sc:ResultQualifier>
#if($permit.get("solmanureresultcode"))
                    <sc:ResultQualifierCode>$permit.get("solmanureresultcode")</sc:ResultQualifierCode>
#end
#if($permit.get("solmanureresultcodelistid"))
                    <sc:ResultQualifierCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$permit.get("solmanureresultcodelistid")</sc:ResultQualifierCodeListIdentifier>
#end
#if($permit.get("solmanureresultname"))
                    <sc:ResultQualifierName>$permit.get("solmanureresultname")</sc:ResultQualifierName>
#end
                </sc:ResultQualifier>
#end##if...
            </SolidManureLitterGeneratedAmount>
#end##if...
#if($permit.get("solmanuretranvalue") || $permit.get("solmanuretranunitcode") || $permit.get("solmanuretranunitcodelistid") || $permit.get("solmanuretranunitname") || $permit.get("solmanuretranprec") || $permit.get("solmanuretranresultcode") || $permit.get("solmanuretranresultcodelistid") || $permit.get("solmanuretranresultname"))
            <SolidManureLitterTransferAmount>
#if($permit.get("solmanuretranvalue"))
                <sc:MeasureValue>$permit.get("solmanuretranvalue")</sc:MeasureValue>
#end
#if($permit.get("solmanuretranunitcode") || $permit.get("solmanuretranunitcodelistid") || $permit.get("solmanuretranunitname"))
                <sc:MeasureUnit>
#if($permit.get("solmanuretranunitcode"))
                    <sc:MeasureUnitCode>$permit.get("solmanuretranunitcode")</sc:MeasureUnitCode>
#end
#if($permit.get("solmanuretranunitcodelistid"))
                    <sc:MeasureUnitCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$permit.get("solmanuretranunitcodelistid")</sc:MeasureUnitCodeListIdentifier>
#end
#if($permit.get("solmanuretranunitname"))
                    <sc:MeasureUnitName>$permit.get("solmanuretranunitname")</sc:MeasureUnitName>
#end
                </sc:MeasureUnit>
#end##if...
#if($permit.get("solmanuretranprec"))
                <sc:MeasurePrecisionText>$permit.get("solmanuretranprec")</sc:MeasurePrecisionText>
#end
#if($permit.get("solmanuretranresultcode") || $permit.get("solmanuretranresultcodelistid") || $permit.get("solmanuretranresultname"))
                <sc:ResultQualifier>
#if($permit.get("solmanuretranresultcode"))
                    <sc:ResultQualifierCode>$permit.get("solmanuretranresultcode")</sc:ResultQualifierCode>
#end
#if($permit.get("solmanuretranresultcodelistid"))
                    <sc:ResultQualifierCodeListIdentifier CodeListVersionIdentifier="String" CodeListVersionAgencyIdentifier="String">$permit.get("solmanuretranresultcodelistid")</sc:ResultQualifierCodeListIdentifier>
#end
#if($permit.get("solmanuretranresultname"))
                    <sc:ResultQualifierName>$permit.get("solmanuretranresultname")</sc:ResultQualifierName>
#end
                </sc:ResultQualifier>
#end##if...
            </SolidManureLitterTransferAmount>
#end##if...
#if($permit.get("nmpdevcertplanapproved"))
            <NMPDevelopedCertifiedPlannerApprovedIndicator>$permit.get("nmpdevcertplanapproved")</NMPDevelopedCertifiedPlannerApprovedIndicator>
#end
#if($permit.get("totalnumacresnmpidentified"))
            <TotalNumberAcresNMPIdentified>$permit.get("totalnumacresnmpidentified")</TotalNumberAcresNMPIdentified>
#end
#if($permit.get("totalnumacresusedlandapp"))
            <TotalNumberAcresUsedLandApplication>$permit.get("totalnumacresusedlandapp")</TotalNumberAcresUsedLandApplication>
#end
        </RegulatoryDetails>
#end##foreach($permit in $helper.getData
#foreach($animal in $helper.getData("SELECT * FROM CAFO_ANIMAL WHERE FK = ? ", $facility.get("pk")))
        <AnimalType>
#if($animal.get("animaltypecode"))
            <AnimalTypeCode>$animal.get("animaltypecode")</AnimalTypeCode>
#end
#if($animal.get("animaltypename"))
            <AnimalTypeName>$animal.get("animaltypename")</AnimalTypeName>
#end
#if($animal.get("totalnumseachlivestock"))
            <TotalNumbersEachLivestock>$animal.get("totalnumseachlivestock")</TotalNumbersEachLivestock>
#end
#if($animal.get("opencount"))
            <OpenConfinementCount>$animal.get("opencount")</OpenConfinementCount>
#end
#if($animal.get("housedunderroofcount"))
            <HousedUnderRoofConfinementCount>$animal.get("housedunderroofcount")</HousedUnderRoofConfinementCount>
#end
        </AnimalType>
#end##foreach($animal in $helper.getData
    </Facility>
#end##foreach($facility in $helper.getData
</FacilityList>
$helper.print("Total Facilities: $totalRecCount")
## Setting the total number of records processed
$helper.setResultingRecordCount($totalRecCount)
$helper.print("Total Time:")
$helper.printElapsedTime()