<?xml version="1.0" encoding="UTF-8"?>#set ($totalRecCount = 0)$helper.startStopWatch()$helper.print("Change Date: $changeDate")
<HEREManifest xmlns="http://www.exchangenetwork.net/schema/HERE/1" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.exchangenetwork.net/schema/HERE/1 http://www.windsorsolutions.biz/xsd/HERE/1/0/HERE_Manifest_v1.0.1.xsd">
    <HEREManifestDetails>
#foreach($item in $helper.getData("SELECT transactionid, endpointurl, dataexchangename, isfacilitysourceindicator, sourcesystemname, fullreplaceindicator, createddate FROM HERE_MANIFEST WHERE CREATEDDATE >= ? ORDER BY createddate DESC ", $helper.toDbDateString($changeDate)))
#if($userFlowNames.contains($item.get("dataexchangename")))
#set ($totalRecCount = $velocityCount)
        <HEREManifestItem>
#if($item.get("transactionid"))
            <TransactionIdentifier>$item.get("transactionid")</TransactionIdentifier>
#end
#if($item.get("endpointurl"))
            <EndpointURLIdentifier>$item.get("endpointurl")</EndpointURLIdentifier>
#end
#if($item.get("dataexchangename"))
            <DataExchangeNameText>$item.get("dataexchangename")</DataExchangeNameText>
#end
            <SourceInfo>
#if($item.get("isfacilitysourceindicator"))
                <IsFacilitySourceIndicator>$helper.toXmlBoolean($item.get("isfacilitysourceindicator"))</IsFacilitySourceIndicator>
#end
#if($item.get("sourcesystemname"))
                <SourceSystemName>$item.get("sourcesystemname")</SourceSystemName>
#end
            </SourceInfo>
#if($item.get("fullreplaceindicator"))
            <FullReplaceIndicator>$helper.toXmlBoolean($item.get("fullreplaceindicator"))</FullReplaceIndicator>
#end
#if($item.get("createddate"))
            <CreatedDate>$helper.toXmlDateTime($item.get("createddate"))</CreatedDate>
#end
        </HEREManifestItem>
#end#end##if($userFlowNames.contains($item.get("dataexchangename")))##foreach($item in $helper.getData
    </HEREManifestDetails>
</HEREManifest>
$helper.print("Total Manifest items: $totalRecCount")
##$helper.setResultingRecordCount($totalRecCount)
$helper.print("Total Time:")
$helper.printElapsedTime()
