<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">


    <!-- Tabs -->
    <object id="configTabArgs" type="TabItem">
        <property name="Text" value="Global Arguments"/>
        <property name="Url" value="Secure/ConfigArgs.aspx"/>
        <property name="RequiresAdmin" value="True"/>
    </object>
    <object id="configTabDs" type="TabItem">
        <property name="Text" value="Data Sources"/>
        <property name="Url" value="Secure/ConfigDs.aspx"/>
        <property name="RequiresAdmin" value="True"/>
    </object>
    <object id="configTabPartner" type="TabItem">
        <property name="Text" value="Network Partners"/>
        <property name="Url" value="Secure/ConfigPartner.aspx"/>
        <property name="RequiresAdmin" value="True"/>
    </object>
    <object id="configTabImportExport" type="TabItem">
        <property name="Text" value="Import/Export Settings"/>
        <property name="Url" value="Secure/ConfigImportExportSettings.aspx"/>
        <property name="RequiresAdmin" value="True"/>
    </object>



    <!-- ******************************************************************
  
       GLOBAL ARGS
  
       ****************************************************************** -->

    <!-- ConfigArgs -->
    <object type="~/Secure/ConfigArgs.aspx">
        <property name="SectionTitle" value="Node Configuration Manager"/>
        <property name="SideTabs">
            <list>
                <ref object="configTabArgs"/>
                <ref object="configTabDs"/>
                <ref object="configTabPartner"/>
                <!--<ref object="configTabImportExport"/>-->
            </list>
        </property>
        <property name="SelectedTabIndex" value="0" />
        <property name="ListConfig" ref="globalArgListConfig" />
        <property name="RequiresAdmin" value="True"/>
    </object>

    <!-- globalArgList -->
    <object id="globalArgListConfig" type="Windsor.Node2008.Admin.SimpleListConfig, Windsor.Node2008.Admin">
        <property name="SectionHeadline" value="Global Arguments"/>
        <property name="IntroParagraphs">
            <list>
                <value>This section of the Node Configuration provides mechanism to create, edit and delete global arguments. This approach allows for single-point configuration management, even if that argument is used across multiple data services. Please edit these values with caution as they may have global impact.</value>
            </list>
        </property>
        <property name="DetailItemLinkText" value="Add Argument"/>
        <property name="DetailItemLinkUri" value="../Secure/ConfigArgsEdit.aspx"/>
        <property name="LinkItemImageUri" value="../Images/UI/tag_green.png"/>
        <property name="SimpleDataService" ref="configManagerService"/>
    </object>

    <!-- ConfigArgsEdit -->
    <object type="~/Secure/ConfigArgsEdit.aspx">
        <property name="SectionTitle" value="Node Configuration Manager"/>
        <property name="SectionHeadline" value="Global Arguments"/>
        <property name="IntroParagraphs">
            <list>
                <value>
                    Global arguments are parameters that can be used to direct the operation of multiple data services.  For example, where a certain type of indicator or flag is used by multiple data services, a global value can be set for that indicator or flag and then simply referenced when the data services are defined to the Node.
                    This section allows you to create, modify and delete these global arguments.
                </value>
            </list>
        </property>
        <property name="SideTabs">
            <list>
                <ref object="configTabArgs"/>
                <ref object="configTabDs"/>
                <ref object="configTabPartner"/>
                <!--<ref object="configTabImportExport"/>-->
            </list>
        </property>
        <property name="SelectedTabIndex" value="0" />
        <property name="DataItemService" ref="configManagerService"/>
        <property name="RequiresAdmin" value="True"/>
    </object>


    <!-- ******************************************************************
  
       DATA SOURCES
  
       ****************************************************************** -->


    <!-- ConfigDs -->
    <object type="~/Secure/ConfigDs.aspx">
        <property name="SectionTitle" value="Node Configuration Manager"/>
        <property name="SideTabs">
            <list>
                <ref object="configTabArgs"/>
                <ref object="configTabDs"/>
                <ref object="configTabPartner"/>
                <!--<ref object="configTabImportExport"/>-->
            </list>
        </property>
        <property name="SelectedTabIndex" value="1" />
        <property name="ListConfig" ref="dataSourceListConfig" />
        <property name="RequiresAdmin" value="True"/>
    </object>


    <!-- dataSourceList -->
    <object id="dataSourceListConfig"  type="Windsor.Node2008.Admin.SimpleListConfig, Windsor.Node2008.Admin">
        <property name="SectionHeadline" value="Data Sources"/>
        <property name="IntroParagraphs">
            <list>
                <value>This section of the Node Configuration provides a mechanism to create, edit and delete data sources which can be applied to many data services.</value>
            </list>
        </property>
        <property name="DetailItemLinkText" value="Add Data Source"/>
        <property name="DetailItemLinkUri" value="ConfigDsEdit.aspx"/>
        <property name="LinkItemImageUri" value="../Images/UI/database.png"/>
        <property name="SimpleDataService" ref="dataProviderManagerService"/>
    </object>

    <!-- ConfigDsEdit -->
    <object type="~/Secure/ConfigDsEdit.aspx">
        <property name="SectionTitle" value="Node Configuration Manager"/>
        <property name="SectionHeadline" value="Data Sources"/>
        <property name="IntroParagraphs">
            <list>
                <value>This section of the Node Configuration provides a mechanism to create, edit and delete data sources which can be applied to many data services.</value>
            </list>
        </property>
        <property name="SideTabs">
            <list>
                <ref object="configTabArgs"/>
                <ref object="configTabDs"/>
                <ref object="configTabPartner"/>
                <!--<ref object="configTabImportExport"/>-->
            </list>
        </property>
        <property name="SelectedTabIndex" value="1" />
        <property name="DataItemService" ref="dataProviderManagerService"/>
        <property name="DataProviderNames">
            <list>
                <value>System.Data.SqlClient</value>
                <value>System.Data.OracleClient</value>
                <!--<value>System.Data.SqlServerCe</value>
                <value>System.Data.OleDb</value>
                <value>System.DataAccess.Client</value>
                <value>MySql.Data.MySqlClient</value>
                <value>SqlServer-1.1</value>
                <value>SqlServer-2.0</value>
                <value>SqlServerCe-3.1</value>
                <value>OleDb-1.1</value>
                <value>OleDb-2.0</value>
                <value>OracleClient-2.0</value>
                <value>OracleODP-2.0</value>
                <value>MySql-1.0.9</value>
                <value>MySql-5.0</value>
                <value>MySql-5.0.8.1</value>
                <value>MySql-5.1</value>
                <value>MySql-5.1.4</value>
                <value>Npgsql-1.0</value>
                <value>Npgsql-2.0-beta1</value>
                <value>DB2-9.0.0-1.1</value>
                <value>DB2-9.0.0-2.0</value>
                <value>DB2-9.1.0-1.1</value>
                <value>DB2-9.1.0.2</value>
                <value>SQLite-1.0.43</value>
                <value>SQLite-1.0.47</value>
                <value>SybaseAse-12</value>
                <value>SybaseAse-15</value>
                <value>Odbc-1.1</value>
                <value>Odbc-2.0</value>-->
            </list>
        </property>
        <property name="RequiresAdmin" value="True"/>
    </object>


    <!-- ******************************************************************
  
       PARTNERS
  
       ****************************************************************** -->

    <!-- ConfigPartner -->
    <object type="~/Secure/ConfigPartner.aspx">
        <property name="SectionTitle" value="Node Configuration Manager"/>
        <property name="SideTabs">
            <list>
                <ref object="configTabArgs"/>
                <ref object="configTabDs"/>
                <ref object="configTabPartner"/>
                <!--<ref object="configTabImportExport"/>-->
            </list>
        </property>
        <property name="SelectedTabIndex" value="2" />
        <property name="ListConfig" ref="partnerListConfig" />
        <property name="RequiresAdmin" value="True"/>
    </object>


    <!-- partnerList -->
    <object id="partnerListConfig"  type="Windsor.Node2008.Admin.SimpleListConfig, Windsor.Node2008.Admin">
        <property name="SectionHeadline" value="Network Partners"/>
        <property name="IntroParagraphs">
            <list>
                <value>This section of the Node Configuration provides mechanism to define Exchange Network partners. Partners can be used in a schedule definition as the target recipient for data processes.</value>
                <value>Note: the partners defined in this section must support an endpoint adhering to the EN specifications equal to that under which this Node operates.</value>
            </list>
        </property>
        <property name="DetailItemLinkText" value="Add Partner"/>
        <property name="DetailItemLinkUri" value="ConfigPartnerEdit.aspx"/>
        <property name="LinkItemImageUri" value="../Images/UI/group.png"/>
        <property name="SimpleDataService" ref="partnerManagerService"/>
    </object>


    <!-- ConfigPartnerEdit -->
    <object type="~/Secure/ConfigPartnerEdit.aspx">
        <property name="SectionTitle" value="Node Configuration Manager"/>
        <property name="SectionHeadline" value="Network Partners"/>
        <property name="IntroParagraphs">
            <list>
                <value>This section of the Node Configuration provides mechanism to define Exchange Network partners. Partners can be used in a schedule definition as the target recipient for data processes.</value>
                <value>Note: the partners defined in this section must support an endpoint adhering to the EN specifications equal to that under which this Node operates.</value>
            </list>
        </property>
        <property name="SideTabs">
            <list>
                <ref object="configTabArgs"/>
                <ref object="configTabDs"/>
                <ref object="configTabPartner"/>
                <!--<ref object="configTabImportExport"/>-->
            </list>
        </property>
        <property name="SelectedTabIndex" value="2" />
        <property name="DataItemService" ref="partnerManagerService"/>
        <property name="RequiresAdmin" value="True"/>
    </object>

    <!-- ConfigImportExportSettings -->
    <object type="~/Secure/ConfigImportExportSettings.aspx">
        <property name="SectionTitle" value="Node Configuration Manager"/>
        <property name="SectionHeadline" value="Import/Export Settings"/>
        <property name="IntroParagraphs">
            <list>
                <value>
                    This screen allows you to import or export settings for the node, including configuration settings, exchanges, services, and schedules.

                    To import, choose a file that contains node settings, then click 'Import'.  To export, click the 'Export' button to save a file that contains node settings.
                </value>
            </list>
        </property>
        <property name="SideTabs">
            <list>
                <ref object="configTabArgs"/>
                <ref object="configTabDs"/>
                <ref object="configTabPartner"/>
                <!--<ref object="configTabImportExport"/>-->
            </list>
        </property>
        <property name="SelectedTabIndex" value="3" />
        <property name="ImportExportSettingsService" ref="importExportSettingsService"/>
        <property name="RequiresAdmin" value="True"/>
    </object>
</objects>



