<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">

    <!-- Tabs -->
    <object id="flowManageExchanges" type="TabItem">
        <property name="Text" value="Manage Exchanges"/>
        <property name="Url" value="Secure/Flow.aspx"/>
    </object>
    <object id="flowUploadPlugin" type="TabItem">
        <property name="Text" value="Upload Plugin"/>
        <property name="Url" value="Secure/FlowUploadPlugin.aspx"/>
        <property name="RequiresAdmin" value="True"/>
    </object>

    <!-- Flow -->
    <object type="~/Secure/Flow.aspx">
        <property name="SectionTitle" value="Data Exchange Manager"/>
        <property name="SectionHeadline" value="Currently Configured Data Exchanges"/>
        <property name="IntroParagraphs">
            <list>
                <value>This screen allows you to configure or add new exchanges or services. You must define an exchange before you will be able to create a service for that exchange.</value>
            </list>
        </property>
        <property name="SideTabs">
            <list>
                <ref object="flowManageExchanges"/>
                <ref object="flowUploadPlugin"/>
            </list>
        </property>
        <property name="SelectedTabIndex" value="0" />
        <property name="FlowService" ref="flowManagerService"/>
        <property name="UserSettingsManager" ref="userSettingsManagerService"/>
    </object>

    <!-- FlowServiceEdit -->
    <object type="~/Secure/FlowServiceEdit.aspx">
        <property name="SectionTitle" value="Data Exchange Manager"/>
        <property name="SectionHeadline" value="Manage Exchange Service"/>
        <property name="IntroParagraphs">
            <list>
                <value>This screen allows you to configure or add new services for a selected exchange. Examples: "GetFacilityByChangeDate": return all facilities for a passed-in state USPS code and change date "GetFacilityByName": return all facilities matching a wild-card name search.</value>
            </list>
        </property>
        <property name="SideTabs">
            <list>
                <ref object="flowManageExchanges"/>
                <ref object="flowUploadPlugin"/>
            </list>
        </property>
        <property name="SelectedTabIndex" value="0" />
        <property name="FlowService" ref="flowManagerService"/>
    </object>

    <!-- FlowEdit -->
    <object type="~/Secure/FlowEdit.aspx">
        <property name="SectionTitle" value="Data Exchange Manager"/>
        <property name="SectionHeadline" value="Manage Data Exchange"/>
        <property name="IntroParagraphs">
            <list>
                <value>This screen allows you to configure or add new exchange. You must define a data flow before you will be able to create a data service for that flow.</value>
            </list>
        </property>
        <property name="SideTabs">
            <list>
                <ref object="flowManageExchanges"/>
                <ref object="flowUploadPlugin"/>
            </list>
        </property>
        <property name="SelectedTabIndex" value="0" />
        <property name="FlowService" ref="flowManagerService"/>
    </object>

    <!-- FlowUploadPlugin -->
    <object type="~/Secure/FlowUploadPlugin.aspx">
        <property name="SectionTitle" value="Data Exchange Manager"/>
        <property name="SectionHeadline" value="Upload Plugins"/>
        <property name="IntroParagraphs">
            <list>
                <value>
                    This screen allows you to upload a new plugin for use in the Node.

                    The uploaded file must be compressed in ZIP format.
                </value>
            </list>
        </property>
        <property name="SideTabs">
            <list>
                <ref object="flowManageExchanges"/>
                <ref object="flowUploadPlugin"/>
            </list>
        </property>
        <property name="SelectedTabIndex" value="1" />
        <property name="DataItemService" ref="flowManagerService"/>
        <property name="SettingsProviderService" ref="settingsProviderService"/>
        <property name="RequiresAdmin" value="True"/>
        <property name="RedirectPageIfNotAdmin" value="~/Secure/Flow.aspx"/>
    </object>

</objects>



