<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">

    <!-- Tabs -->
    <object id="scheduleTabs" type="TabItem">
        <property name="Text" value="Manage Schedules"/>
        <property name="Url" value="Secure/Schedule.aspx"/>
    </object>

    <!-- ******************************************************************
  
       SCHEDULE
  
       ****************************************************************** -->

    <!-- Schedule -->
    <object type="~/Secure/Schedule.aspx">
        <property name="SectionTitle" value="Schedule Manager"/>
        <property name="SideTabs">
            <list>
                <ref object="scheduleTabs"/>
            </list>
        </property>
        <property name="SelectedTabIndex" value="0" />
        <property name="ListConfig" ref="scheduleListConfig" />
        <property name="DataItemService" ref="scheduleManagerService"/>
        <property name="ScheduleProcessor" ref="scheduleProcessorService"/>
        <property name="UserSettingsManager" ref="userSettingsManagerService"/>
        <property name="RefreshFrequencyInSeconds" value="20"/>
    </object>

    <!-- scheduleListConfig -->
    <object id="scheduleListConfig" type="Windsor.Node2008.Admin.SimpleListConfig, Windsor.Node2008.Admin">
        <property name="SectionHeadline" value="Edit Recurring Processes"/>
        <property name="IntroParagraphs">
            <list>
                <value>New scheduled tasks can be added from this screen. Upon adding the task if the task is scheduled to run as of now (default), the task will immediately start running.</value>
            </list>
        </property>
        <property name="DetailItemLinkText" value="Add Schedule"/>
        <property name="DetailItemLinkUri" value="../Secure/ScheduleEdit.aspx"/>
        <property name="SimpleDataService" ref="scheduleManagerService"/>
    </object>

    <!-- ScheduleEdit -->
    <object type="~/Secure/ScheduleEdit.aspx">
        <property name="SectionTitle" value="Schedule Manager"/>
        <property name="SectionHeadline" value="Manage Schedule Details"/>
        <property name="IntroParagraphs">
            <list>
                <value>New scheduled tasks can be added from this screen. Upon adding the task if the task is scheduled to run as of now (default), the task will immediately start running.</value>
            </list>
        </property>
        <property name="SideTabs">
            <list>
                <ref object="scheduleTabs"/>
            </list>
        </property>
        <property name="SelectedTabIndex" value="0" />
        <property name="DataItemService" ref="scheduleManagerService"/>
        <property name="ScheduleProcessor" ref="scheduleProcessorService"/>
    </object>
</objects>



