<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
    <div class="workspace-title-panel pad-top-5">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="page-title" wicket:id="pageTitle">Page title</div>
                <div class="primary-title" id="contentStart" tabindex="-1"><h1 wicket:id="primaryTitle">Account Name</h1> <span class="secondary-title" wicket:id="secondaryTitle">Authenticated</span></div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div wicket:id="additionalInfoPanel" class="additional-info-panel right">
                    <address>
                        136 West Street<br>
                        Suite 201<br>
                        Northampton, MA  01060
                    </address>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>
</html>