#if($control.controlId || $control.controlCode || $control.controlName || $control.controlSeq || $control.controlEndDate || $control.certReceivedDate || $control.certNoticeSentDate || $control.certDueDate || $control.certAcceptDate || $control.certNextDate || $control.followupLetter || $control.enfReferralDate || $control.auditDate || $control.controlsDescription || $control.auditSummary || $control.certComments)
                    <Controls>
#if($control.controlId)
                        <ControlID>$control.controlId</ControlID>
#end
#if($control.controlCode)
                        <ContrCode>$control.controlCode</ContrCode>
#end
#if($control.controlName)
                        <ControlCodeName>$control.controlName</ControlCodeName>
#end
#if($control.controlSeq)
                        <ContrSeq>$control.controlSeq</ContrSeq>
#end
#if($control.controlInplaceDate)
                        <ControlsInplaceDate>$control.getControlInplaceDateString()</ControlsInplaceDate>
#end
#if($control.controlEndDate)
                        <ControlsEndDate>$control.getControlEndDateString()</ControlsEndDate>
#end
#if($control.certReceivedDate)
                        <CertRecDate>$control.getCertReceivedDateString()</CertRecDate>
#end
#if($control.certNoticeSentDate)
                        <CertNoticeSentDate>$control.getCertNoticeSentDateString()</CertNoticeSentDate>
#end
#if($control.certDueDate)
                        <CertDueDate>$control.getCertDueDateString()</CertDueDate>
#end
#if($control.certAcceptDate)
                        <CertAcceptDate>$control.getCertAcceptDateString()</CertAcceptDate>
#end
#if($control.certNextDate)
                        <NextCertDate>$control.getCertNextDateString()</NextCertDate>
#end
#if($control.followupLetter)
                        <FollowupLtr>$control.getFollowupLetterString()</FollowupLtr>
#end
#if($control.enfReferralDate)
                        <EnforceRef>$control.getEnfReferralDateString()</EnforceRef>
#end
#if($control.auditDate)
                        <AudDate>$control.getAuditDateString()</AudDate>
#end
#if($control.controlsDescription)
                        <ControlsDesc>$control.controlsDescription</ControlsDesc>
#end
#if($control.auditSummary)
                        <AudSummary>$control.auditSummary</AudSummary>
#end
#if($control.certComments)
                        <CertComments>$control.certComments</CertComments>
#end#end