#if($program.siteId || $program.facilityId || $program.programNum || $program.programTypeCode || $program.programTypeName || $program.facilityName || $program.startDate || $program.startQualifier || $program.endDate || $program.endQualifier || $program.edocsPath || $program.newEdocsPath || $program.edocNew || $program.lastModified) 
        <DERPrograms>
#if($program.siteId)
            <DERProgramsSiteID>$program.siteId</DERProgramsSiteID>
#end
#if($program.facilityId)
            <DERProgramsFacID>$program.facilityId</DERProgramsFacID>
#end
#if($program.programNum)
            <DERProgramsProgNo>$program.programNum</DERProgramsProgNo>
#end
#if($program.programTypeCode)
            <DERProgramsProgTypeCode>$program.programTypeCode</DERProgramsProgTypeCode>
#end
#if($program.programTypeName)
            <ProgramTypeCodeName>$program.programTypeName</ProgramTypeCodeName>
#end
#if($program.facilityName)
            <DERProgramsProgFacName>$program.facilityName</DERProgramsProgFacName>
#end
#if($program.startDate)
            <DERProgramsRecStartDate>$program.getStartDateString()</DERProgramsRecStartDate>
#end
#if($program.startQualifier)
            <DERProgramsRecStartQualifier>$program.startQualifier</DERProgramsRecStartQualifier>
#end
#if($program.endDate)
            <DERProgramsRecEndDate>$program.getEndDateString()</DERProgramsRecEndDate>
#end
#if($program.endQualifier)
            <DERProgramsRecEndQualifier>$program.endQualifier</DERProgramsRecEndQualifier>
#end
#if($program.edocsPath)
            <DERProgramseDocsPath>$program.edocsPath</DERProgramseDocsPath>
#end
#if($program.newEdocsPath)
            <DERProgramsNeweDocsPath>$program.newEdocsPath</DERProgramsNeweDocsPath>
#end
#if($program.edocNew)
            <DERProgramseDocsNew>$program.edocNew</DERProgramseDocsNew>
#end
#if($program.lastModified)
            <DERProgramsLastModified>$program.getLastModifiedString()</DERProgramsLastModified>
#end
#if($program.facilityId || $program.facilityAddressOne || $program.facilityAddressTwo || $program.facilityLocality || $program.facilityZipCode || $program.facilitySwisCode)    
            <Facility>
#if($program.facilityId)
                <DERFacID>$program.facilityId</DERFacID>
#end
#if($program.facilityAddressOne)
                <FacilityAddress1>$program.facilityAddressOne</FacilityAddress1>
#end
#if($program.facilityAddressTwo)
                <FacilityAddress2>$program.facilityAddressTwo</FacilityAddress2>
#end
#if($program.facilityLocality)
                <FacilityLocality>$program.facilityLocality</FacilityLocality>
#end
#if($program.facilityZipCode)
                <FacilityZIPcode>$program.facilityZipCode</FacilityZIPcode>
#end
#if($program.facilitySwisCode)
                <FacilitySWIScode>$program.facilitySwisCode</FacilitySWIScode>
#end
            </Facility>
#end#end