#if($material.materialId || $material.opUnitId || $material.programSiteId  || $material.materialCode || $material.targetLevel || $material.quantity || $material.units || $material.recovered || $material.pmContaminantComments || $material.modifiedBy || $material.lastModified || $material.mediaAffectedCode || $material.mediaAffectedTargetLevel)
                <ERMaterial>
#if($material.materialId) 
                    <ERMaterialMatID>$material.materialId</ERMaterialMatID>
#end
#if($material.opUnitId )
                    <ERMaterialOpUnitID>$material.opUnitId</ERMaterialOpUnitID>
#end
#if($material.programSiteId)
                    <DERProgramsSiteID>$material.programSiteId</DERProgramsSiteID>
#end
#if($material.medRecept)
                    <ERMaterialMedRecept>$material.medRecept</ERMaterialMedRecept>
#end
#if($material.materialCode)
                    <ERMaterialMatCode>$material.materialCode</ERMaterialMatCode>
#end
#if($material.targetLevel)
                    <ERMaterialTargetLvl>$material.targetLevel</ERMaterialTargetLvl>
#end
#if($material.quantity)
                    <ERMaterialQuantity>$material.getQuantityString()</ERMaterialQuantity>
#end
#if($material.units)
                    <ERMaterialUnits>$material.units</ERMaterialUnits>
#end
#if($material.recovered)
                    <ERMaterialRecovered>$material.getRecoveredString()</ERMaterialRecovered>
#end
#if($material.pmContaminantComments)
                    <ERMaterialChemComments>$material.pmContaminantComments</ERMaterialChemComments>
#end
#if($material.modifiedBy)
                    <ERMaterialModifiedBy>$material.modifiedBy</ERMaterialModifiedBy>
#end
#if($material.lastModified)
                    <ERMaterialLastModified>$material.getLastModifiedString()</ERMaterialLastModified>
#end#end
