#foreach($petition in $petitions)#if($petition.petitionSeqNbr || $petition.petitionFiledOne || $petition.petitionerName || $petition.controlSecSignDate || $petition.pacTrq || $petition.regionalOfficeSignDate || $petition.regionalOfficeSignDate || $petition.centralOfficeSignDate || $petition.dohSignDate || $petition.decSignDate || $petition.divisionApproveDate || $petition.finalizationDate || $petition.onHoldDate || $petition.commentOne || $petition.commentTwo || $petition.siteName || $petition.petitionFiledTwo || $petition.petitionFiledTwoA || $petition.petitionFiledThree || $petition.comments)
                <ERPetFile>
#if($petition.petitionSeqNbr)
                    <ERPetFilePSeqno>$petition.petitionSeqNbr</ERPetFilePSeqno>
#end
#if($petition.petitionFiledOne)
                    <PtFil1>$petition.petitionFiledOne</PtFil1>
#end
#if($petition.petitionerName)
                    <Petitr>$petition.petitionerName</Petitr>
#end
#if($petition.controlSecSignDate)
                    <PSCSdtDate>$petition.getControlSecSignDateString()</PSCSdtDate>
#end
#if($petition.pacTrq)
                    <PacTrq>$petition.pacTrq</PacTrq>
#end
#if($petition.regionalOfficeSignDate)
                    <PRegDtDate>$petition.getRegionalOfficeSignDateString()</PRegDtDate>
#end
#if($petition.centralOfficeSignDate)
                    <PCODatDate>$petition.getCentralOfficeSignDateString()</PCODatDate>
#end
#if($petition.dohSignDate)
                    <PDODDtDate>$petition.getDohSignDateString()</PDODDtDate>
#end
#if($petition.decSignDate)
                    <PDEEDtDate>$petition.getDecSignDateString()</PDEEDtDate>
#end
#if($petition.divisionApproveDate)
                    <PApprdDate>$petition.getDivisionApproveDateString()</PApprdDate>
#end
#if($petition.finalizationDate)
                    <PFinDtDate>$petition.getFinalizationDateString()</PFinDtDate>
#end
#if($petition.onHoldDate)
                    <PHldDtDate>$petition.getOnHoldDateString()</PHldDtDate>
#end
#if($petition.commentOne)
                    <PComm1>$petition.commentOne</PComm1>
#end
#if($petition.commentTwo)
                    <PComm2>$petition.commentTwo</PComm2>
#end
#if($petition.siteName)
                    <PSName>$petition.siteName</PSName>
#end
#if($petition.petitionFiledTwo)
                    <PTFil2>$petition.petitionFiledTwo</PTFil2>
#end
#if($petition.petitionFiledTwoA)
                    <PTFil2a>$petition.petitionFiledTwoA</PTFil2a>
#end
#if($petition.petitionFiledThree)
                    <PTFil3>$petition.petitionFiledThree</PTFil3>
#end
#if($petition.comments)
                    <Commnt>$petition.comments</Commnt>
#end
                </ERPetFile>
#end#end