#foreach($remedy in $remedies)#if($remedy.remedyCode || $remedy.remedyName || $remedy.remedyType || $remedy.description || $remedy.inPlaceDate || $remedy.remedyEffective || $remedy.parcelsMitigated || $remedy.maxParcelsMitigated || $remedy.remedySizeCode || $remedy.remedySizeName || $remedy.completionDate || $remedy.comments ) 
                <ERRemedy>
#if($remedy.remedyCode)
                    <RemCode>$remedy.remedyCode</RemCode>
#end
#if($remedy.remedyName)
                    <RemedyCodeName>$remedy.remedyName</RemedyCodeName>
#end
#if($remedy.remedyType)
                    <RemType>$remedy.remedyType</RemType>
#end
#if($remedy.description)
                    <RemDesc>$remedy.description</RemDesc>
#end
#if($remedy.inPlaceDate)
                    <RemInPlaceDate>$remedy.getInPlaceDateString()</RemInPlaceDate>
#end
#if($remedy.remedyEffective)
                    <RemEff>$remedy.remedyEffective</RemEff>
#end
#if($remedy.parcelsMitigated)
                    <ParcelsMitigated>$remedy.parcelsMitigated</ParcelsMitigated>
#end
#if($remedy.maxParcelsMitigated)
                    <MaxParcelsMitigated>$remedy.maxParcelsMitigated</MaxParcelsMitigated>
#end
#if($remedy.remedySizeCode)
                    <RemSysSizeCode>$remedy.remedySizeCode</RemSysSizeCode>
#end
#if($remedy.remedySizeName)
                    <RemedySizeCodeName>$remedy.remedySizeName</RemedySizeCodeName>
#end
#if($remedy.completionDate)
                    <RemedyCompletionDate>$remedy.getCompletionDateString()</RemedyCompletionDate>
#end
#if($remedy.comments)
                    <RemedyComments>$remedy.comments</RemedyComments>
#end
                </ERRemedy>
#end#end