#if($site.significantThreat || $site.siteId || $site.siteClassCode || $site.siteClassName || $site.siteClassDescription || $site.description || $site.landUse || $site.intendedUseCode || $site.cleanupTrackCode || $site.cleanupTrackName || $site.acres || $site.assessEnv || $site.assessDoh || $site.dohAssessMod || $site.dohAssessFlag|| $site.dohAssessReason || $site.assessLeg || $site.periodicReviewFrequencyCode || $site.periodicReviewFrequencyName || $site.vaporIntrusionLegacy || $site.hudsonRiverEstuary || $site.editReviewComp || $site.editReviewDate || $site.projMgrReviewComp || $site.projMgrReviewDate || $site.siteManagePriority || $site.modifiedBy || $site.lastModified)
            <ERSite>
#if($site.significantThreat)
                <ERSiteSignifThreat>$site.significantThreat</ERSiteSignifThreat>
#end
#if($site.siteId)
                <ERSiteID>$site.siteId</ERSiteID>
#end
#if($site.siteClassCode)
                <ERSiteClassCode>$site.siteClassCode</ERSiteClassCode>
#end
#if($site.siteClassName)
                <SiteClassCodeName>$site.siteClassName</SiteClassCodeName>
#end
#if($site.siteClassDescription)
                <SiteClassCodeDesc>$site.siteClassDescription</SiteClassCodeDesc>
#end
#if($site.description)
                <ERSiteDescriptText>$site.description</ERSiteDescriptText>
#end
#if($site.landUse)
                <ERSiteLandUse>$site.landUse</ERSiteLandUse>
#end
#if($site.intendedUseCode)
                <ERSiteIntendedUseCode>$site.intendedUseCode</ERSiteIntendedUseCode>
#end
#if($site.cleanupTrackCode)
                <ERSiteCleanUpTrackCode>$site.cleanupTrackCode</ERSiteCleanUpTrackCode>
#end
#if($site.cleanupTrackName)
                <ERSiteCleanUpTrackCodeName>$site.cleanupTrackName</ERSiteCleanUpTrackCodeName>
#end
#if($site.acres)
                <ERSiteAcres>$site.getAcresString()</ERSiteAcres>
#end
#if($site.assessEnv)
                <ERSiteAssessEnvText>$site.assessEnv</ERSiteAssessEnvText>
#end
#if($site.assessDoh)
                <ERSiteAssessDOH>$site.assessDoh</ERSiteAssessDOH>
#end
#if($site.dohAssessMod)
                <ERSiteDOHAssessMod>$site.getDohAssessModString()</ERSiteDOHAssessMod>
#end
#if($site.dohAssessFlag)
                <ERSiteDOHAssessFlag>$site.dohAssessFlag</ERSiteDOHAssessFlag>
#end
#if($site.dohAssessReason)
                <ERSiteDOHAssessFlagReason>$site.dohAssessReason</ERSiteDOHAssessFlagReason>
#end
#if($site.assessLeg)
                <ERSiteAssessLEG>$site.assessLeg</ERSiteAssessLEG>
#end
#if($site.periodicReviewFrequencyCode)
                <ERSitePeriodReviewFreq>$site.periodicReviewFrequencyCode</ERSitePeriodReviewFreq>
#end
#if($site.periodicReviewFrequencyName)
                <ERSitePeriodReviewFreqCode>$site.periodicReviewFrequencyName</ERSitePeriodReviewFreqCode>
#end
#if($site.vaporIntrusionLegacy)
                <ERSiteVaporIntrusionLegacy>$site.vaporIntrusionLegacy</ERSiteVaporIntrusionLegacy>
#end
#if($site.hudsonRiverEstuary)
                <ERSiteHudsonRiverEstuary>$site.hudsonRiverEstuary</ERSiteHudsonRiverEstuary>
#end
#if($site.editReviewComp)
                <ERSiteEditReviewComp>$site.editReviewComp</ERSiteEditReviewComp>
#end
#if($site.editReviewDate)
                <ERSiteEditReviewDate>$site.getEditReviewDateString()</ERSiteEditReviewDate>
#end
#if($site.projMgrReviewComp)
                <ERSiteProjMgrReviewComp>$site.projMgrReviewComp</ERSiteProjMgrReviewComp>
#end
#if($site.projMgrReviewDate)
                <ERSiteProjMgrReviewDate>$site.getProjMgrReviewDateString()</ERSiteProjMgrReviewDate>
#end
#if($site.siteManagePriority)
                <ERSiteSiteManagePriority>$site.siteManagePriority</ERSiteSiteManagePriority>
#end
#if($site.modifiedBy)
                <ERSiteModifiedBy>$site.modifiedBy</ERSiteModifiedBy>
#end
#if($site.lastModified)
                <ERSiteLastModified>$site.getLastModifiedString()</ERSiteLastModified>
#end#end