#foreach($mediaCode in $mediaCodes)#if($mediaCode.mediaAffectedCode || $mediaCode.mediaAffectedName || $mediaCode.mediaAffectedDescription || $mediaCode.mediaAffectedType)
        <MediaAffectedCodes>
#if($mediaCode.mediaAffectedCode)
            <MediaAffectedCode>$mediaCode.mediaAffectedCode</MediaAffectedCode>
#end
#if($mediaCode.mediaAffectedName)
            <MediaAffectedCodeName>$mediaCode.mediaAffectedName</MediaAffectedCodeName>
#end
#if($mediaCode.mediaAffectedDescription)
            <MediaAffectedCodeDesc>$mediaCode.mediaAffectedDescription</MediaAffectedCodeDesc>
#end
#if($mediaCode.mediaAffectedType)
            <MediaAffectedCodeType>$mediaCode.mediaAffectedType</MediaAffectedCodeType>
#end
        </MediaAffectedCodes>
#end#end