#foreach($medium in $media)#if($medium.mediaAffectedCode || $medium.mediaAffectedTargetLevel) 
                    <MediaAffected>
#if($medium.mediaAffectedCode)
                        <MaterialMediaAffectedCode>$medium.mediaAffectedCode</MaterialMediaAffectedCode>
#end
#if($medium.mediaAffectedTargetLevel)
                        <MediaAffectedTargetLevel>$medium.mediaAffectedTargetLevel</MediaAffectedTargetLevel>
#end
                    </MediaAffected>
#end#end