#foreach($location in $locations)#if($location.gisId || $location.siteId || $location.collectionMethod || $location.accuracy || $location.accuracyUnit || $location.datum || $location.latitude || $location.longitude || $location.modifiedBy || $location.lastModified )
            <DERProgramsGeographicLoc>
#if($location.gisId)
                <GeographicLocGISID>$location.gisId</GeographicLocGISID>
#end
#if($location.siteId)
                <GeographicLocSiteID>$location.siteId</GeographicLocSiteID>
#end
#if($location.collectionMethod)
                <GeographicLocMethod>$location.collectionMethod</GeographicLocMethod>
#end
#if($location.accuracy)
                <GeographicLocAccuracy>$location.accuracy</GeographicLocAccuracy>
#end
#if($location.accuracyUnit)
                <GeographicLocAccuracyUnit>$location.accuracyUnit</GeographicLocAccuracyUnit>
#end
#if($location.datum)
                <GeographicLocDatum>$location.datum</GeographicLocDatum>
#end
#if($location.latitude)
                <GeographicLocLatitude>$location.getLatitudeString()</GeographicLocLatitude>
#end
#if($location.longitude)
                <GeographicLocLongitude>$location.getLongitudeString()</GeographicLocLongitude>
#end
#if($location.modifiedBy)
                <GeographicLocModifiedBy>$location.modifiedBy</GeographicLocModifiedBy>
#end
#if($location.lastModified)
                <GeographicLocLastModified>$location.getLastModifiedString()</GeographicLocLastModified>
#end
            </DERProgramsGeographicLoc>
#end#end