#if($spill.decLead || $spill.referredTo || $spill.spillDate || $spill.spillReceivedDate || $spill.contributingFactorCode || $spill.contributingFactorName || $spill.waterbody || $spill.facilityTypeCode || $spill.facilityTypeName || $spill.reportedBy || $spill.notifierCodeName || $spill.meetsStandardIndicator || $spill.inspectionDate || $spill.penaltyIndicator || $spill.ustTrustIndicator || $spill.spillClass || $spill.responseEndDate || $spill.investigationEndDate || $spill.remedialDesignDate || $spill.remedialActionDate || $spill.siteMgmtEndDate || $spill.closeDate || $spill.decRemark || $spill.createDate || $spill.privateWellsAffected || $spill.publicWellsAffected || $spill.regionalUse || $spill.afterHoursIndicator || $spill.remedialPhase || $spill.lastModified)
            </Spills>
#end