#if($spill.decLead || $spill.referredTo || $spill.spillDate || $spill.spillReceivedDate || $spill.contributingFactorCode || $spill.contributingFactorName || $spill.waterbody || $spill.facilityTypeCode || $spill.facilityTypeName || $spill.reportedBy || $spill.notifierCodeName || $spill.meetsStandardIndicator || $spill.inspectionDate || $spill.penaltyIndicator || $spill.ustTrustIndicator || $spill.spillClass || $spill.responseEndDate || $spill.investigationEndDate || $spill.remedialDesignDate || $spill.remedialActionDate || $spill.siteMgmtEndDate || $spill.closeDate || $spill.decRemark || $spill.createDate || $spill.privateWellsAffected || $spill.publicWellsAffected || $spill.regionalUse || $spill.afterHoursIndicator || $spill.remedialPhase || $spill.lastModified)
            <Spills>
#if($spill.decLead)
                <SpillsLeadDEC>$spill.decLead</SpillsLeadDEC>
#end
#if($spill.referredTo)
                <SpillsReferredTo>$spill.referredTo</SpillsReferredTo>
#end
#if($spill.spillDate)
                <SpillDate>$spill.getSpillDateString()</SpillDate>
#end
#if($spill.spillReceivedDate)
                <SpillsRcvdDate>$spill.getSpillReceivedDateString()</SpillsRcvdDate>
#end
#if($spill.contributingFactorCode)
                <SpillsContributingFactorCode>$spill.contributingFactorCode</SpillsContributingFactorCode>
#end
#if($spill.contributingFactorName)
                <ContributingFactorCodeName>$spill.contributingFactorName</ContributingFactorCodeName>
#end
#if($spill.waterbody)
                <SpillsWaterbody>$spill.waterbody</SpillsWaterbody>
#end
#if($spill.facilityTypeCode)
                <SpillsFacilityTypeCode>$spill.facilityTypeCode</SpillsFacilityTypeCode>
#end
#if($spill.facilityTypeName)
                <FacilityTypeCodeName>$spill.facilityTypeName</FacilityTypeCodeName>
#end
#if($spill.reportedBy)
                <SpillsReportedByCode>$spill.reportedBy</SpillsReportedByCode>
#end
#if($spill.notifierCodeName)
                <NotifierCodeName>$spill.notifierCodeName</NotifierCodeName>
#end
#if($spill.callerRemark)
                <SpillsCallerRemark>$spill.callerRemark</SpillsCallerRemark>
#end
#if($spill.meetsStandardIndicator)
                <SpillsMeetsStd>$spill.meetsStandardIndicator</SpillsMeetsStd>
#end
#if($spill.inspectionDate)
                <SpillsInspDate>$spill.getInspectionDateString()</SpillsInspDate>
#end
#if($spill.penaltyIndicator)
                <SpillsPenalty>$spill.penaltyIndicator</SpillsPenalty>
#end
#if($spill.ustTrustIndicator)
                <SpillsUSTTrust>$spill.ustTrustIndicator</SpillsUSTTrust>
#end
#if($spill.spillClass)
                <SpillsClass>$spill.spillClass</SpillsClass>
#end
#if($spill.responseEndDate)
                <SpillsRCDate>$spill.getResponseEndDateString()</SpillsRCDate>
#end
#if($spill.investigationEndDate)
                <SpillsInvDate>$spill.getInvestigationEndDateString()</SpillsInvDate>
#end
#if($spill.remedialDesignDate)
                <SpillsRDDate>$spill.getRemedialDesignDateString()</SpillsRDDate>
#end
#if($spill.remedialActionDate)
                <SpillsRADate>$spill.getRemedialActionDateString()</SpillsRADate>
#end
#if($spill.siteMgmtEndDate)
                <SpillsSMDate>$spill.getSiteMgmtEndDateString()</SpillsSMDate>
#end
#if($spill.closeDate)
                <SpillsCloseDate>$spill.getCloseDateString()</SpillsCloseDate>
#end
#if($spill.decRemark)
                <SpillsDECRemark>$spill.decRemark</SpillsDECRemark>
#end
#if($spill.createDate)
                <SpillsCreateDate>$spill.getCreateDateString()</SpillsCreateDate>
#end
#if($spill.privateWellsAffected)
                <SpillsPrWell>$spill.privateWellsAffected</SpillsPrWell>
#end
#if($spill.publicWellsAffected)
                <SpillsPuWell>$spill.publicWellsAffected</SpillsPuWell>
#end
#if($spill.regionalUse)
                <SpillsRegionalUse>$spill.regionalUse</SpillsRegionalUse>
#end
#if($spill.afterHoursIndicator)
                <SpillsAfterHours>$spill.afterHoursIndicator</SpillsAfterHours>
#end
#if($spill.remedialPhase)
                <SpillsRemedPhase>$spill.remedialPhase</SpillsRemedPhase>
#end
#if($spill.lastModified)
                <SpillsLastModified>$spill.getLastModifiedString()</SpillsLastModified>
#end#end