#foreach($tankTest in $tankTests)#if($tankTest.tankId || $tankTest.tankNumber || $tankTest.tankSize || $tankTest.material || $tankTest.epaUstIndicator || $tankTest.ustIndicator || $tankTest.causeCode || $tankTest.causeName || $tankTest.sourceCode || $tankTest.sourceName || $tankTest.testMethodCode || $tankTest.testMethodName || $tankTest.leakRate || $tankTest.grossFailureIndicator || $tankTest.lastModified) 
                <SpTankTest>
#if($tankTest.tankId)
                    <SpTankTestID>$tankTest.tankId</SpTankTestID>
#end
#if($tankTest.tankNumber)
                    <TankNo>$tankTest.tankNumber</TankNo>
#end
#if($tankTest.tankSize)
                    <TankSize>$tankTest.getTankSizeString()</TankSize>
#end
#if($tankTest.material)
                    <SpillTankTestMaterial>$tankTest.material</SpillTankTestMaterial>
#end
#if($tankTest.epaUstIndicator)
                    <SpTankTestEPAUST>$tankTest.epaUstIndicator</SpTankTestEPAUST>
#end
#if($tankTest.ustIndicator)
                    <SpTankTestUST>$tankTest.ustIndicator</SpTankTestUST>
#end
#if($tankTest.causeCode)
                    <SpTankTestCauseCode>$tankTest.causeCode</SpTankTestCauseCode>
#end
#if($tankTest.causeName)
                    <CauseCodeName>$tankTest.causeName</CauseCodeName>
#end
#if($tankTest.sourceCode)
                    <SpTankTestSourceCode>$tankTest.sourceCode</SpTankTestSourceCode>
#end
#if($tankTest.sourceName)
                    <SourceCodeName>$tankTest.sourceName</SourceCodeName>
#end
#if($tankTest.testMethodCode)
                    <TestMethodCode>$tankTest.testMethodCode</TestMethodCode>
#end
#if($tankTest.testMethodName)
                    <TestMethodCodeName>$tankTest.testMethodName</TestMethodCodeName>
#end
#if($tankTest.leakRate)
                    <LeakRate>$tankTest.getLeakRateString()</LeakRate>
#end
#if($tankTest.grossFailureIndicator)
                    <GrossFail>$tankTest.grossFailureIndicator</GrossFail>
#end
#if($tankTest.lastModified)
                    <SpTankTestLastModified>$tankTest.getLastModifiedString()</SpTankTestLastModified>
#end
                </SpTankTest>
#end#end