<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:r="http://www.springframework.net/remoting">

  <object id="loggerBaseAroundAdviceLogger" type="Windsor.Commons.Spring.LoggerBaseAroundAdviceLogger, Windsor.Commons.Spring"/>

  <!--
  <object id="loggerProxyFactoryObject" abstract="true" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop" >
    <property name="ProxyTargetType" value="True"/>
    <property name="interceptorNames">
      <list>
        <value>LoggerAroundAdvice</value>
      </list>
    </property>
  </object>

  <object id="accountManager" parent="loggerProxyFactoryObject" >
    <property name="target" ref="accountManagerAopTarget"/>
  </object>

  <object id="transactionManager" parent="loggerProxyFactoryObject" >
    <property name="target" ref="transactionManagerAopTarget"/>
  </object>
  -->

  <object id="aopAdvisor" type="Windsor.Commons.Spring.StaticNamespaceMatcherPointcutAdvisor, Windsor.Commons.Spring">
    <property name="advice" ref="loggerBaseAroundAdviceLogger"/>
    <property name="Namespaces">
      <list>
        <value>Windsor.Node2008.WNOS.Logic</value>
        <value>Windsor.Node2008.WNOS.Data</value>
        <value>Windsor.Node2008.WNOS.Service</value>
        <value>Windsor.Node2008.WNOS.Server</value>
        <value>Windsor.Node2008.WNOS.Utilities</value>
      </list>
    </property>
  </object>

  <object id="aopProxyCreator" type="Spring.Aop.Framework.AutoProxy.DefaultAdvisorAutoProxyCreator, Spring.Aop">
    <property name="ProxyTargetType" value="True"/>
  </object>
</objects>