<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <spring-config>

    <add key="node.home" value="C:\OpenNode2"/>
    <add key="node.is.production" value="false"/>
    <add key="node.is.demo" value="false"/>
    <add key="node.north.latitude" value="45.7522"/>
    <add key="node.east.longitude" value="-122.0321"/>
    <add key="node.south.latitude" value="45.3907"/>
    <add key="node.west.longitude" value="-123.0998"/>
    <add key="node.organization.name" value="Open Node 2 Organization"/>

    <!-- WNOS -->
    <add key="wnos.service.host" value="localhost"/>
    <add key="wnos.service.port" value="9999"/>
    <add key="wnos.service.admin.interface.url" value="https://www.domain.gov/Admin"/>
    <add key="wnos.service.description" value="OpenNode2 Node Orchestration Service"/>
    <add key="wnos.service.display.name" value="OpenNode2 Node Orchestration Service"/>
    <add key="wnos.service.service.name" value="ONOS_2008"/>
    <add key="wnos.service.dependencies" value=""/>

    <add key="wnos.data.provider" value="System.Data.SqlClient"/>
    <add key="wnos.data.connection" value="server=.\sqlexpress;integrated security=true;database=OpenNode2"/>

    <!-- <add key="wnos.data.provider" value="System.Data.OracleClient"/>
    <add key="wnos.data.connection" value="Data Source=localhost/XE;User Id=OpenNode2;Password=password;"/> -->

    <!-- !!! NOTE: wnos.document.manager.fs.repo.path should never be the same as, or contained within, wnos.temp.dir.path -->
    <add key="wnos.document.manager.fs.repo.path" value="${node.home}\Repository"/>
    <add key="wnos.temp.dir.path" value="${node.home}\Temp"/>

    <add key="wnos.naas.node.id" value="ST" />
    <add key="wnos.naas.node.admin.email" value="nodesupport@domain.gov" />

    <add key="wnos.naas.user.admin" value="admin@domain.gov"/>
    <add key="wnos.naas.user.admin.password" value="password"/>
    <add key="wnos.naas.user.admin.domain" value="default"/>

    <add key="wnos.naas.user.runtime" value="runtime@domain.gov"/>
    <add key="wnos.naas.user.runtime.password" value="password"/>
    <add key="wnos.naas.user.runtime.domain" value="default"/>

    <add key="wnos.util.crypto.key" value="AFD9898243HSFD823HJADI123WEF40EDFGKJSDF132E321ASDADMASDFSDF234SWDFS09234JKSDF"/>
    
    <add key="wnos.proxy.address" value="90.0.0.2"/>
    <add key="wnos.proxy.port" value="8080"/>
    <add key="wnos.proxy.bypassOnLocal" value="true" />
    <add key="wnos.proxy.credential.useDefault" value="true" />

    <add key="wnos.smtp.host" value="mail.domain.gov" />
    <add key="wnos.smtp.fromAddress" value="node@domain.gov" />
    <add key="wnos.smtp.port" value="25" />
    <add key="wnos.smtp.deliveryMethod" value="Network" />
    <add key="wnos.smtp.enableSsl" value="False" />

    <!-- ENDPOINTS -->
    <add key="wne.request.ipholder" value="REMOTE_HOST"/>
    <add key="wne.request.ipdefault" value="172.0.0.1"/>
    <add key="wne.request.version20" value="EN20"/>
    <add key="wne.request.version11" value="EN11"/>
    <add key="wne.version11.url" value="https://www.domain.gov/Endpoint1/ENService11.asmx"/>
    <add key="wne.version20.url" value="https://www.domain.gov/Endpoint2/ENService20.asmx"/>

  </spring-config>

</configuration>