<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  
  <object id="faultProvider" type="Windsor.Node2008.WNOSConnector.Provider.ENFaultProvider, Windsor.Node2008.WNOSConnector" init-method="Init">
    <property name="DefaultErrorCode" value="E_InternalError"/>
    <property name="DefaultErrorDescription" value="Unhandled server exception"/>
  </object>

  <object id="idProvider" type="Windsor.Node2008.WNOSUtility.IdProvider, Windsor.Node2008.WNOSUtility" init-method="Init"  singleton="false">
  </object>

  <object id="compressionHelper" type="Windsor.Node2008.WNOSProviders.Implementation.CompressionHelper, Windsor.Node2008.WNOSProviders" init-method="Init"  singleton="false">

  </object>

  <!--<object id="headerDocumentHelper" type="Windsor.Node2008.WNOSProviders.Implementation.HeaderDocumentHelper, Windsor.Node2008.WNOSProviders" init-method="Init" singleton="false">-->
  <object id="headerDocumentHelper" type="Windsor.Node2008.WNOSProviders.Implementation.HeaderDocumentHelperQualified, Windsor.Node2008.WNOSProviders" init-method="Init" singleton="false">
    <property name="SerializationHelper" ref="serializationHelper" />
  </object>

  <object id="headerDocument2Helper" type="Windsor.Node2008.WNOSProviders.Implementation.HeaderDocument2Helper, Windsor.Node2008.WNOSProviders" init-method="Init" singleton="false">
    <property name="SerializationHelper" ref="serializationHelper" />
  </object>

  <object id="serializationHelper" type="Windsor.Node2008.WNOSProviders.Implementation.SerializationHelper, Windsor.Node2008.WNOSProviders" init-method="Init" singleton="false">
    <property name="TempDir" value="${wnos.temp.dir.path}"/>
  </object>

  <object id="xmlValidationHelper" type="Windsor.Node2008.WNOSProviders.Implementation.XmlValidationHelper, Windsor.Node2008.WNOSProviders" init-method="Init" singleton="false">
  </object>

  <object id="objectsFromDatabase" type="Windsor.Commons.XsdOrm.Implementations.ObjectsFromDatabase, Windsor.Commons.XsdOrm" init-method="Init" singleton="false">
  </object>

  <object id="objectsToDatabase" type="Windsor.Commons.XsdOrm.Implementations.ObjectsToDatabase, Windsor.Commons.XsdOrm" init-method="Init" singleton="false">
  </object>

</objects>