<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/var/opennode2_home/log/wnos.log</File>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>15</maxIndex>
            <FileNamePattern>/var/opennode2_home/log/wnos.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>3072KB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="com.windsor.node.data.dao.jdbc.JdbcScheduleDao" level="ERROR" />
    <logger name="com.windsor.node.worker" level="ERROR" />
    <logger name="com.windsor.node.data.dao.jdbc.JdbcActivityDao" level="ERROR" />
    <logger name="com.windsor.node.worker.util.ScheduleUtil" level="DEBUG"/>
    <logger name="com.windsor" level="INFO" />
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type" level="TRACE" />
    <root level="INFO">
        <appender-ref ref="LOG" />
    </root>
</configuration>
