<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Node20TestConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Node20TestConsole.Properties.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="true" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
      <detailedErrors enabled="true" />
    </diagnostics>
    <messaging>
      <mtom clientMode="On" />
    </messaging>
  </microsoft.web.services3>
  
  <applicationSettings>
    <Node20TestConsole.Properties.Settings>
      <setting name="TestFlowName" serializeAs="String">
        <value>NCT</value>
      </setting>
      <setting name="TestQueryService" serializeAs="String">
        <value>Query_v1.0</value>
      </setting>
      <setting name="TestSolicitService" serializeAs="String">
        <value>Solicit_v1.0</value>
      </setting>
      <setting name="TestZipFileSmall" serializeAs="String">
        <value>..\..\..\..\..\Resources\test_small.zip</value>
      </setting>
      <setting name="TestZipFileLarge" serializeAs="String">
        <value>..\..\..\..\..\Resources\test_large.zip</value>
      </setting>
      <setting name="TestTempDir" serializeAs="String">
        <value>..\..\..\..\..\Resources\Temp</value>
      </setting>
      <setting name="TestXmlFileSmall" serializeAs="String">
        <value>..\..\..\..\..\Resources\test_small.xml</value>
      </setting>
      <setting name="TestXmlFileLarge" serializeAs="String">
        <value>..\..\..\..\..\Resources\test_large.xml</value>
      </setting>
      <setting name="TestSubmitService" serializeAs="String">
        <value>Submit_v1.0</value>
      </setting>
      <setting name="TestExecuteService" serializeAs="String">
        <value>Execute_v1.0</value>
      </setting>
      <setting name="NodeUsername" serializeAs="String">
        <value>ted@windsorsolutions.com</value>
      </setting>
      <setting name="NodePassword" serializeAs="String">
        <value>Password1234</value>
      </setting>
      <setting name="ThrowTransactionWaitException" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NodeEndpointType" serializeAs="String">
        <!--<value>EN11</value>-->
        <value>EN20</value>
      </setting>
      <setting name="NodeWebServiceUrl" serializeAs="String">
        <!--<value>http://www.windsorsolutions.biz/Endpoint2/ENService20.asmx</value>-->
        <!--<value>http://90.0.0.21/node2008-endpoint1/ENService11.asmx</value>-->
        <!--<value>http://90.0.0.21/node2008-endpoint2/ENService20.asmx</value>-->
        <!--<value>http://90.0.0.21/Endpoint2/ENService20.asmx</value>-->
        <!--<value>http://www.windsorsolutions.biz/Endpoint2/ENService20.asmx</value>-->
        <!--<value>http://localhost:4609/ENService20.asmx</value>-->
        <!--<value>http://localhost:1208/ENService11.asmx</value>-->

        <!--<value>http://www.windsorsolutions.biz/node2008/node2008-nddh-endpoint1/enservice11.asmx</value>-->
        <!--<value>http://www.windsorsolutions.biz/node2008/node2008-nddh-endpoint2/ENService20.asmx</value>-->
        <!-- Windsor Java Node: -->
        <!--<value>http://90.0.0.152:8080/wne2/services/v20</value>-->
        <!--<value>https://www.windsorsolutions.biz/node2008-endpoint2/ENService20.asmx</value>-->
        <!--<value>http://www.windsorsolutions.biz/node2008/node2008-nddh-endpoint2/ENService20.asmx</value>-->
        <!--<value>https://www.windsorsolutions.biz/node2008-endpoint1/ENService11.asmx</value>-->
        <value>http://www.windsorsolutions.biz/Node2008/node2008-ecos-endpoint2/ENService20.asmx</value>
        <!--<value>http://10.64.0.206/Endpoint2/ENService20.asmx</value>-->
        <!--<value>http://10.64.0.206/Endpoint1/ENService11.asmx</value>-->
        <!-- CO: -->
        <!--<value>http://165.127.8.133/Endpoint1/ENService11.asmx</value>-->
        <!--<value>http://165.127.8.133/Endpoint2/ENService20.asmx</value>-->
        <!--<value>https://enode.dphe.state.co.us/Endpoint1/ENService11.asmx</value>-->
        <!--<value>http://enode.dphe.state.co.us/Endpoint2/ENService20.asmx</value>-->
        <!-- WA: -->
        <!--<value>https://test-fortress.wa.gov/ecy/node2008/endpoint1/ENService11.asmx</value>-->
        <!--<value>https://test-fortress.wa.gov/ecy/node2008/endpoint2/ENService20.asmx</value>-->
        <!-- EPA TEST NODE: -->
        <!--<value>http://testngn.epacdxnode.net/ngn-enws20/services/NetworkNode2Service?wsdl</value>-->
        <!-- USGS: -->
        <!--<value>http://136.177.102.104/USGSnode/Service_v11.asmx</value>-->
        <!--<value>https://136.177.102.104/USGSnode/Service_v11.asmx</value>-->
        <!-- ND: -->
        <!--<value>http://ndcdxnode.doh.nd.gov/endpoint1/ENService11.asmx</value>-->
        <!--<value>http://ndcdxnode.doh.nd.gov/endpoint2/ENService20.asmx</value>-->
        <!--   -->
        <!--<value>https://usgsen.cr.usgs.gov/USGSnode/Service_v11.asmx</value>-->
        <!--<value>http://usgsen.cr.usgs.gov/USGSnode/Service_v11.asmx</value>-->
        <!--<value>https://usgsen.cr.usgs.gov/USGSnodev2/Service_v20.asmx</value>-->
        <!--<value>http://usgsen.cr.usgs.gov/USGSnodev2/Service_v20.asmx</value>-->
        <!--<value>http://136.177.102.104/USGSnodev2/Service_v20.asmx</value>-->
        <!--<value>https://136.177.102.104/USGSnodev2/Service_v20.asmx</value>-->
        <!--<value>https://commerce.health.state.ny.us/epanode/wne/services/v11</value>-->
        <!--<value>https://commerce.health.state.ny.us/epanode/wne/services/v11</value>-->
        <!-- EPA TEST: -->
        <!--<value>https://test.epacdxnode.net/cdx/services/NetworkNodePortType_V10</value>-->
        <!-- NEVADA: -->
        <!--<value>https://nvnode.ndep.nv.gov/node/Endpoint1/ENService11.asmx</value>-->
        <!--<value>https://nvnode.ndep.nv.gov/node/Endpoint2/ENService20.asmx</value>-->
        <!--<value>http://www.windsorsolutions.biz/node2008/node2008-ark-endpoint1/enservice11.asmx</value>-->
        <!--<value>http://www.windsorsolutions.biz/node2008/node2008-ark-endpoint2/enservice20.asmx</value>-->
        <!-- ARKANSAS: -->
        <!--<value>https://dpxn01.adeq.state.ar.us/Endpoint1/ENService11.asmx</value>-->
        <!--<value>https://dpxn01.adeq.state.ar.us/Endpoint2/ENService20.asmx</value>-->
        <!-- NEBRASKA: -->
        <!--<value>https://deqnode2.ne.gov/Endpoint1/ENService11.asmx</value>-->
        <!--<value>https://deqnode2.ne.gov/Endpoint2/ENService20.asmx</value>-->

      </setting>
    </Node20TestConsole.Properties.Settings>
  </applicationSettings>
</configuration>