<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database">


  <db:provider id="nodeDataProvider"
               provider="${wnos.data.provider}"
               connectionString="${wnos.data.connection}"/>


  <object id="nodeTransactionManager" type="Spring.Data.Core.AdoPlatformTransactionManager, Spring.Data">
    <property name="DbProvider" ref="nodeDataProvider"/>
  </object>

  <object id="transactionTemplate" type="Spring.Transaction.Support.TransactionTemplate, Spring.Data">
    <property name="TransactionIsolationLevel" value="ReadCommitted"/>
    <property name="PlatformTransactionManager" ref="nodeTransactionManager"/>
  </object>

  <object id="adoTemplate" type="Spring.Data.Generic.AdoTemplate, Spring.Data">
    <property name="DbProvider" ref="nodeDataProvider"/>
    <property name="DataReaderWrapperType" value="Spring.Data.Support.NullMappingDataReader, Spring.Data"/>
  </object>

  <object id="adoDaoSupport" type="Spring.Data.Generic.AdoDaoSupport, Spring.Data">
    <property name="AdoTemplate" ref="adoTemplate"/>
  </object>

  <object id="baseDao" abstract="true">
    <property name="AdoDaoSupport" ref="adoDaoSupport"/>
    <property name="IdProvider" ref="idProvider"/>
    <property name="TransactionTemplate" ref="transactionTemplate"/>
    <property name="SettingsProvider" ref="settingsProvider"/>
  </object>

  <object id="accountDao" type="Windsor.Node2008.WNOS.Data.AccountDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="CryptographyProvider" ref="cryptographyProvider" />
  </object>

  <object id="dataProviderDao" type="Windsor.Node2008.WNOS.Data.DataProviderDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="ServiceDao" ref="serviceDao"/>
  </object>

  <object id="partnerDao" type="Windsor.Node2008.WNOS.Data.PartnerDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
  </object>

  <object id="nodeNotificationDao" type="Windsor.Node2008.WNOS.Data.NodeNotificationDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="SerializationHelper" ref="serializationHelper"/>
  </object>

  <object id="serviceDao" type="Windsor.Node2008.WNOS.Data.ServiceDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="DataProviderDao" ref="dataProviderDao"/>
    <property name="FlowDao" ref="flowDao"/>
    <property name="PluginLoader" ref="pluginLoader" />
  </object>

  <object id="requestDao" type="Windsor.Node2008.WNOS.Data.RequestDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="ServiceDao" ref="serviceDao"/>
    <property name="TransactionDao" ref="transactionDao"/>
  </object>

  <object id="transactionDao" type="Windsor.Node2008.WNOS.Data.TransactionDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="FlowDao" ref="flowDao"/>
    <property name="DocumentManager" ref="documentManager"/>
    <property name="RequestDao" ref="requestDao"/>
    <property name="TransactionStatusChangeNotifier" ref="transactionStatusChangeNotifier"/>
    <property name="NodeNotificationDao" ref="nodeNotificationDao" />
  </object>

  <object id="flowDao" type="Windsor.Node2008.WNOS.Data.FlowDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="AccountDao" ref="accountDao"/>
    <property name="ServiceDao" ref="serviceDao"/>
  </object>

  <object id="documentDao" type="Windsor.Node2008.WNOS.Data.DocumentDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
  </object>

  <object id="documentContentDao" type="Windsor.Node2008.WNOS.Data.DocumentContentDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
  </object>

  <object id="scheduleDao" type="Windsor.Node2008.WNOS.Data.ScheduleDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="ActivityDao" ref="activityDao"/>
  </object>

  <object id="notificationDao" type="Windsor.Node2008.WNOS.Data.NotificationDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="FlowDao" ref="flowDao"/>
  </object>

  <object id="configDao" type="Windsor.Node2008.WNOS.Data.ConfigDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="ServiceDao" ref="serviceDao"/>
  </object>

  <object id="activityDao" type="Windsor.Node2008.WNOS.Data.ActivityDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="AccountDao" ref="accountDao"/>
    <property name="FlowDao" ref="flowDao"/>
    <property name="TransactionDao" ref="transactionDao"/>
  </object>

  <object id="accountAuthorizationRequestDao" type="Windsor.Node2008.WNOS.Data.AccountAuthorizationRequestDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="DocumentManager" ref="documentManager"/>
    <property name="TransactionDao" ref="transactionDao"/>
    <property name="SerializationHelper" ref="serializationHelper"/>
    <property name="FlowDao" ref="flowDao"/>
  </object>

  <object id="objectCacheDao" type="Windsor.Node2008.WNOS.Data.ObjectCacheDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
    <property name="SerializationHelper" ref="serializationHelper"/>
    <property name="CompressionHelper" ref="compressionHelper"/>
  </object>

  <object id="pluginDao" type="Windsor.Node2008.WNOS.Data.PluginDao, Windsor.Node2008.WNOS" parent="baseDao" init-method="Init">
  </object>
</objects>