<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <spring-config>

    <add key="node.home" value="C:\Projects\Node2008\BUILD"/>
    <add key="node.is.production" value="false"/>
    <add key="node.is.demo" value="false"/>

    <!-- WNOS -->
    <add key="wnos.service.host" value="localhost"/>
    <add key="wnos.service.port" value="9999"/>
    <add key="wnos.service.admin.interface.url" value="http://www.node.com/Admin"/>
    <add key="wnos.service.description" value="OpenNode2 Node Orchestration Service"/>
    <add key="wnos.service.display.name" value="ONOS 2008"/>
    <add key="wnos.service.service.name" value="ONOS_2008"/>

    <add key="wnos.data.provider" value="System.Data.SqlClient"/>
    <add key="wnos.data.connection" value="server=.\sqlexpress;integrated security=true;database=OpenNode2"/>

    <!-- !!! NOTE: wnos.document.manager.fs.repo.path should never be the same as, or contained within, wnos.temp.dir.path -->
    <add key="wnos.document.manager.fs.repo.path" value="${node.home}\Repository"/>
    <add key="wnos.temp.dir.path" value="${node.home}\Temp"/>

    <add key="wnos.naas.node.id" value="WA" />
    <add key="wnos.naas.node.admin.email" value="support@node.com" />

    <add key="wnos.naas.user.admin" value="bkel461@ecy.wa.gov"/>
    <add key="wnos.naas.user.admin.password" value="Tikidog1!"/>
    <add key="wnos.naas.user.admin.domain" value="default"/>

    <add key="wnos.naas.user.runtime" value="nodecoordinator@ecy.wa.gov"/>
    <add key="wnos.naas.user.runtime.password" value="WackWack1!"/>
    <add key="wnos.naas.user.runtime.domain" value="default"/>

    <add key="wnos.util.crypto.key" value="AFD9898243HSFD823HJADI123WEF40EDFGKJSDF132E321ASDADMASDFSDF234SWDFS09234JKSDF"/>
    
    <add key="wnos.proxy.address" value="90.0.0.2"/>
    <add key="wnos.proxy.port" value="8080"/>
    <add key="wnos.proxy.bypassOnLocal" value="true" />
    <add key="wnos.proxy.credential.useDefault" value="true" />

    <add key="wnos.smtp.host" value="mail2.windsor.com" />
    <add key="wnos.smtp.fromAddress" value="node@node.com" />
    <add key="wnos.smtp.port" value="25" />
    <add key="wnos.smtp.deliveryMethod" value="Network" />
    <add key="wnos.smtp.enableSsl" value="False" />

    <!-- ENDPOINTS -->
    <add key="wne.request.ipholder" value="REMOTE_HOST"/>
    <add key="wne.request.ipdefault" value="172.0.0.1"/>
    <add key="wne.request.version20" value="EN20"/>
    <add key="wne.request.version11" value="EN11"/>
    <add key="wne.version11.url" value="http://localhost:1208/ENService11.asmx"/>
    <add key="wne.version20.url" value="http://localhost:4609/ENService20.asmx"/>

  </spring-config>

</configuration>