<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:r="http://www.springframework.net/remoting">

  <!-- SERVICES EXPORTED -->
  <object name="saoContentService" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="contentService" />
    <property name="ServiceName" value="contentService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoSecurityService" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="securityService" />
    <property name="ServiceName" value="securityService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoTransactionService" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="transactionService" />
    <property name="ServiceName" value="transactionService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoSettingsProvider" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="settingsProvider" />
    <property name="ServiceName" value="settingsProviderService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoConfigManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="configManager" />
    <property name="ServiceName" value="configManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoAccountManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="accountManager" />
    <property name="ServiceName" value="accountManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoAccountPolicyManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="accountPolicyManager" />
    <property name="ServiceName" value="accountPolicyManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoDataProviderManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="dataProviderManager" />
    <property name="ServiceName" value="dataProviderManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoPartnerManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="partnerManager" />
    <property name="ServiceName" value="partnerManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoFlowManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="flowManager" />
    <property name="ServiceName" value="flowManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoActivityManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="activityManager" />
    <property name="ServiceName" value="activityManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoScheduleManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="scheduleManager" />
    <property name="ServiceName" value="scheduleManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoScheduleProcessor" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="scheduleProcessor" />
    <property name="ServiceName" value="scheduleProcessorService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoNotificationManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="notificationManager" />
    <property name="ServiceName" value="notificationManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoTransactionManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="transactionManager" />
    <property name="ServiceName" value="transactionManagerService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoCentralProcessor" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="centralProcessor" />
    <property name="ServiceName" value="centralProcessorService" />
    <property name="Infinite" value="true" />
  </object>

  <object name="saoAccountAuthorizationRequestManager" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="accountAuthorizationRequestManager" />
    <property name="ServiceName" value="accountAuthorizationRequestService" />
    <property name="Infinite" value="true" />
  </object>
</objects>