<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:r="http://www.springframework.net/remoting">

  <!-- SERVICES -->

  <object id="baseEndpointService" abstract="true">
    <property name="ActivityManager" ref="activityManager" />
    <property name="FaultProvider" ref="faultProvider" />
    <property name="IdProvider" ref="idProvider" />
    <property name="AuthProvider" ref="naasManager" />
    <property name="AccountManager" ref="accountManager" />
    <property name="SerializationHelper" ref="serializationHelper" />
    <property name="AccountPolicyManager" ref="accountPolicyManager" />
  </object>

  <object id="securityService" type="Windsor.Node2008.WNOS.Service.SecurityServiceProvider, Windsor.Node2008.WNOS" parent="baseEndpointService" init-method="Init">
  </object>

  <object id="contentService" type="Windsor.Node2008.WNOS.Service.ContentServiceProvider, Windsor.Node2008.WNOS" parent="baseEndpointService" init-method="Init">
    <property name="TransactionManager" ref="transactionManager" />
    <property name="FlowManager" ref="flowManager" />
    <property name="DocumentManager" ref="documentManager" />
    <property name="NotificationManager" ref="notificationManager" />
    <property name="SubmitProcessor" ref="submitProcessor" />
  </object>

  <object id="transactionService" type="Windsor.Node2008.WNOS.Service.TransactionServiceProvider, Windsor.Node2008.WNOS" parent="baseEndpointService" init-method="Init">
    <property name="TransactionManager" ref="transactionManager" />
    <property name="FlowManager" ref="flowManager" />
    <property name="DocumentManager" ref="documentManager" />
    <property name="NotificationManager" ref="notificationManager" />
    <property name="RequestManager" ref="requestManager" />
    <property name="PluginLoader" ref="pluginLoader" />
    <property name="NotifyProcessor" ref="notifyProcessor" />
    <property name="SolicitProcessor" ref="solicitProcessor" />
    <property name="ExecuteProcessor" ref="executeProcessor" />
  </object>

</objects>