<?xml version="1.0" encoding="utf-8"?>
<!-- Spring Manged Objects -->
<objects xmlns="http://www.springframework.net">

  <object id="contentService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
    <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Service.IContentService, Windsor.Node2008.WNOSConnector"/>
    <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/contentService"/>
  </object>

  <object id="securityService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
    <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Service.ISecurityService, Windsor.Node2008.WNOSConnector"/>
    <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/securityService"/>
  </object>

  <object id="transactionService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
    <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Service.ITransactionService, Windsor.Node2008.WNOSConnector"/>
    <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/transactionService"/>
  </object>

</objects>
