<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Windsor.Commons.SchematronClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Windsor.Commons.SchematronClient.Properties.Settings>
            <setting name="Windsor_Commons_SchematronClient_Ws_ValidatorEx"
                serializeAs="String">
                <value>https://cdxtools.epa.gov/xml/validatorEx.wsdl</value>
            </setting>
        </Windsor.Commons.SchematronClient.Properties.Settings>
    </applicationSettings>
</configuration>