<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">

  <!-- Tabs -->
  <object id="profileTabAccountProfile" type="Windsor.Node2008.Admin.SideTabItem">
    <property name="Text" value="Account Profile"/>
    <property name="Url" value="Secure/Profile.aspx"/>
  </object>
  <object id="profileTabChangePassword" type="Windsor.Node2008.Admin.SideTabItem">
    <property name="Text" value="Change Password"/>
    <property name="Url" value="Secure/ProfileChangePassword.aspx"/>
  </object>
  <object id="profileTabEditNotifications" type="Windsor.Node2008.Admin.SideTabItem">
    <property name="Text" value="Edit Notifications"/>
    <property name="Url" value="Secure/ProfileEditNotifications.aspx"/>
  </object>

  <!-- Profile -->
  <object type="~/Secure/Profile.aspx">
    <property name="SectionTitle" value="Account Profile"/>
    <property name="SectionHeadline" value="Account Overview"/>
    <property name="IntroParagraphs">
      <list>
        <value>This section allows you to view existing profile information, change your password, and determine which notifications will be sent to your email account.</value>
      </list>
    </property>
    <property name="SideTabs">
      <list>
        <ref object="profileTabAccountProfile"/>
        <ref object="profileTabChangePassword"/>
        <ref object="profileTabEditNotifications"/>
      </list>
    </property>
    <property name="SelectedTabIndex" value="0" />
    <property name="DataItemService" ref="accountManagerService"/>
  </object>

  <!-- ProfileChangePassword -->
  <object type="~/Secure/ProfileChangePassword.aspx">
    <property name="SectionTitle" value="Account Profile"/>
    <property name="SectionHeadline" value="Account Password Change"/>
    <property name="IntroParagraphs">
      <list>
        <value>This section allows you to view existing profile information, change your password, and determine which notifications will be sent to your email account.</value>
      </list>
    </property>
    <property name="SideTabs">
      <list>
        <ref object="profileTabAccountProfile"/>
        <ref object="profileTabChangePassword"/>
        <ref object="profileTabEditNotifications"/>
      </list>
    </property>
    <property name="SelectedTabIndex" value="1" />
    <property name="DataItemService" ref="accountManagerService"/>
  </object>

  <!-- ProfileEditNotifications -->
  <object type="~/Secure/ProfileEditNotifications.aspx">
    <property name="SectionTitle" value="Account Profile"/>
    <property name="SectionHeadline" value="Account Event Notifications"/>
    <property name="IntroParagraphs">
      <list>
        <value>This section allows you to view existing profile information, change your password, and determine which notifications will be sent to your email account.</value>
      </list>
    </property>
    <property name="SideTabs">
      <list>
        <ref object="profileTabAccountProfile"/>
        <ref object="profileTabChangePassword"/>
        <ref object="profileTabEditNotifications"/>
      </list>
    </property>
    <property name="SelectedTabIndex" value="2" />
    <property name="DataItemService" ref="notificationManagerService"/>
  </object>

</objects>



