<?xml version="1.0" encoding="UTF-8"?>
#parse("eis_head.vm")
#foreach($facSite in $helper.getData("select fac_site_id, fac_site_name, fac_catg_code, fac_catg_code, fac_site_desc, fac_site_stat_code, fac_site_stat_code_year, sect_type_code, agn_name, fac_site_cmnt, lat_meas, long_meas, src_map_scale_num, horz_acc_meas, horz_acc_unt_meas, horz_coll_meth_code, horz_ref_datum_code, geo_ref_pt_code, data_coll_date, geo_cmnt, vert_meas, vert_unt_meas_code, vert_coll_meth_code, vert_ref_datum_code, verf_meth_code, coord_data_src_code, geom_type_code, area_wtin_perm, area_wtin_perm_unt_meas_code, pcnt_area_prod_emis, atch_file_name, atch_file_desc, atch_file_size, atch_file_cont_type_code from cers_fac_site where cers_id = ? ", $cer.cers_id))
	<cer:FacilitySite>
#foreach($facIden in $helper.getData("SELECT * FROM CERS_FAC_IDEN WHERE FAC_SITE_ID = ? ", $facSite.get("fac_site_id")))
		<cer:FacilityIdentification>
#if($facIden.get("fac_site_iden"))
			<cer:FacilitySiteIdentifier>$facIden.get("fac_site_iden")</cer:FacilitySiteIdentifier>
#end
#if($facIden.get("prog_sys_code"))
			<cer:ProgramSystemCode>$facIden.get("prog_sys_code")</cer:ProgramSystemCode>
#end
#if($facIden.get("sta_and_cnty_fips_code"))
			<cer:StateAndCountyFIPSCode>$facIden.get("sta_and_cnty_fips_code")</cer:StateAndCountyFIPSCode>
#end
#if($facIden.get("trib_code"))
			<cer:TribalCode>$facIden.get("trib_code")</cer:TribalCode>
#end
#if($facIden.get("sta_and_ctry_fips_code"))
			<cer:StateAndCountryFIPSCode>$facIden.get("sta_and_ctry_fips_code")</cer:StateAndCountryFIPSCode>
#end
#if($facIden.get("effc_date"))
			<cer:EffectiveDate>$helper.toXmlDate($facIden.get("effc_date"))</cer:EffectiveDate>
#end
#if($facIden.get("end_date"))
			<cer:EndDate>$helper.toXmlDate($facIden.get("end_date"))</cer:EndDate>
#end
		</cer:FacilityIdentification>
#end ##foreach(facIden)
#foreach($facEmisUnit in $helper.getData("SELECT * FROM CERS_EMIS_UNIT WHERE FAC_SITE_ID = ? ", $facSite.get("fac_site_id")))
		<cer:EmissionsUnit>
#foreach($facEmisUnitIden in $helper.getData("SELECT * FROM CERS_EMIS_UNIT_IDEN WHERE EMIS_UNIT_ID = ? ", $facEmisUnit.get("emis_unit_id")))
			<cer:UnitIdentification>
#if($facEmisUnitIden.get("iden"))
				<cer:Identifier>$facEmisUnitIden.get("iden")</cer:Identifier>
#end
#if($facEmisUnitIden.get("prog_sys_code"))
				<cer:ProgramSystemCode>$facEmisUnitIden.get("prog_sys_code")</cer:ProgramSystemCode>
#end
#if($facEmisUnitIden.get("effc_date"))
				<cer:EffectiveDate>$helper.toXmlDate($facEmisUnitIden.get("effc_date"))</cer:EffectiveDate>
#end
#if($facEmisUnitIden.get("end_date"))
				<cer:EndDate>$helper.toXmlDate($facEmisUnitIden.get("end_date"))</cer:EndDate>
#end
			</cer:UnitIdentification>
#end ##foreach($facEmisUnitIden)
#foreach($facEmisUnitProc in $helper.getData("SELECT * FROM CERS_EMIS_UNIT_PROC WHERE EMIS_UNIT_ID = ? ", $facEmisUnit.get("emis_unit_id")))
			<cer:UnitEmissionsProcess>
#foreach($facEmisUnitProcIden in $helper.getData("SELECT * FROM CERS_EMIS_UNIT_PROC_IDEN WHERE EMIS_UNIT_PROC_ID = ? ", $facEmisUnitProc.get("emis_unit_proc_id")))
				<cer:ProcessIdentification>
#if($facEmisUnitProcIden.get("iden"))
					<cer:Identifier>$facEmisUnitProcIden.get("iden")</cer:Identifier>
#end
#if($facEmisUnitProcIden.get("prog_sys_code"))
					<cer:ProgramSystemCode>$facEmisUnitProcIden.get("prog_sys_code")</cer:ProgramSystemCode>
#end
				</cer:ProcessIdentification>
#end ##foreach($facEmisUnitProcIden)
#foreach($facEmisUnitPrcRptPrd in $helper.getData("SELECT * FROM CERS_EMIS_UNIT_PROC_RPT_PRD WHERE EMIS_UNIT_PROC_ID = ? ", $facEmisUnitProc.get("emis_unit_proc_id")))
				<cer:ReportingPeriod>
#if($facEmisUnitPrcRptPrd.get("rpt_prd_type_code"))
					<cer:ReportingPeriodTypeCode>$facEmisUnitPrcRptPrd.get("rpt_prd_type_code")</cer:ReportingPeriodTypeCode>
#end
#if($facEmisUnitPrcRptPrd.get("emis_oper_type_code"))
					<cer:EmissionOperatingTypeCode>$facEmisUnitPrcRptPrd.get("emis_oper_type_code")</cer:EmissionOperatingTypeCode>
#end
#if($facEmisUnitPrcRptPrd.get("start_date"))
					<cer:StartDate>$helper.toXmlDate($facEmisUnitPrcRptPrd.get("start_date"))</cer:StartDate>
#end
#if($facEmisUnitPrcRptPrd.get("end_date"))
					<cer:EndDate>$helper.toXmlDate($facEmisUnitPrcRptPrd.get("end_date"))</cer:EndDate>
#end
#if($facEmisUnitPrcRptPrd.get("calc_parm_type_code"))
					<cer:CalculationParameterTypeCode>$facEmisUnitPrcRptPrd.get("calc_parm_type_code")</cer:CalculationParameterTypeCode>
#end
#if($facEmisUnitPrcRptPrd.get("calc_parm_val"))
					<cer:CalculationParameterValue>$facEmisUnitPrcRptPrd.get("calc_parm_val")</cer:CalculationParameterValue>
#end
#if($facEmisUnitPrcRptPrd.get("calc_parm_unt_meas"))
					<cer:CalculationParameterUnitofMeasure>$facEmisUnitPrcRptPrd.get("calc_parm_unt_meas")</cer:CalculationParameterUnitofMeasure>
#end
#if($facEmisUnitPrcRptPrd.get("calc_material_code"))
					<cer:CalculationMaterialCode>$facEmisUnitPrcRptPrd.get("calc_material_code")</cer:CalculationMaterialCode>
#end
#if($facEmisUnitPrcRptPrd.get("calc_data_year"))
					<cer:CalculationDataYear>$facEmisUnitPrcRptPrd.get("calc_data_year")</cer:CalculationDataYear>
#end
#if($facEmisUnitPrcRptPrd.get("calc_data_src"))
					<cer:CalculationDataSource>$facEmisUnitPrcRptPrd.get("calc_data_src")</cer:CalculationDataSource>
#end
#if($facEmisUnitPrcRptPrd.get("rpt_prd_cmnt"))
					<cer:ReportingPeriodComment>$facEmisUnitPrcRptPrd.get("rpt_prd_cmnt")</cer:ReportingPeriodComment>
#end
#if($facEmisUnitPrcRptPrd.get("actl_hours_per_prd") || $facEmisUnitPrcRptPrd.get("ave_days_per_week") || $facEmisUnitPrcRptPrd.get("ave_hours_per_day") || $facEmisUnitPrcRptPrd.get("ave_weeks_per_prd") || $facEmisUnitPrcRptPrd.get("pcnt_winter_act") || $facEmisUnitPrcRptPrd.get("pcnt_spring_act") || $facEmisUnitPrcRptPrd.get("pcnt_summer_act") || $facEmisUnitPrcRptPrd.get("pcnt_fall_act"))
					<cer:OperatingDetails>
#if($facEmisUnitPrcRptPrd.get("actl_hours_per_prd"))
						<cer:ActualHoursPerPeriod>$facEmisUnitPrcRptPrd.get("actl_hours_per_prd")</cer:ActualHoursPerPeriod>
#end
#if($facEmisUnitPrcRptPrd.get("ave_days_per_week"))
						<cer:AverageDaysPerWeek>$facEmisUnitPrcRptPrd.get("ave_days_per_week")</cer:AverageDaysPerWeek>
#end
#if($facEmisUnitPrcRptPrd.get("ave_hours_per_day"))
						<cer:AverageHoursPerDay>$facEmisUnitPrcRptPrd.get("ave_hours_per_day")</cer:AverageHoursPerDay>
#end
#if($facEmisUnitPrcRptPrd.get("ave_weeks_per_prd"))
						<cer:AverageWeeksPerPeriod>$facEmisUnitPrcRptPrd.get("ave_weeks_per_prd")</cer:AverageWeeksPerPeriod>
#end
#if($facEmisUnitPrcRptPrd.get("pcnt_winter_act"))
						<cer:PercentWinterActivity>$facEmisUnitPrcRptPrd.get("pcnt_winter_act")</cer:PercentWinterActivity>
#end
#if($facEmisUnitPrcRptPrd.get("pcnt_spring_act"))
						<cer:PercentSpringActivity>$facEmisUnitPrcRptPrd.get("pcnt_spring_act")</cer:PercentSpringActivity>
#end
#if($facEmisUnitPrcRptPrd.get("pcnt_summer_act"))
						<cer:PercentSummerActivity>$facEmisUnitPrcRptPrd.get("pcnt_summer_act")</cer:PercentSummerActivity>
#end
#if($facEmisUnitPrcRptPrd.get("pcnt_fall_act"))
						<cer:PercentFallActivity>$facEmisUnitPrcRptPrd.get("pcnt_fall_act")</cer:PercentFallActivity>
#end
					</cer:OperatingDetails>
#end ##if($facEmisUnitPrcRptPrd.get("actl_hours_per_prd") || $facEmisUnitPrcRptPrd.get("ave_days_per_week")...)
#foreach($facEmisUnitPrcRptPrdSpClPr in $helper.getData("SELECT * FROM CERS_EMS_UNT_PR_RP_PR_SP_CL_PR WHERE EMIS_UNIT_PROC_RPT_PRD_ID = ? ", $facEmisUnitPrcRptPrd.get("emis_unit_proc_rpt_prd_id")))
					<cer:SupplementalCalculationParameter>
#if($facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_type"))
						<cer:SupplementalCalculationParameterType>$facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_type")</cer:SupplementalCalculationParameterType>
#end
#if($facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_val"))
						<cer:SupplementalCalculationParameterValue>$facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_val")</cer:SupplementalCalculationParameterValue>
#end
#if($facEmisUnitPrcRptPrdSpClPr.get("spp_clc_prm_nm_unt_ms_cde"))
						<cer:SupplementalCalculationParameterNumeratorUnitofMeasureCode>$facEmisUnitPrcRptPrdSpClPr.get("spp_clc_prm_nm_unt_ms_cde")</cer:SupplementalCalculationParameterNumeratorUnitofMeasureCode>
#end
#if($facEmisUnitPrcRptPrdSpClPr.get("spp_clc_prm_dn_unt_ms_cde"))
						<cer:SupplementalCalculationParameterDenominatorUnitofMeasureCode>$facEmisUnitPrcRptPrdSpClPr.get("spp_clc_prm_dn_unt_ms_cde")</cer:SupplementalCalculationParameterDenominatorUnitofMeasureCode>
#end
#if($facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_data_year"))
						<cer:SupplementalCalculationParameterDataYear>$facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_data_year")</cer:SupplementalCalculationParameterDataYear>
#end
#if($facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_data_src"))
						<cer:SupplementalCalculationParameterDataSource>$facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_data_src")</cer:SupplementalCalculationParameterDataSource>
#end
#if($facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_cmnt"))
						<cer:SupplementalCalculationParameterComment>$facEmisUnitPrcRptPrdSpClPr.get("supp_calc_parm_cmnt")</cer:SupplementalCalculationParameterComment>
#end
					</cer:SupplementalCalculationParameter>
#end ##foreach($facEmisUnitPrcRptPrdSpClPr)
#foreach($facEmisUnitPrcRptPrdEms in $helper.getData("SELECT * FROM CERS_EMS_UNT_PRC_RPT_PRD_EMS WHERE EMIS_UNIT_PROC_RPT_PRD_ID = ? ", $facEmisUnitPrcRptPrd.get("emis_unit_proc_rpt_prd_id")))
					<cer:ReportingPeriodEmissions>
#if($facEmisUnitPrcRptPrdEms.get("polt_code"))
						<cer:PollutantCode>$facEmisUnitPrcRptPrdEms.get("polt_code")</cer:PollutantCode>
#end
#if($facEmisUnitPrcRptPrdEms.get("total_emis"))
						<cer:TotalEmissions>$facEmisUnitPrcRptPrdEms.get("total_emis")</cer:TotalEmissions>
#end
#if($facEmisUnitPrcRptPrdEms.get("emis_unt_meas_code"))
						<cer:EmissionsUnitofMeasureCode>$facEmisUnitPrcRptPrdEms.get("emis_unt_meas_code")</cer:EmissionsUnitofMeasureCode>
#end
#if($facEmisUnitPrcRptPrdEms.get("emis_fac"))
						<cer:EmissionFactor>$facEmisUnitPrcRptPrdEms.get("emis_fac")</cer:EmissionFactor>
#end
#if($facEmisUnitPrcRptPrdEms.get("emis_fac_num_unt_meas_code"))
						<cer:EmissionFactorNumeratorUnitofMeasureCode>$facEmisUnitPrcRptPrdEms.get("emis_fac_num_unt_meas_code")</cer:EmissionFactorNumeratorUnitofMeasureCode>
#end
#if($facEmisUnitPrcRptPrdEms.get("emis_fac_den_unt_meas_code"))
						<cer:EmissionFactorDenominatorUnitofMeasureCode>$facEmisUnitPrcRptPrdEms.get("emis_fac_den_unt_meas_code")</cer:EmissionFactorDenominatorUnitofMeasureCode>
#end
#if($facEmisUnitPrcRptPrdEms.get("emis_fac_txt"))
						<cer:EmissionFactorText>$facEmisUnitPrcRptPrdEms.get("emis_fac_txt")</cer:EmissionFactorText>
#end
#if($facEmisUnitPrcRptPrdEms.get("emis_calc_meth_code"))
						<cer:EmissionCalculationMethodCode>$facEmisUnitPrcRptPrdEms.get("emis_calc_meth_code")</cer:EmissionCalculationMethodCode>
#end
#if($facEmisUnitPrcRptPrdEms.get("emis_cmnt"))
						<cer:EmissionsComment>$facEmisUnitPrcRptPrdEms.get("emis_cmnt")</cer:EmissionsComment>
#end
					</cer:ReportingPeriodEmissions>
#end ##foreach($facEmisUnitPrcRptPrdEms)
				</cer:ReportingPeriod>
#end
			</cer:UnitEmissionsProcess>
#end
		</cer:EmissionsUnit>
#end
	</cer:FacilitySite>
#end
#parse("eis_foot.vm")