/****** Object:  Table [dbo].[UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_ORG](
	[ORG_ID] [varchar](4) NOT NULL,
	[ORG_NAME] [varchar](255) NULL,
 CONSTRAINT [PK_UIC_ORG] PRIMARY KEY CLUSTERED 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: UICDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_ORG'
GO
/****** Object:  Table [dbo].[UIC_WELL_TYPE]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_WELL_TYPE](
	[WELL_TYPE_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[WELL_TYPE_IDENT] [varchar](20) NOT NULL,
	[WELL_TYPE_CD] [varchar](4) NOT NULL,
	[WELL_TYPE_DATE] [varchar](8) NULL,
	[WELL_TYPE_WELL_IDENT] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UIC_WELL_TYPE] PRIMARY KEY CLUSTERED 
(
	[WELL_TYPE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_WE_TY_OR_ID] ON [dbo].[UIC_WELL_TYPE] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: WellTypeDetailDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_WELL_TYPE'
GO
/****** Object:  Table [dbo].[UIC_WELL_STATUS]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_WELL_STATUS](
	[WELL_STATUS_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[WELL_STATUS_IDENT] [varchar](20) NOT NULL,
	[WELL_STATUS_DATE] [varchar](8) NOT NULL,
	[WELL_STATUS_OPER_STATUS_CD] [varchar](2) NOT NULL,
	[WELL_STATUS_WELL_IDENT] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UIC_WELL_STATUS] PRIMARY KEY CLUSTERED 
(
	[WELL_STATUS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_WE_ST_OR_ID] ON [dbo].[UIC_WELL_STATUS] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: WellStatusDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_WELL_STATUS'
GO
/****** Object:  Table [dbo].[UIC_WELL]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_WELL](
	[WELL_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[WELL_IDENT] [varchar](20) NOT NULL,
	[WELL_AQUIF_EXEMPT_INJ_CD] [varchar](50) NULL,
	[WELL_TOTAL_DEPTH_NUM] [varchar](20) NULL,
	[WELL_HI_PRI_DESIGNATION_CD] [varchar](50) NULL,
	[WELL_CONTACT_IDENT] [varchar](20) NOT NULL,
	[WELL_FACILITY_IDENT] [varchar](20) NOT NULL,
	[WELL_GEO_IDENT] [varchar](20) NULL,
	[WELL_SITE_AREA_NAME_TXT] [varchar](50) NULL,
	[WELL_PERMIT_IDENT] [varchar](20) NOT NULL,
	[WELL_STATE_IDENT] [varchar](50) NOT NULL,
	[WELL_STATE_TRIBAL_CD] [varchar](3) NULL,
	[WELL_IN_SRC_WATER_AREA_LOC_TXT] [varchar](1) NULL,
	[WELL_NAME] [varchar](80) NULL,
 CONSTRAINT [PK_UIC_WELL] PRIMARY KEY CLUSTERED 
(
	[WELL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_WELL_ORG_ID] ON [dbo].[UIC_WELL] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: WellDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_WELL'
GO
/****** Object:  Table [dbo].[UIC_WASTE]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_WASTE](
	[WASTE_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[WASTE_IDENT] [varchar](20) NOT NULL,
	[WASTE_CD] [varchar](4) NULL,
	[WASTE_STREAM_CLASSIFICATION_CD] [varchar](100) NULL,
	[WASTE_WELL_IDENT] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UIC_WASTE] PRIMARY KEY CLUSTERED 
(
	[WASTE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_WAST_ORG_ID] ON [dbo].[UIC_WASTE] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: WasteDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_WASTE'
GO
/****** Object:  Table [dbo].[UIC_VIOLATION]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_VIOLATION](
	[VIOLATION_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[VIOLATION_IDENT] [varchar](20) NOT NULL,
	[VIOLATION_CONTAMINATION_CD] [varchar](50) NULL,
	[VIOLATION_ENDANGERING_CD] [varchar](50) NULL,
	[VIOLATION_RTN_COMPL_DATE] [varchar](8) NULL,
	[VIOLATION_SIGNIFICANT_CD] [varchar](50) NULL,
	[VIOLATION_DETERMINED_DATE] [varchar](8) NOT NULL,
	[VIOLATION_TYPE_CD] [varchar](2) NOT NULL,
	[VIOLATION_WELL_IDENT] [varchar](20) NULL,
	[VIOLATION_FACILITY_IDENT] [varchar](20) NULL,
 CONSTRAINT [PK_UIC_VIOLATION] PRIMARY KEY CLUSTERED 
(
	[VIOLATION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_VIOL_ORG_ID] ON [dbo].[UIC_VIOLATION] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ViolationDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_VIOLATION'
GO
/****** Object:  Table [dbo].[UIC_RESPONSE]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_RESPONSE](
	[RESPONSE_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[RESPONSE_ENFORCEMENT_IDENT] [varchar](20) NOT NULL,
	[RESPONSE_VIOLATION_IDENT] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UIC_RESPONSE] PRIMARY KEY CLUSTERED 
(
	[RESPONSE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_RESP_ORG_ID] ON [dbo].[UIC_RESPONSE] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ResponseDetailDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_RESPONSE'
GO
/****** Object:  Table [dbo].[UIC_PERMIT_ACTIVITY]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_PERMIT_ACTIVITY](
	[PERMIT_ACT_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[PERMIT_ACT_IDENT] [varchar](20) NOT NULL,
	[PERMIT_ACT_ACT_TYPE_CD] [varchar](2) NOT NULL,
	[PERMIT_ACT_DATE] [varchar](8) NOT NULL,
	[PERMIT_ACT_PERMIT_IDENT] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UIC_PERMI_ACTIV] PRIMARY KEY CLUSTERED 
(
	[PERMIT_ACT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_PE_AC_OR_ID] ON [dbo].[UIC_PERMIT_ACTIVITY] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: PermitActivityDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_PERMIT_ACTIVITY'
GO
/****** Object:  Table [dbo].[UIC_PERMIT]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_PERMIT](
	[PERMIT_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[PERMIT_IDENT] [varchar](20) NOT NULL,
	[PERMIT_AOR_WELL_NUMBER_NUM] [varchar](20) NULL,
	[PERMIT_AUTHORIZED_STATUS_CD] [varchar](2) NOT NULL,
	[PERMIT_OWNERSHIP_TYPE_CD] [varchar](50) NULL,
	[PERMIT_AUTHORIZED_IDENT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UIC_PERMIT] PRIMARY KEY CLUSTERED 
(
	[PERMIT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_PERM_ORG_ID] ON [dbo].[UIC_PERMIT] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: PermitDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_PERMIT'
GO
/****** Object:  Table [dbo].[UIC_MI_TEST]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_MI_TEST](
	[MI_TST_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[MECH_INTEG_TST_IDENT] [varchar](20) NOT NULL,
	[MECH_INTEG_TST_COMPLETED_DATE] [varchar](8) NOT NULL,
	[MECH_INTEG_TST_RESULT_CD] [varchar](2) NOT NULL,
	[MECH_INTEG_TST_TYPE_CD] [varchar](2) NOT NULL,
	[MECH_INTEG_TST_REM_ACT_DATE] [varchar](8) NULL,
	[MECH_INTEG_TST_REM_ACT_TYPE_CD] [varchar](50) NULL,
	[MECH_INTEG_TST_WELL_IDENT] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UIC_MI_TEST] PRIMARY KEY CLUSTERED 
(
	[MI_TST_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_MI_TE_OR_ID] ON [dbo].[UIC_MI_TEST] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: MITestDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_MI_TEST'
GO
/****** Object:  Table [dbo].[UIC_LOCATION]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_LOCATION](
	[LOC_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[LOC_IDENT] [varchar](20) NOT NULL,
	[LOC_ADDRESS_COUNTY] [varchar](35) NULL,
	[LOC_ACCURACY_VALUE_MEASURE] [varchar](20) NULL,
	[GEO_REF_PT_CD] [varchar](50) NULL,
	[HORZ_COORD_REF_SYS_DATUM_CD] [varchar](50) NULL,
	[HORZ_COLLECTION_METHOD_CD] [varchar](50) NULL,
	[LOC_PT_LINE_AREA_CD] [varchar](50) NULL,
	[SRC_MAP_SCALE_NUM] [varchar](50) NULL,
	[LOC_WELL_IDENT] [varchar](20) NOT NULL,
	[LATITUDE_MEASURE] [varchar](20) NULL,
	[LONGITUDE_MEASURE] [varchar](20) NULL,
 CONSTRAINT [PK_UIC_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOC_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_LOCA_ORG_ID] ON [dbo].[UIC_LOCATION] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: LocationDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_LOCATION'
GO
/****** Object:  Table [dbo].[UIC_INSPECTION]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_INSPECTION](
	[INSP_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[INSP_IDENT] [varchar](20) NOT NULL,
	[INSP_ASSISTANCE_CD] [varchar](50) NULL,
	[INSP_DEFICIENCY_CD] [varchar](50) NULL,
	[INSP_ACT_DATE] [varchar](8) NOT NULL,
	[INSP_ICIS_COMPL_MONTR_RSN_CD] [varchar](50) NULL,
	[INSP_ICIS_COMPL_MONTR_TYPE_CD] [varchar](50) NULL,
	[INSP_ICIS_COMPL_ACT_TYPE_CD] [varchar](50) NULL,
	[INSP_ICIS_MOA_NAME] [varchar](50) NULL,
	[INSP_ICIS_RGN_PRI_NAME] [varchar](12) NULL,
	[INSP_TYPE_ACT_CD] [varchar](2) NOT NULL,
	[INSP_WELL_IDENT] [varchar](20) NULL,
	[INSP_FACILITY_IDENT] [varchar](20) NULL,
 CONSTRAINT [PK_UIC_INSPECTION] PRIMARY KEY CLUSTERED 
(
	[INSP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_INSP_ORG_ID] ON [dbo].[UIC_INSPECTION] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: InspectionDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_INSPECTION'
GO
/****** Object:  Table [dbo].[UIC_GEOLOGY]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_GEOLOGY](
	[GEO_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[GEO_IDENT] [varchar](20) NOT NULL,
	[GEO_CONF_ZN_NAME] [varchar](100) NULL,
	[GEO_CONF_ZN_TOP_NUM] [varchar](20) NULL,
	[GEO_CONF_ZN_BOT_NUM] [varchar](20) NULL,
	[GEO_LITH_CONF_ZN_TXT] [varchar](100) NULL,
	[GEO_INJ_ZN_FORMATION_NAME] [varchar](100) NULL,
	[GEO_BOT_INJ_ZN_NUM] [varchar](20) NULL,
	[GEO_LITH_INJ_ZN_TXT] [varchar](100) NULL,
	[GEO_TOP_INJ_INTERVAL_NUM] [varchar](20) NULL,
	[GEO_BOT_INJ_INTERVAL_NUM] [varchar](20) NULL,
	[GEO_INJ_ZN_PERM_RATE_NUM] [varchar](20) NULL,
	[GEO_INJ_ZN_POR_PCNT_NUM] [varchar](20) NULL,
	[GEO_USDW_DEPTH_NUM] [varchar](20) NULL,
 CONSTRAINT [PK_UIC_GEOLOGY] PRIMARY KEY CLUSTERED 
(
	[GEO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_GEOL_ORG_ID] ON [dbo].[UIC_GEOLOGY] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: GeologyDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_GEOLOGY'
GO
/****** Object:  Table [dbo].[UIC_FACILITY]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_FACILITY](
	[FACILITY_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[FACILITY_IDENT] [varchar](20) NOT NULL,
	[LOCALITY_NAME] [varchar](60) NULL,
	[FACILITY_SITE_NAME] [varchar](80) NOT NULL,
	[FACILITY_PETITION_STATUS_CD] [varchar](50) NULL,
	[LOC_ADDRESS_STATE_CD] [varchar](10) NULL,
	[FACILITY_STATE_IDENT] [varchar](50) NOT NULL,
	[LOC_ADDRESS_TXT] [varchar](150) NOT NULL,
	[FACILITY_SITE_TYPE_CD] [varchar](50) NULL,
	[NAICS_CD] [varchar](6) NULL,
	[SIC_CD] [varchar](4) NULL,
	[LOC_ADDRESS_POSTAL_CD] [varchar](14) NOT NULL,
 CONSTRAINT [PK_UIC_FACILITY] PRIMARY KEY CLUSTERED 
(
	[FACILITY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_FACI_ORG_ID] ON [dbo].[UIC_FACILITY] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: FacilityDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_FACILITY'
GO
/****** Object:  Table [dbo].[UIC_ENGINEERING]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_ENGINEERING](
	[ENGR_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[ENGR_IDENT] [varchar](20) NOT NULL,
	[ENGR_MAX_FLOW_RATE_NUM] [varchar](20) NULL,
	[ENGR_PERM_ONSITE_INJ_VOL_NUM] [varchar](20) NULL,
	[ENGR_PERM_OFFSITE_INJ_VOL_NUM] [varchar](20) NULL,
	[ENGR_WELL_IDENT] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UIC_ENGINEERING] PRIMARY KEY CLUSTERED 
(
	[ENGR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_ENGI_ORG_ID] ON [dbo].[UIC_ENGINEERING] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: EngineeringDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_ENGINEERING'
GO
/****** Object:  Table [dbo].[UIC_ENFORCEMENT]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_ENFORCEMENT](
	[ENFORCEMENT_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[ENFORCEMENT_IDENT] [varchar](20) NOT NULL,
	[ENFORCEMENT_ACT_DATE] [varchar](8) NOT NULL,
	[ENFORCEMENT_ACT_TYPE] [varchar](3) NOT NULL,
 CONSTRAINT [PK_UIC_ENFORCEMENT] PRIMARY KEY CLUSTERED 
(
	[ENFORCEMENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_ENFO_ORG_ID] ON [dbo].[UIC_ENFORCEMENT] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: EnforcementDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_ENFORCEMENT'
GO
/****** Object:  Table [dbo].[UIC_CORRECTION]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_CORRECTION](
	[CORRECTION_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[CORRECTION_IDENT] [varchar](20) NOT NULL,
	[CORRECTION_ACT_TYPE_CD] [varchar](50) NULL,
	[CORRECTION_COMMENT_TXT] [varchar](200) NULL,
	[CORRECTION_INSP_IDENT] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UIC_CORRECTION] PRIMARY KEY CLUSTERED 
(
	[CORRECTION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_CORR_ORG_ID] ON [dbo].[UIC_CORRECTION] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: CorrectionDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_CORRECTION'
GO
/****** Object:  Table [dbo].[UIC_CONTACT]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_CONTACT](
	[CONTACT_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[CONTACT_IDENT] [varchar](20) NOT NULL,
	[TELEPHONE_NUMBER_TXT] [varchar](15) NULL,
	[INDIVIDUAL_FULL_NAME] [varchar](70) NOT NULL,
	[CONTACT_CITY_NAME] [varchar](30) NULL,
	[CONTACT_ADDRESS_STATE_CD] [varchar](50) NULL,
	[CONTACT_ADDRESS_TXT] [varchar](150) NOT NULL,
	[CONTACT_ADDRESS_POSTAL_CD] [varchar](14) NOT NULL,
 CONSTRAINT [PK_UIC_CONTACT] PRIMARY KEY CLUSTERED 
(
	[CONTACT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_CONT_ORG_ID] ON [dbo].[UIC_CONTACT] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ContactDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_CONTACT'
GO
/****** Object:  Table [dbo].[UIC_CONSTITUENT]    Script Date: 11/30/2009 17:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UIC_CONSTITUENT](
	[CONSTITUENT_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](4) NOT NULL,
	[CONSTITUENT_IDENT] [varchar](20) NOT NULL,
	[MEASURE_VALUE] [varchar](20) NULL,
	[MEASURE_UNIT_CD] [varchar](50) NULL,
	[CONSTITUENT_NAME_TXT] [varchar](50) NULL,
	[CONSTITUENT_WASTE_IDENT] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UIC_CONSTITUENT] PRIMARY KEY CLUSTERED 
(
	[CONSTITUENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_UIC_CONS_ORG_ID] ON [dbo].[UIC_CONSTITUENT] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ConstituentDetailType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UIC_CONSTITUENT'
GO
/****** Object:  ForeignKey [FK_UIC_WE_TY_UI_OR]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_WELL_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_UIC_WE_TY_UI_OR] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_WELL_TYPE] CHECK CONSTRAINT [FK_UIC_WE_TY_UI_OR]
GO
/****** Object:  ForeignKey [FK_UIC_WE_ST_UI_OR]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_WELL_STATUS]  WITH CHECK ADD  CONSTRAINT [FK_UIC_WE_ST_UI_OR] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_WELL_STATUS] CHECK CONSTRAINT [FK_UIC_WE_ST_UI_OR]
GO
/****** Object:  ForeignKey [FK_UIC_WEL_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_WELL]  WITH CHECK ADD  CONSTRAINT [FK_UIC_WEL_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_WELL] CHECK CONSTRAINT [FK_UIC_WEL_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_WAS_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_WASTE]  WITH CHECK ADD  CONSTRAINT [FK_UIC_WAS_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_WASTE] CHECK CONSTRAINT [FK_UIC_WAS_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_VIO_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_VIOLATION]  WITH CHECK ADD  CONSTRAINT [FK_UIC_VIO_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_VIOLATION] CHECK CONSTRAINT [FK_UIC_VIO_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_RES_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_RESPONSE]  WITH CHECK ADD  CONSTRAINT [FK_UIC_RES_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_RESPONSE] CHECK CONSTRAINT [FK_UIC_RES_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_PE_AC_UI_OR]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_PERMIT_ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_UIC_PE_AC_UI_OR] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_PERMIT_ACTIVITY] CHECK CONSTRAINT [FK_UIC_PE_AC_UI_OR]
GO
/****** Object:  ForeignKey [FK_UIC_PER_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_PERMIT]  WITH CHECK ADD  CONSTRAINT [FK_UIC_PER_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_PERMIT] CHECK CONSTRAINT [FK_UIC_PER_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_MI_TE_UI_OR]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_MI_TEST]  WITH CHECK ADD  CONSTRAINT [FK_UIC_MI_TE_UI_OR] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_MI_TEST] CHECK CONSTRAINT [FK_UIC_MI_TE_UI_OR]
GO
/****** Object:  ForeignKey [FK_UIC_LOC_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_UIC_LOC_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_LOCATION] CHECK CONSTRAINT [FK_UIC_LOC_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_INS_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_INSPECTION]  WITH CHECK ADD  CONSTRAINT [FK_UIC_INS_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_INSPECTION] CHECK CONSTRAINT [FK_UIC_INS_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_GEO_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_GEOLOGY]  WITH CHECK ADD  CONSTRAINT [FK_UIC_GEO_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_GEOLOGY] CHECK CONSTRAINT [FK_UIC_GEO_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_FAC_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_FACILITY]  WITH CHECK ADD  CONSTRAINT [FK_UIC_FAC_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_FACILITY] CHECK CONSTRAINT [FK_UIC_FAC_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_ENG_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_ENGINEERING]  WITH CHECK ADD  CONSTRAINT [FK_UIC_ENG_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_ENGINEERING] CHECK CONSTRAINT [FK_UIC_ENG_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_ENF_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_ENFORCEMENT]  WITH CHECK ADD  CONSTRAINT [FK_UIC_ENF_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_ENFORCEMENT] CHECK CONSTRAINT [FK_UIC_ENF_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_COR_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_CORRECTION]  WITH CHECK ADD  CONSTRAINT [FK_UIC_COR_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_CORRECTION] CHECK CONSTRAINT [FK_UIC_COR_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_CON_UIC_ORG]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_UIC_CON_UIC_ORG] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_CONTACT] CHECK CONSTRAINT [FK_UIC_CON_UIC_ORG]
GO
/****** Object:  ForeignKey [FK_UIC_CON_UIC_O02]    Script Date: 11/30/2009 17:03:44 ******/
ALTER TABLE [dbo].[UIC_CONSTITUENT]  WITH CHECK ADD  CONSTRAINT [FK_UIC_CON_UIC_O02] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[UIC_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIC_CONSTITUENT] CHECK CONSTRAINT [FK_UIC_CON_UIC_O02]
GO
