<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">

  <!-- Dashboard -->
  <object id="dashboardTabSnapshot" type="TabItem">
    <property name="Text" value="Snapshot"/>
    <property name="Url" value="Secure/Dashboard.aspx"/>
  </object>
  <object id="dashboardTabNews" type="TabItem">
    <property name="Text" value="Network Partners"/>
    <property name="Url" value="Secure/DashboardNews.aspx"/>
  </object>

  <!-- Charts (http://code.google.com/apis/chart/) -->
  <object id="chartSize" type="System.Drawing.Size, System.Drawing">
    <constructor-arg name="width" value="400"/>
    <constructor-arg name="height" value="150"/>
  </object>
  
  <object id="topChart" type="Windsor.Node2008.Admin.Code.ChartConfig">
    <constructor-arg name="BaseUrl" value="http://chart.apis.google.com/chart?"/>
    <constructor-arg name="Size" ref="chartSize"/>
    <constructor-arg name="Type" value="p3"/>
    <constructor-arg name="DataProvider" ref="transactionManagerService"/>
    <property name="SectionTitle" value="Transaction Type Overview"/>
  </object>


  <object type="~/Secure/Dashboard.aspx">
    <property name="SectionTitle" value="Dashboard"/>
    <property name="SideTabs">
      <list/>
    </property>
    <property name="ChartConfig" ref="topChart"/>
    <!--<property name="RssFeedUrl" value="http://www.windsorsolutions.biz/xml/node41.xml"/>-->
    <property name="RssFeedUrl" value="http://feeds2.feedburner.com/opennode2"/>
    <property name="RecentTransactionDisplayCount" value="10"/>
    <property name="DataService" ref="activityManagerService"/>
  </object>

</objects>



