<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">

  <!-- Tabs -->
  <object id="secTabUsers" type="TabItem">
    <property name="Text" value="Account Manager"/>
    <property name="Url" value="Secure/SecurityUser.aspx"/>
  </object>
  <object id="secTabPolicy" type="TabItem">
    <property name="Text" value="Account Policy Manager"/>
    <property name="Url" value="Secure/SecurityPolicy.aspx"/>
  </object>
  <!--<object id="secTabManageUserRequests" type="TabItem">
    <property name="Text" value="Manage User Requests"/>
    <property name="Url" value="Secure/SecurityManageUserRequests.aspx"/>
  </object>-->


  <!-- ******************************************************************
  
       USERS
  
       ****************************************************************** -->

  <!-- SecurityUser -->
  <object type="~/Secure/SecurityUser.aspx">
    <property name="SectionTitle" value="Security Manager"/>
    <property name="SideTabs">
      <list>
        <ref object="secTabUsers"/>
        <ref object="secTabPolicy"/>
        <!--<ref object="secTabManageUserRequests"/>-->
      </list>
    </property>
    <property name="SelectedTabIndex" value="0" />
    <property name="ListConfig" ref="securityUserListConfig" />
    <property name="CanBulkAddUsers" value="false" />
  </object>

  <!-- globalArgList -->
  <object id="securityUserListConfig" type="Windsor.Node2008.Admin.SimpleListConfig, Windsor.Node2008.Admin">
    <property name="SectionHeadline" value="Account Manager"/>
    <property name="IntroParagraphs">
      <list>
        <value>The Security Manager page allows you to manage existing user policies as well as set up new accounts and policies. A user account can be setup to be a Reader (only receive data) or an Author (receive data and create schedules). New user accounts can be created both for the Node and within NAAS.</value>
      </list>
    </property>
    <property name="DetailItemLinkText" value="Add User"/>
    <property name="DetailItemLinkUri" value="SecurityUserEdit.aspx"/>
    <property name="LinkItemImageUri" value="../Images/page_user_dark.gif"/>
    <property name="SimpleDataService" ref="accountManagerService"/>
  </object>

  <!-- SecurityUserEdit -->
  <object type="~/Secure/SecurityUserEdit.aspx">
    <property name="SectionTitle" value="Security Manager"/>
    <property name="SectionHeadline" value="Add/Edit User"/>
    <property name="IntroParagraphs">
      <list>
        <value>The Add/Edit User page allows you to add a new user or edit an existing user.  New user accounts will be created both for the Node and within NAAS.</value>
      </list>
    </property>
    <property name="SideTabs">
      <list>
        <ref object="secTabUsers"/>
        <ref object="secTabPolicy"/>
        <!--<ref object="secTabManageUserRequests"/>-->
      </list>
    </property>
    <property name="SelectedTabIndex" value="0" />
    <property name="DataItemService" ref="accountManagerService"/>
  </object>

  <!-- SecurityBulkAddUsers -->
  <object type="~/Secure/SecurityBulkAddUsers.aspx">
    <property name="SectionTitle" value="Security Manager"/>
    <property name="SectionHeadline" value="Bulk Add Users"/>
    <property name="IntroParagraphs">
      <list>
        <value>The Bulk Add Users page allows you to add several users at once.  Enter a list of user emails (separated by commas, semicolons, or newlines) in the Usernames edit box.  You can also specify an optional, initial password for each user (if no password is specified a random password will be generated for each user).</value>
      </list>
    </property>
    <property name="SideTabs">
      <list>
        <ref object="secTabUsers"/>
        <ref object="secTabPolicy"/>
        <!--<ref object="secTabManageUserRequests"/>-->
      </list>
    </property>
    <property name="SelectedTabIndex" value="0" />
    <property name="AccountService" ref="accountManagerService"/>
    <property name="FlowService" ref="flowManagerService" />
    <property name="CentralProcessor" ref="centralProcessorService" />
  </object>

  
  <!-- ******************************************************************
  
       POLICY
  
       ****************************************************************** -->

  <!-- SecurityPolicy -->
  <object type="~/Secure/SecurityPolicy.aspx">
    <property name="SectionTitle" value="Security Manager"/>
    <property name="SectionHeadline" value="Account Policy Manager"/>
    <property name="IntroParagraphs">
      <list>
        <value>The Security Manager page allows you to manage existing user policies as well as set up new accounts and policies. A user account can be setup to be a Reader (only receive data) or an Author (receive data and create schedules). New user accounts can be created both for the Node and within NAAS.</value>
      </list>
    </property>
    <property name="SideTabs">
      <list>
        <ref object="secTabUsers"/>
        <ref object="secTabPolicy"/>
        <!--<ref object="secTabManageUserRequests"/>-->
      </list>
    </property>
    <property name="SelectedTabIndex" value="1" />
    <property name="DataItemService" ref="accountPolicyManagerService"/>
  </object>


  <!-- SecurityPolicyEdit -->
  <object type="~/Secure/SecurityPolicyEdit.aspx">
    <property name="SectionTitle" value="Security Manager"/>
    <property name="SectionHeadline" value="Account Policy Manager"/>
    <property name="IntroParagraphs">
      <list>
        <value>Once an account has been created, it can be assigned policies through a simple UI (default access to flows granted) or advanced UI (specify the access for each flow per user).</value>
      </list>
    </property>
    <property name="SideTabs">
      <list>
        <ref object="secTabUsers"/>
        <ref object="secTabPolicy"/>
        <!--<ref object="secTabManageUserRequests"/>-->
      </list>
    </property>
    <property name="SelectedTabIndex" value="1" />
    <property name="ListConfig" ref="flowListConfig" />
    <property name="DataItemService" ref="accountPolicyManagerService" />
    <property name="AccountService" ref="accountManagerService"/>
  </object>

  <!-- flowList -->
  <object id="flowListConfig" type="Windsor.Node2008.Admin.SimpleListConfig, Windsor.Node2008.Admin">
    <property name="SectionHeadline" value="Policy Manager"/>
    <property name="IntroParagraphs">
      <list>
        <value>Assign policies to the specified user by checking or unchecking access to one or more of the following exchanges:</value>
      </list>
    </property>
    <property name="DetailItemLinkText" value=""/>
    <property name="DetailItemLinkUri" value="FlowEdit.aspx"/>
    <property name="LinkItemImageUri" value="../Images/Flow2.gif"/>
    <property name="SimpleDataService" ref="flowManagerService"/>
  </object>

  <!-- ******************************************************************
  
       MANAGE USER REQUESTS
  
       ****************************************************************** -->

  <!-- SecurityManageUserRequests -->
  <object type="~/Secure/SecurityManageUserRequests.aspx">
    <property name="SectionTitle" value="Security Manager"/>
    <property name="SectionHeadline" value="Manage User Requests"/>
    <property name="IntroParagraphs">
      <list>
        <value>The Manage User Requests page allows you to manage existing user requests (users requesting to be added to the Node).</value>
      </list>
    </property>
    <property name="SideTabs">
      <list>
        <ref object="secTabUsers"/>
        <ref object="secTabPolicy"/>
        <!--<ref object="secTabManageUserRequests"/>-->
      </list>
    </property>
    <property name="SelectedTabIndex" value="2" />
    <property name="AccountAuthorizationRequestService" ref="accountAuthorizationRequestService"/>
    <property name="FlowService" ref="flowManagerService" />
  </object>

</objects>



