<h3>Node Query Notifications</h3>

On <b>$DATE</b> Account <b>$USERNAME</b> executed a query against: <br /> 
<b>$SERVICENAME</b><br /><br />

with the following parameters: <br />
<b>$SERVICEARGS</b><br />
rowId: <b>$SERVICEROWID</b><br />
maxRows: <b>$SERVICEMAXROWS</b><br /><br />

<hr noshade size="1" color="#dcdcdc" />

<font size="-1">The recipients of this message are derived based on 
configuration values defined in the Node Administration Utility. 
Please contact Node administrator to stop, add and/or modify these messages.</font>


