<h3>Node Submit Notifications</h3>

On <b>$DATE</b> Account <b>$USERNAME</b> submitted document(s) for following flow: <b>$FLOWID</b>
Current status of the resulting transaction is <b>$TRANID</b><br />
For more information about that transaction see: 
<a href="$ADMINURL/tran.htm?id=$TRANID">Node Admin</a>

<hr noshade size="1" color="#dcdcdc" />

<font size="-1">The recipients of this message are derived based on 
configuration values defined in the Node Administration Utility. 
Please contact Node administrator to stop, add and/or modify these messages.</font>