SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_CERTIFICATION](
	[PERF_ACT_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[CERTIFICATIONSEQUENCENUMBER] [varchar](4) NOT NULL,
	[SIGNEDDATE] [datetime] NULL,
	[TITLE] [varchar](30) NULL,
	[ACTORNAME] [varchar](100) NULL,
	[FIRSTNAME] [varchar](100) NULL,
	[MIDDLEINITIAL] [varchar](2) NULL,
	[LASTNAME] [varchar](100) NULL,
	[SUPPLEMENTALINFORMATION] [varchar](200) NULL,
 CONSTRAINT [PK_RCRA_CERTIFICATION] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC,
	[CERTIFICATIONSEQUENCENUMBER] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_CONTACT](
	[Perf_Act_ID] [int] NOT NULL,
	[TransactionCode] [varchar](2) NULL,
	[OrganizationFormalName] [varchar](40) NULL,
	[FirstName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[MiddleInitial] [varchar](1) NULL,
	[ElectronicAddressText] [varchar](100) NULL,
	[TelephoneNumber] [varchar](20) NULL,
	[PhoneExtension] [varchar](6) NULL,
 CONSTRAINT [PK_RCRA_CONTACT] PRIMARY KEY CLUSTERED 
(
	[Perf_Act_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_FACILITYSUBMISSION](
	[HandlerID] [varchar](255) NOT NULL,
	[TransactionCode] [varchar](255) NULL,
	[PublicUseExtractIndicator] [varchar](5) NULL,
	[FacilityRegistryID] [varchar](255) NULL,
	[SupplementalInformation] [varchar](255) NULL,
	[ChangedDate] [datetime] NULL,
 CONSTRAINT [PK_RCRA_FACILITYSUBMISSION] PRIMARY KEY CLUSTERED 
(
	[HandlerID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_FEDERALWASTEGENERATOR](
	[PERF_ACT_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[WASTEGENERATOROWNERNAME] [char](2) NULL,
	[WASTEGENERATORSTATUSCODE] [char](1) NULL,
 CONSTRAINT [PK_RCRA_FEDERALWASTEGENERATOR] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_GEOGRAPHICCOORDINATE](
	[PERF_ACT_ID] [int] NOT NULL,
	[TransactionCode] [varchar](255) NOT NULL,
	[LatitudeMeasure] [decimal](8, 6) NOT NULL,
	[LongitudeMeasure] [decimal](9, 6) NOT NULL,
	[HorizontalAccuracyMeasure] [int] NOT NULL,
	[HorizontalCollectionMethod] [varchar](255) NOT NULL,
	[HorizontalReferenceDatumName] [varchar](255) NOT NULL,
	[SourceMapScaleNumber] [int] NOT NULL,
	[ReferencePoint] [varchar](255) NOT NULL,
	[GeometricTypeName] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_HANDLER](
	[PERF_ACT_ID] [int] NOT NULL,
	[HANDLERID] [varchar](255) NOT NULL,
	[TransactionCode] [varchar](255) NULL,
	[ActivityLocationCode] [varchar](255) NULL,
	[SourceTypeCode] [varchar](255) NULL,
	[SourceRecordSequenceNumber] [int] NULL,
	[ReceiveDate] [datetime] NULL,
	[AcknowledgeReceiptDate] [datetime] NULL,
	[NonNotifierIndicator] [varchar](5) NULL,
	[OnsiteEmployeeQuantity] [int] NULL,
	[TransferFacilityCode] [varchar](255) NULL,
	[SecondaryID] [varchar](255) NULL,
	[TreatmentStorageDisposalDate] [datetime] NULL,
	[OffsiteWasteReceiptCode] [varchar](255) NULL,
	[AccessibilityCode] [varchar](255) NULL,
	[CountyCodeOwner] [varchar](255) NULL,
	[CountyCode] [varchar](255) NULL,
	[SupplementalInformation] [varchar](255) NULL,
 CONSTRAINT [PK_RCRA_HANDLER] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_HANDLERUNIVERSALWASTE](
	[PERF_ACT_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[UNIVERSALWASTEOWNERNAME] [char](2) NULL,
	[WASTE_CODE] [varchar](3) NULL,
	[UNIVERSALWASTETYPECODE] [char](1) NOT NULL,
	[ACCUMULATEDWASTECODE] [char](1) NULL,
	[GENERATEDHANDLERCODE] [char](1) NULL,
	[SUPPLEMENTALINFORMATION] [varchar](2) NULL,
 CONSTRAINT [PK_RCRA_HANDLERUNIVERSALWASTE] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC,
	[UNIVERSALWASTETYPECODE] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_HANDLERWASTECODEDETAILS](
	[PERF_ACT_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[WASTECODEOWNERNAME] [varchar](3) NULL,
	[WASTECODE] [varchar](4) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_LOCATIONADDRESS](
	[PERF_ACT_ID] [int] NOT NULL,
	[LOCATIONADDRESSTEXT] [varchar](40) NULL,
	[SUPPLEMENTALLOCATIONTEXT] [varchar](40) NULL,
	[LOCALITYNAME] [varchar](25) NULL,
	[STATEUSPSCODE] [varchar](2) NULL,
	[LOCATIONZIPCODE] [varchar](9) NULL,
 CONSTRAINT [PK_RCRA_LOCATIONADDRESS] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_MAILINGADDRESS](
	[PERF_ACT_ID] [int] NOT NULL,
	[MAILINGADDRESSTEXT] [varchar](60) NULL,
	[SUPPLEMENTALADDRESSTEXT] [varchar](60) NULL,
	[MAILINGADDRESSCITYNAME] [varchar](30) NULL,
	[MAILINGADDRESSSTATEUSPSCODE] [varchar](2) NULL,
	[MAILINGADDRESSSTATENAME] [varchar](2) NULL,
	[MAILINGADDRESSCOUNTRYNAME] [varchar](50) NULL,
	[MAILINGADDRESSZIPCODE] [varchar](15) NULL,
 CONSTRAINT [PK_RCRA_MAILINGADDRESS] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_MAILINGADDRESSOWNEROPER](
	[PERF_ACT_ID] [int] NOT NULL,
	[ACTOR_PA_ID] [int] NOT NULL,
	[MAILINGADDRESSTEXT] [varchar](60) NULL,
	[SUPPLEMENTALADDRESSTEXT] [varchar](60) NULL,
	[MAILINGADDRESSCITYNAME] [varchar](30) NULL,
	[MAILINGADDRESSSTATEUSPSCODE] [varchar](2) NULL,
	[MAILINGADDRESSSTATENAME] [varchar](30) NULL,
	[MAILINGADDRESSCOUNTRYNAME] [varchar](50) NULL,
	[MAILINGADDRESSZIPCODE] [varchar](15) NULL,
 CONSTRAINT [PK_RCRA_MAILINGADDRESSOWNEROPER] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC,
	[ACTOR_PA_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_NAICS](
	[PERF_ACT_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[NAICSSEQUENCENUMBER] [varchar](4) NULL,
	[NAICSOWNERCODE] [char](2) NULL,
	[NAICSCODE] [varchar](6) NOT NULL,
	[SUPPLEMENTALINFORMATION] [varchar](2) NULL,
 CONSTRAINT [PK_RCRA_NAICS] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC,
	[NAICSCODE] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_OWNEROPERATORFACILITY](
	[PERF_ACT_ID] [int] NOT NULL,
	[ACTOR_PA_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[OWNEROPERATORSEQUENCENUMBER] [varchar](4) NULL,
	[OWNEROPERATORINDICATOR] [varchar](5) NULL,
	[OWNEROPERATORTYPECODE] [char](1) NULL,
	[OWNEROPERATORNAME] [varchar](100) NULL,
	[CURRENTSTARTDATE] [datetime] NULL,
	[CURRENTENDDATE] [datetime] NULL,
	[DUNSID] [varchar](2) NULL,
	[SUPPLEMENTALINFORMATION] [varchar](2) NULL,
 CONSTRAINT [PK_RCRA_OWNEROPERATORFACILITY] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC,
	[ACTOR_PA_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_PERMITENVIRONMENTAL](
	[PERF_ACT_ID] [int] NOT NULL,
	[TransactionCode] [varchar](255) NOT NULL,
	[EnvironmentalPermitID] [varchar](255) NOT NULL,
	[EnvironmentalPermitOwnerName] [varchar](255) NOT NULL,
	[EnvironmentalPermitTypeCode] [varchar](255) NOT NULL,
	[EnvironmentalPermitDescription] [varchar](255) NOT NULL,
	[SupplementalInformation] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_PREVIOUSHANDLER](
	[HANDLERID] [varchar](255) NOT NULL,
	[TransactionCode] [varchar](255) NOT NULL,
	[PreviousHandlerID] [varchar](255) NOT NULL,
	[SupplementalInformation] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_STATEACTIVITY](
	[PERF_ACT_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[STATEACTIVITYOWNERNAME] [char](2) NULL,
	[STATEACTIVITYTYPECODE] [char](5) NULL,
	[SUPPLEMENTALINFORMATION] [varchar](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_STATEWASTEGENERATOR](
	[PERF_ACT_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[WASTEGENERATOROWNERNAME] [char](2) NULL,
	[WASTEGENERATORSTATUSCODE] [char](1) NULL,
 CONSTRAINT [PK_RCRA_STATEWASTEGENERATOR] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_USEDOIL](
	[PERF_ACT_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[FUELBURNERCODE] [char](1) NULL,
	[PROCESSORCODE] [char](1) NULL,
	[REFINERCODE] [char](1) NULL,
	[MARKETBURNERCODE] [char](1) NULL,
	[SPECIFICATIONMARKETERCODE] [char](1) NULL,
	[TRANSFERFACILITYCODE] [char](1) NULL,
	[TRANSPORTERCODE] [char](1) NULL,
 CONSTRAINT [PK_RCRA_USEDOIL] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RCRA_WASTEACTIVITYSITE](
	[PERF_ACT_ID] [int] NOT NULL,
	[TRANSACTIONCODE] [varchar](2) NULL,
	[FACILITYSITENAME] [varchar](40) NOT NULL,
	[STATEDISTRICTCODE] [varchar](10) NULL,
	[IMPORTERACTIVITYCODE] [char](1) NULL,
	[MIXEDWASTEGENERATORCODE] [char](1) NULL,
	[RECYCLERACTIVITYCODE] [char](1) NULL,
	[TRANSPACTIVITYCODE] [char](1) NULL,
	[TSDACTIVITYCODE] [char](1) NULL,
	[UGINJECTIONACTIVITYCODE] [char](1) NULL,
	[UWDESTFACILITYINDICATOR] [bit] NULL,
	[TRANSFERFACILITYINDICATOR] [bit] NULL,
	[ONSITEBURNEREXEMPTIONCODE] [char](1) NULL,
	[FURNACEEXEMPTIONCODE] [char](1) NULL,
	[LANDTYPECODE] [char](1) NULL,
 CONSTRAINT [PK_RCRA_WASTEACTIVITYSITE] PRIMARY KEY CLUSTERED 
(
	[PERF_ACT_ID] ASC
)WITH FILLFACTOR = 90 ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [RCRA_CERTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_CERTIFICATION_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_CERTIFICATION] CHECK CONSTRAINT [FK_RCRA_CERTIFICATION_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_CONTACT_RCRA_HANDLER] FOREIGN KEY([Perf_Act_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_CONTACT] CHECK CONSTRAINT [FK_RCRA_CONTACT_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_FEDERALWASTEGENERATOR]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_FEDERALWASTEGENERATOR_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_FEDERALWASTEGENERATOR] CHECK CONSTRAINT [FK_RCRA_FEDERALWASTEGENERATOR_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_HANDLER]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_HANDLER_RCRA_FACILITYSUBMISSION] FOREIGN KEY([HANDLERID])
REFERENCES [RCRA_FACILITYSUBMISSION] ([HandlerID])
GO
ALTER TABLE [RCRA_HANDLER] CHECK CONSTRAINT [FK_RCRA_HANDLER_RCRA_FACILITYSUBMISSION]
GO
ALTER TABLE [RCRA_HANDLERUNIVERSALWASTE]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_HANDLERUNIVERSALWASTE_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_HANDLERUNIVERSALWASTE] CHECK CONSTRAINT [FK_RCRA_HANDLERUNIVERSALWASTE_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_LOCATIONADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_LOCATIONADDRESS_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_LOCATIONADDRESS] CHECK CONSTRAINT [FK_RCRA_LOCATIONADDRESS_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_MAILINGADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_MAILINGADDRESS_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_MAILINGADDRESS] CHECK CONSTRAINT [FK_RCRA_MAILINGADDRESS_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_MAILINGADDRESSOWNEROPER]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_MAILINGADDRESSOWNEROPER_RCRA_OWNEROPERATORFACILITY] FOREIGN KEY([PERF_ACT_ID], [ACTOR_PA_ID])
REFERENCES [RCRA_OWNEROPERATORFACILITY] ([PERF_ACT_ID], [ACTOR_PA_ID])
GO
ALTER TABLE [RCRA_MAILINGADDRESSOWNEROPER] CHECK CONSTRAINT [FK_RCRA_MAILINGADDRESSOWNEROPER_RCRA_OWNEROPERATORFACILITY]
GO
ALTER TABLE [RCRA_NAICS]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_NAICS_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_NAICS] CHECK CONSTRAINT [FK_RCRA_NAICS_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_OWNEROPERATORFACILITY]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_OWNEROPERATORFACILITY_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_OWNEROPERATORFACILITY] CHECK CONSTRAINT [FK_RCRA_OWNEROPERATORFACILITY_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_STATEWASTEGENERATOR]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_STATEWASTEGENERATOR_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_STATEWASTEGENERATOR] CHECK CONSTRAINT [FK_RCRA_STATEWASTEGENERATOR_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_USEDOIL]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_USEDOIL_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_USEDOIL] CHECK CONSTRAINT [FK_RCRA_USEDOIL_RCRA_HANDLER]
GO
ALTER TABLE [RCRA_WASTEACTIVITYSITE]  WITH CHECK ADD  CONSTRAINT [FK_RCRA_WASTEACTIVITYSITE_RCRA_HANDLER] FOREIGN KEY([PERF_ACT_ID])
REFERENCES [RCRA_HANDLER] ([PERF_ACT_ID])
GO
ALTER TABLE [RCRA_WASTEACTIVITYSITE] CHECK CONSTRAINT [FK_RCRA_WASTEACTIVITYSITE_RCRA_HANDLER]