<?xml version="1.0" encoding="utf-8"?>
<!-- Spring Manged Objects -->
<objects xmlns="http://www.springframework.net">

    <object id="configManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IConfigService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/configManagerService"/>
    </object>

    <object id="settingsProviderService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSProviders.ISettingsProvider, Windsor.Node2008.WNOSProviders"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/settingsProviderService"/>
    </object>

    <object id="accountManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IAccountService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/accountManagerService"/>
    </object>

    <object id="accountPolicyManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IPolicyService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/accountPolicyManagerService"/>
    </object>

    <object id="dataProviderManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IDataSourceService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/dataProviderManagerService"/>
    </object>

    <object id="partnerManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IPartnerService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/partnerManagerService"/>
    </object>

    <object id="endpointUserManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IEndpointUserService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/endpointUserManagerService"/>
    </object>

    <object id="userSettingsManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSProviders.IUserSettingsManager, Windsor.Node2008.WNOSProviders"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/userSettingsManagerService"/>
    </object>

    <object id="flowManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IFlowService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/flowManagerService"/>
    </object>

    <object id="activityManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IActivityService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/activityManagerService"/>
    </object>

    <object id="scheduleManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IScheduleService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/scheduleManagerService"/>
    </object>

    <object id="securityService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Service.ISecurityService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/securityService"/>
    </object>

    <object id="scheduleProcessorService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Server.INodeProcessor, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/scheduleProcessorService"/>
    </object>

    <object id="notificationManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.INotificationService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/notificationManagerService"/>
    </object>

    <object id="transactionManagerService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.ITransactionService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/transactionManagerService"/>
    </object>

    <object id="centralProcessorService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Server.ICentralProcessor, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/centralProcessorService"/>
    </object>

    <object id="accountAuthorizationRequestService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Admin.IAccountAuthorizationRequestService, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/accountAuthorizationRequestService"/>
    </object>

    <object id="importExportSettingsService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="Windsor.Node2008.WNOSConnector.Logic.IImportExportSettingsManager, Windsor.Node2008.WNOSConnector"/>
        <property name="ServiceUrl" value="tcp://${wnos.service.host}:${wnos.service.port}/importExportSettingsService"/>
    </object>

</objects>
