#foreach($agroup in $analyteGroupList)#if($agroup.analyteGroupCode && $agroup.analyteGroupValue)
#if($agroup.analyteGroupCode || $agroup.analyteGroupValue)
        <AnalyteGroup>
#if($agroup.analyteGroupCode)
            <AnalyteGroupCode>$agroup.analyteGroupCode</AnalyteGroupCode>
#end
#if($agroup.analyteGroupValue)
            <AnalyteGroupValue>$agroup.analyteGroupValue</AnalyteGroupValue>
#end
        </AnalyteGroup>
#end#end#end