#if($analyteList)#foreach($analyte in $analyteList)
#if($analyte.analyteCode || $analyte.analyteName || $analyte.analyteTypeCode)
        <Analyte>
#if($analyte.analyteCode)
            <AnalyteCode>$analyte.analyteCode</AnalyteCode>
#end
#if($analyte.analyteName)
            <AnalyteName>$analyte.analyteName</AnalyteName>
#end
#if($analyte.analyteTypeCode)
            <AnalyteTypeCode>$analyte.analyteTypeCode</AnalyteTypeCode>
#end
#if($analyte.mclValues)#foreach($mclValue in $analyte.mclValues)
#if($analyte.analyteCode || $mclValue.measure || $mclValue.measureText || $mclValue.measureUnitCode || $mclValue.startDate || $mclValue.endDate || $mclValue.complianceMethodCode)
            <MCLValue>
#if($analyte.analyteCode)
                <MCLAnalyteCode>$analyte.analyteCode</MCLAnalyteCode>
#end
#if($mclValue.measure)
                <MCLMeasure>$mclValue.getMeasureString()</MCLMeasure>
#end
#if($mclValue.measureText)
                <MCLMeasureText>$mclValue.measureText</MCLMeasureText>
#end
#if($mclValue.measureUnitCode)
                <MCLMeasureUnitCode>$mclValue.measureUnitCode</MCLMeasureUnitCode>
#end
#if($mclValue.startDate)
                <MCLStartDate>$mclValue.startDate</MCLStartDate>
#end
#if($mclValue.endDate)
                <MCLEndDate>$mclValue.endDate</MCLEndDate>
#end
#if($mclValue.complianceMethodCode)
                <MCLComplianceMethodCode>$mclValue.complianceMethodCode</MCLComplianceMethodCode>
#end
            </MCLValue>
#end#end#end
        </Analyte>
#end#end#end