#if($deficiencies)#foreach($deficiency in $deficiencies)
#if($deficiency.severityLevelCode || $deficiency.severityCategoryCode || $deficiency.determinationDate || $deficiency.description || $deficiency.resolvedDate || $deficiency.cvDescriptionCode || $deficiency.notificationDate || $deficiency.tinwsfIsNumber || $deficiency.tindefcyIsNumber)
                <Deficiency>
#if($deficiency.severityLevelCode)
                    <DeficiencySeverityLevelCode>$deficiency.severityLevelCode</DeficiencySeverityLevelCode>
#end
#if($deficiency.severityCategoryCode)
                    <DeficiencySeverityCategoryCode>$deficiency.severityCategoryCode</DeficiencySeverityCategoryCode>
#end
#if($deficiency.determinationDate)
                    <DeficiencyDeterminiationDate>$deficiency.determinationDate</DeficiencyDeterminiationDate>
#end
#if($deficiency.description)
                    <DeficiencyDescriptionText>$deficiency.description</DeficiencyDescriptionText>
#end
#if($deficiency.resolvedDate)
                    <DeficiencyResolvedDate>$deficiency.resolvedDate</DeficiencyResolvedDate>
#end
#if($deficiency.cvDescriptionCode)
                    <DeficiencyCVDescriptionCode>$deficiency.cvDescriptionCode</DeficiencyCVDescriptionCode>
#end
#if($deficiency.notificationDate)
                    <DeficiencyNotificationDate>$deficiency.notificationDate</DeficiencyNotificationDate>
#end
#if($deficiency.tinwsfIsNumber)
                    <TinwsfIsNumber>$deficiency.tinwsfIsNumber</TinwsfIsNumber>
#end
#if($deficiency.tindefcyIsNumber)
                    <TindefcyIsNumber>$deficiency.tindefcyIsNumber</TindefcyIsNumber>
#end
                </Deficiency>
#end#end#end