#if($facility.facilityIdentifier || $facility.facilityName || $facility.facilityTypeCode || $facility.facilityTypeValue || $facility.waterTypeCode || $facility.activityStatusCode || $facility.activityDate || $facility.availabilityCode || $facility.sellerTreatmentCode || $facility.tinwsfIsNumber || $facility.latitude || $facility.longitude || $facility.horizAccurValue || $facility.horizCollMethodCode || $facility.horizCollMethodName || $facility.geoRefPointCode || $facility.geoRefPointName || $facility.horizRefDatumCode || $facility.horizRefDatumName || $facility.dataCollectionDate || $facility.locationComments || $facility.verticalValue || $facility.verticalCollMethodCode || $facility.verticalCollMethodName || $facility.verticalRefDatumCode || $facility.verticalRefDatumName || $facility.verifMethodCode || $facility.verifMethodName || $facility.coordinateDataSourceCode || $facility.coordinateDataSourceName || $facility.geometricTypeCode || $facility.geometricTypeName)
            </Facility>
#end