#if($facility.facilityIdentifier || $facility.facilityName || $facility.facilityTypeCode || $facility.facilityTypeValue || $facility.waterTypeCode || $facility.activityStatusCode || $facility.activityDate || $facility.availabilityCode || $facility.sellerTreatmentCode || $facility.tinwsfIsNumber || $facility.latitude || $facility.longitude || $facility.horizAccurValue || $facility.horizCollMethodCode || $facility.horizCollMethodName || $facility.geoRefPointCode || $facility.geoRefPointName || $facility.horizRefDatumCode || $facility.horizRefDatumName || $facility.dataCollectionDate || $facility.locationComments || $facility.verticalValue || $facility.verticalCollMethodCode || $facility.verticalCollMethodName || $facility.verticalRefDatumCode || $facility.verticalRefDatumName || $facility.verifMethodCode || $facility.verifMethodName || $facility.coordinateDataSourceCode || $facility.coordinateDataSourceName || $facility.geometricTypeCode || $facility.geometricTypeName)
            <Facility>
#if($facility.facilityIdentifier)
                <FacilityIdentifier>$facility.facilityIdentifier</FacilityIdentifier>
#end
#if($facility.facilityName)
                <FacilityName>$facility.facilityName</FacilityName>
#end
#if($facility.facilityTypeCode)
                <FacilityTypeCode>$facility.facilityTypeCode</FacilityTypeCode>
#end
#if($facility.facilityTypeValue)
                <FacilityTypeValue>$facility.facilityTypeValue</FacilityTypeValue>
#end
#if($facility.waterTypeCode)
                <FacilityWaterTypeCode>$facility.waterTypeCode</FacilityWaterTypeCode>
#end
#if($facility.activityStatusCode)
                <FacilityActivityStatusCode>$facility.activityStatusCode</FacilityActivityStatusCode>
#end
#if($facility.activityDate)
                <FacilityActivityDate>$facility.activityDate</FacilityActivityDate>
#end
#if($facility.availabilityCode)
                <FacilityAvailabilityCode>$facility.availabilityCode</FacilityAvailabilityCode>
#end
#if($facility.sellerTreatmentCode)
                <FacilitySellerTreatmentCode>$facility.sellerTreatmentCode</FacilitySellerTreatmentCode>
#end
#if($facility.tinwsfIsNumber)
                <TinwsfIsNumber>$facility.tinwsfIsNumber</TinwsfIsNumber>
#end
#if($facility.latitude || $facility.longitude || $facility.horizAccurValue || $facility.horizCollMethodCode || $facility.horizCollMethodName || $facility.geoRefPointCode || $facility.geoRefPointName || $facility.horizRefDatumCode || $facility.horizRefDatumName || $facility.dataCollectionDate || $facility.locationComments || $facility.verticalValue || $facility.verticalCollMethodCode || $facility.verticalCollMethodName || $facility.verticalRefDatumCode || $facility.verticalRefDatumName || $facility.verifMethodCode || $facility.verifMethodName || $facility.coordinateDataSourceCode || $facility.coordinateDataSourceName || $facility.geometricTypeCode || $facility.geometricTypeName)
                <GeographicLocationDescription>
#if($facility.latitude)
                    <LatitudeMeasure>$facility.latitude</LatitudeMeasure>
#end
#if($facility.longitude)
                    <LongitudeMeasure>$facility.longitude</LongitudeMeasure>
#end
#if($facility.horizAccurValue)
                    <HorizontalAccuracyMeasure>
                        <MeasureValue>$facility.horizAccurValue</MeasureValue>
                    </HorizontalAccuracyMeasure>
#end
#if($facility.horizCollMethodCode || $facility.horizCollMethodName)
                    <HorizontalCollectionMethod>
#if($facility.horizCollMethodCode)
                        <MethodIdentifierCode>$facility.horizCollMethodCode</MethodIdentifierCode>
#end
#if($facility.horizCollMethodName)
                        <MethodName>$facility.horizCollMethodName</MethodName>
#end
                    </HorizontalCollectionMethod>
#end
#if($facility.geoRefPointCode || $facility.geoRefPointName)
                    <GeographicReferencePoint>
#if($facility.geoRefPointCode)
                        <GeographicReferencePointCode>$facility.geoRefPointCode</GeographicReferencePointCode>
#end
#if($facility.geoRefPointName)
                        <GeographicReferencePointName>$facility.geoRefPointName</GeographicReferencePointName>
#end
                    </GeographicReferencePoint>
#end
#if($facility.horizRefDatumCode || $facility.horizRefDatumName)
                    <HorizontalReferenceDatum>
#if($facility.horizRefDatumCode)
                        <GeographicReferenceDatumCode>$facility.horizRefDatumCode</GeographicReferenceDatumCode>
#end
#if($facility.horizRefDatumName)
                        <GeographicReferenceDatumName>$facility.horizRefDatumName</GeographicReferenceDatumName>
#end
                    </HorizontalReferenceDatum>
#end
#if($facility.dataCollectionDate)
                    <DataCollectionDate>$facility.dataCollectionDate</DataCollectionDate>
#end
#if($facility.locationComments)
                    <LocationCommentsText>$facility.locationComments</LocationCommentsText>
#end
#if($facility.verticalValue)
                    <VerticalMeasure>
                        <MeasureValue>$facility.verticalValue</MeasureValue>
                    </VerticalMeasure>
#end
#if($facility.verticalCollMethodCode || $facility.verticalCollMethodName)
                    <VerticalCollectionMethod>
#if($facility.verticalCollMethodCode)
                        <MethodIdentifierCode>$facility.verticalCollMethodCode</MethodIdentifierCode>
#end
#if($facility.verticalCollMethodName)
                        <MethodName>$facility.verticalCollMethodName</MethodName>
#end
                    </VerticalCollectionMethod>
#end
#if($facility.verticalRefDatumCode || $facility.verticalRefDatumName)
                    <VerticalReferenceDatum>
#if($facility.verticalRefDatumCode)
                        <GeographicReferenceDatumCode>$facility.verticalRefDatumCode</GeographicReferenceDatumCode>
#end
#if($facility.verticalRefDatumName)
                        <GeographicReferenceDatumName>$facility.verticalRefDatumName</GeographicReferenceDatumName>
#end
                    </VerticalReferenceDatum>
#end
#if($facility.verifMethodCode || $facility.verifMethodName)
                    <VerificationMethod>
#if($facility.verifMethodCode)
                        <MethodIdentifierCode>$facility.verifMethodCode</MethodIdentifierCode>
#end
#if($facility.verifMethodName)
                        <MethodName>$facility.verifMethodName</MethodName>
#end
                    </VerificationMethod>
#end
#if($facility.coordinateDataSourceCode || $facility.coordinateDataSourceName)
                    <CoordinateDataSource>
#if($facility.coordinateDataSourceCode)
                        <CoordinateDataSourceCode>$facility.coordinateDataSourceCode</CoordinateDataSourceCode>
#end
#if($facility.coordinateDataSourceName)
                        <CoordinateDataSourceName>$facility.coordinateDataSourceName</CoordinateDataSourceName>
#end
                    </CoordinateDataSource>
#end
#if($facility.geometricTypeCode || $facility.geometricTypeName)
                    <GeometricType>
#if($facility.geometricTypeCode)
                        <GeometricTypeCode>$facility.geometricTypeCode</GeometricTypeCode>
#end
#if($facility.geometricTypeName)
                        <GeometricTypeName>$facility.geometricTypeName</GeometricTypeName>
#end
                    </GeometricType>
#end                
                </GeographicLocationDescription>
#end#end