#if($purchases)#foreach($purchase in $purchases)
#if($purchase.buyWaterSystemPwsId || $purchase.sellWaterSystemPwsId)
            <Purchase>
#if($purchase.buyWaterSystemPwsId)
                <PurchaseBuyPwsIdentifier>$purchase.buyWaterSystemPwsId</PurchaseBuyPwsIdentifier>
#end
#if($purchase.sellWaterSystemPwsId)
                <PurchaseSellPwsIdentifier>$purchase.sellWaterSystemPwsId</PurchaseSellPwsIdentifier>
#end
            </Purchase>
#end#end#end