#if($sampleResults)#foreach( $result in $sampleResults )
#if($result.analyteCode || $result.concentration || $result.concentrationUom || $result.dataQualityCode || $result.detectionLimit || $result.detectionLimitUom || $result.lessThanCode || $result.lessThanInd || $result.standardMethodCode || $result.standardMethodName)
	                    <SampleResult>
#if($result.analyteCode)
	                        <SampleResultAnalyteCode>$result.analyteCode</SampleResultAnalyteCode>
#end
#if($result.concentration)
	                        <SampleResultConcentrationMeasure>$result.getConcentrationString()</SampleResultConcentrationMeasure>
#end
#if($result.concentrationUom)
	                        <SampleResultConcentrationUOMCode>$result.concentrationUom</SampleResultConcentrationUOMCode>
#end
#if($result.dataQualityCode)
	                        <SampleResultDataQualityCode>$result.dataQualityCode</SampleResultDataQualityCode>
#end
#if($result.detectionLimit)
	                        <SampleResultDetectionLimitNumber>$result.getDetectionLimitString()</SampleResultDetectionLimitNumber>
#end
#if($result.detectionLimitUom)
	                        <SampleResultDetectionLimitUOMCode>$result.detectionLimitUom</SampleResultDetectionLimitUOMCode>
#end
#if($result.lessThanCode)
	                        <SampleResultLessThanCode>$result.lessThanCode</SampleResultLessThanCode>
#end
#if($result.lessThanInd)
	                        <SampleResultLessThanIndicator>$result.lessThanInd</SampleResultLessThanIndicator>
#end
#if($result.standardMethodCode)
	                        <SampleResultStandardMethodCode>$result.standardMethodCode</SampleResultStandardMethodCode>
#end
#if($result.standardMethodName)
	                        <SampleResultStandardMethodName>$result.standardMethodName</SampleResultStandardMethodName>
#end
	                    </SampleResult>
#end#end#end