#if($samplingPoint.samplingPointTypeCode || $samplingPoint.activityStatusCode || $samplingPoint.sourceTypeCode || $samplingPoint.description || $samplingPoint.identificationCode || $samplingPoint.postDisinfenctionInd || $samplingPoint.representDistribInd || $samplingPoint.tinwsfIsNumber)
                <SamplingPoint>
#if($samplingPoint.samplingPointTypeCode)
                    <SamplingPointTypeCode>$samplingPoint.samplingPointTypeCode</SamplingPointTypeCode>
#end
#if($samplingPoint.activityStatusCode)
                    <SamplingPointActivityStatusCode>$samplingPoint.activityStatusCode</SamplingPointActivityStatusCode>
#end
#if($samplingPoint.sourceTypeCode)
                    <SamplingPointSourceTypeCode>$samplingPoint.sourceTypeCode</SamplingPointSourceTypeCode>
#end
#if($samplingPoint.description)
                    <SamplingPointDescriptionText>$samplingPoint.description</SamplingPointDescriptionText>
#end
#if($samplingPoint.identificationCode)
                    <SamplingPointIdentificationCode>$samplingPoint.identificationCode</SamplingPointIdentificationCode>
#end
#if($samplingPoint.postDisinfenctionInd)
                    <SamplingPointPostDisinfectionIndicator>$samplingPoint.postDisinfenctionInd</SamplingPointPostDisinfectionIndicator>
#end
#if($samplingPoint.representDistribInd)
                    <SamplingPointRepresentDistribCode>$samplingPoint.representDistribInd</SamplingPointRepresentDistribCode>
#end
#if($samplingPoint.processPhaseInd)
                    <SamplingPointProcessPhaseCode>$samplingPoint.processPhaseInd</SamplingPointProcessPhaseCode>
#end
#if($samplingPoint.tinwsfIsNumber)
                    <TinwsfIsNumber>$samplingPoint.tinwsfIsNumber</TinwsfIsNumber>
#end#end