#if($screens)#foreach($screen in $screens)
#if($screen.screenTypeName || $screen.lithologyName || $screen.depthToTop || $screen.depthToBottom || $screen.aquiferThickness || $screen.stateAquiferCode || $screen.aquiferTypeCode || $screen.depthToAquifer || $screen.usgsAquiferCode || $screen.usgsAquiferName || $screen.tinscrnIsNumber)  
                    <Screen>
#if($screen.screenTypeName)
                        <ScreenTypeName>$screen.screenTypeName</ScreenTypeName>
#end
#if($screen.lithologyName)
                        <ScreenLithologyName>$screen.lithologyName</ScreenLithologyName>
#end
#if($screen.depthToTop)
                        <ScreenDepthToTopMeasure>$screen.depthToTop</ScreenDepthToTopMeasure>
#end
#if($screen.depthToBottom)
                        <ScreenDepthToBottomMeasure>$screen.depthToBottom</ScreenDepthToBottomMeasure>
#end
#if($screen.aquiferThickness) 
                        <ScreenAquiferThicknessMeasure>$screen.aquiferThickness</ScreenAquiferThicknessMeasure>
#end
#if($screen.stateAquiferCode)
                        <ScreenStateAquiferCode>$screen.stateAquiferCode</ScreenStateAquiferCode>
#end
#if($screen.aquiferTypeCode)
                        <ScreenAquiferTypeCode>$screen.aquiferTypeCode</ScreenAquiferTypeCode>
#end
#if($screen.depthToAquifer)
                        <ScreenDepthToAquiferMeasure>$screen.depthToAquifer</ScreenDepthToAquiferMeasure>
#end
#if($screen.usgsAquiferCode)
                        <ScreenUSGSAquiferCode>$screen.usgsAquiferCode</ScreenUSGSAquiferCode>
#end
#if($screen.usgsAquiferName)
                        <ScreenUSGSAquiferName>$screen.usgsAquiferName</ScreenUSGSAquiferName>
#end
#if($screen.tinscrnIsNumber)
                        <TinscrnIsNumber>$screen.tinscrnIsNumber</TinscrnIsNumber>
#end
                    </Screen>
#end#end#end