#if($serviceAreas)#foreach($serviceArea in $serviceAreas)
#if($serviceArea.serviceAreaCode || $serviceArea.primaryInd || $serviceArea.serviceAreaDescription || $serviceArea.servedTypeCode)
            <ServiceArea>
#if($serviceArea.serviceAreaCode)
                <ServiceAreaCode>$serviceArea.serviceAreaCode</ServiceAreaCode>
#end
#if($serviceArea.primaryInd)
                <ServiceAreaPrimaryIndicator>$serviceArea.primaryInd</ServiceAreaPrimaryIndicator>
#end
#if($serviceArea.serviceAreaDescription)
                <ServiceAreaDescriptionText>$serviceArea.serviceAreaDescription</ServiceAreaDescriptionText>
#end
#if($serviceArea.servedTypeCode)
                <ServiceAreaServedTypeCode>$serviceArea.servedTypeCode</ServiceAreaServedTypeCode>
#end
            </ServiceArea>
#end#end#end