#if($siteVisit.comment || $siteVisit.frequencyNumber || $siteVisit.frequencyPeriod || $siteVisit.nextDueDate || $siteVisit.reasonCode || $siteVisit.distributionSystemInd || $siteVisit.finishedStorageInd || $siteVisit.operatorEvalInd || $siteVisit.mrDivInd || $siteVisit.otherInd || $siteVisit.pumpInd || $siteVisit.sourceInd || $siteVisit.treatmentInd || $siteVisit.waterSystemMgmtInd || $siteVisit.status || $siteVisit.siteVisitDate || $siteVisit.notifiedDate || $siteVisit.tinvisitIsNumber)   
            <SiteVisit>
#if($siteVisit.comment)
                <SiteVisitCommentText>$siteVisit.comment</SiteVisitCommentText>
#end
#if($siteVisit.frequencyNumber)
                <SiteVisitFrequencyNumber>$siteVisit.frequencyNumber</SiteVisitFrequencyNumber>
#end
#if($siteVisit.frequencyPeriod)
                <SiteVisitFrequencyPeriod>$siteVisit.frequencyPeriod</SiteVisitFrequencyPeriod>
#end
#if($siteVisit.nextDueDate)
                <SiteVisitNextDueDate>$siteVisit.nextDueDate</SiteVisitNextDueDate>
#end
#if($siteVisit.reasonCode)
                <SiteVisitReasonCode>$siteVisit.reasonCode</SiteVisitReasonCode>
#end
#if($siteVisit.distributionSystemInd)
                <SiteVisitDistribSystemSSIndicator>$siteVisit.distributionSystemInd</SiteVisitDistribSystemSSIndicator>
#end
#if($siteVisit.finishedStorageInd)
                <SiteVisitFinishedStorageSSIndicator>$siteVisit.finishedStorageInd</SiteVisitFinishedStorageSSIndicator>
#end
#if($siteVisit.operatorEvalInd)
                <SiteVisitOperatorEvalSSIndicator>$siteVisit.operatorEvalInd</SiteVisitOperatorEvalSSIndicator>
#end
#if($siteVisit.mrDivInd)
                <SiteVisitMRDvSSIndicator>$siteVisit.mrDivInd</SiteVisitMRDvSSIndicator>
#end
#if($siteVisit.otherInd)
                <SiteVisitOtherSSIndicator>$siteVisit.otherInd</SiteVisitOtherSSIndicator>
#end
#if($siteVisit.pumpInd)
                <SiteVisitPumpSSIndicator>$siteVisit.pumpInd</SiteVisitPumpSSIndicator>
#end
#if($siteVisit.sourceInd)
                <SiteVisitSourceSSIndicator>$siteVisit.sourceInd</SiteVisitSourceSSIndicator>
#end
#if($siteVisit.treatmentInd)
                <SiteVisitTreatmentSSIndicator>$siteVisit.treatmentInd</SiteVisitTreatmentSSIndicator>
#end
#if($siteVisit.waterSystemMgmtInd)
                <SiteWaterSysMgmtSSIndicator>$siteVisit.waterSystemMgmtInd</SiteWaterSysMgmtSSIndicator>
#end
#if($siteVisit.status)
                <SiteVisitStatus>$siteVisit.status</SiteVisitStatus>
#end
#if($siteVisit.siteVisitDate)
                <SiteVisitDate>$siteVisit.siteVisitDate</SiteVisitDate>
#end
#if($siteVisit.notifiedDate)
                <SiteVisitNotifiedDate>$siteVisit.notifiedDate</SiteVisitNotifiedDate>
#end
#if($siteVisit.tinvisitIsNumber)
                <TinvisitIsNumber>$siteVisit.tinvisitIsNumber</TinvisitIsNumber>
#end#end