#if($facility.hasScreenOrCasing || $facility.wellCode || $facility.wellPumpCapacity || $facility.wellPumpType || $facility.wellDepthAtCompletion || $facility.wellCapText || $facility.wellStaticLevelDepth || $facility.wellStaticLevelDepthDate || $facility.wellDrillingMethodCode || $facility.wellDrillingMethodValue || $facility.wellDrawDownDepth || $facility.wellDiameter || $facility.wellGallonsPerMin)
                <Well>
#if($facility.wellCode)
                    <WellIdentificationCode>$facility.wellCode</WellIdentificationCode>
#end
#if($facility.wellPumpCapacity)
                    <WellPumpCapacityMeasure>$facility.wellPumpCapacity</WellPumpCapacityMeasure>
#end
#if($facility.wellPumpType)
                    <WellPumpTypeName>$facility.wellPumpType</WellPumpTypeName>
#end
#if($facility.wellDepthAtCompletion)
                    <WellDepthAtCompletionMeasure>$facility.getWellDepthAtCompletionString()</WellDepthAtCompletionMeasure>
#end
#if($facility.wellCapText)
                    <WellCapText>$facility.wellCapText</WellCapText>
#end
#if($facility.wellStaticLevelDepth)
                    <WellStaticLevelDepthMeasure>$facility.getWellStaticLevelDepthString()</WellStaticLevelDepthMeasure>
#end
#if($facility.wellStaticLevelDepthDate)
                    <WellStaticLevelDepthDate>$facility.wellStaticLevelDepthDate</WellStaticLevelDepthDate>
#end
#if($facility.wellDrillingMethodCode)
                    <WellDrillingMethodCode>$facility.wellDrillingMethodCode</WellDrillingMethodCode>
#end
#if($facility.wellDrillingMethodValue)
                    <WellDrillingMethodValue>$facility.wellDrillingMethodValue</WellDrillingMethodValue>
#end
#if($facility.wellDrawDownDepth)
                    <WellDrawnDownDepthMeasure>$facility.getWellDrawDownDepthString()</WellDrawnDownDepthMeasure>
#end
#if($facility.wellDiameter)
                    <WellDiameterMeasure>$facility.wellDiameter</WellDiameterMeasure>
#end
#if($facility.wellGallonsPerMin)
                    <WellGallonsPerMinuteMeasure>$facility.wellGallonsPerMin</WellGallonsPerMinuteMeasure>
#end#end