/****** Object:  Table [dbo].[P2R_ORG]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_ORG](
	[ORG_ID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_P2R_ORG] PRIMARY KEY CLUSTERED 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ProgramListType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_ORG'
GO
/****** Object:  Table [dbo].[P2R_PROGRAM_DETAILS]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_PROGRAM_DETAILS](
	[PROGRAM_DETAILS_ID] [varchar](40) NOT NULL,
	[ORG_ID] [varchar](50) NOT NULL,
	[PROGRAM_IDENTIFIER] [varchar](120) NOT NULL,
	[PROGRAM_NAME] [varchar](255) NOT NULL,
	[PROGRAM_DESCRIPTION] [varchar](1000) NULL,
	[PROGRAM_ADDRESS] [varchar](255) NULL,
	[PROGRAM_CITY] [varchar](255) NULL,
	[PROGRAM_STATE] [varchar](255) NULL,
	[PROGRAM_ZIP_CODE] [varchar](10) NULL,
	[PROGRAM_PHONE_NUMBER] [varchar](255) NULL,
	[PROGRAM_CONTACT_PERSON] [varchar](255) NULL,
 CONSTRAINT [PK_P2R_PROGR_DETAI] PRIMARY KEY CLUSTERED 
(
	[PROGRAM_DETAILS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2R_PR_DE_OR_ID] ON [P2R_PROGRAM_DETAILS] 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ProgramDetailsDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_PROGRAM_DETAILS'
GO
/****** Object:  Table [dbo].[P2R_PROJECT_DETAILS]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_PROJECT_DETAILS](
	[PROJECT_DETAILS_ID] [varchar](40) NOT NULL,
	[PROGRAM_DETAILS_ID] [varchar](40) NOT NULL,
	[PROJECT_IDENTIFIER] [varchar](120) NOT NULL,
	[PROJECT_NAME] [varchar](255) NOT NULL,
	[PROJECT_DESCRIPTION] [varchar](1000) NULL,
	[SCOPE_AREA_TEXT] [varchar](255) NULL,
	[PROJECT_START_DATE] [datetime] NOT NULL,
	[PROJECT_END_DATE] [datetime] NULL,
	[PROJECT_INPUT_PERSON] [varchar](255) NULL,
	[PROJECT_DATE_ENTERED] [datetime] NULL,
 CONSTRAINT [PK_P2R_PROJE_DETAI] PRIMARY KEY CLUSTERED 
(
	[PROJECT_DETAILS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2_PR_DE_PR_DE] ON [P2R_PROJECT_DETAILS] 
(
	[PROGRAM_DETAILS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ProjectDetailsDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_PROJECT_DETAILS'
GO
/****** Object:  Table [dbo].[P2R_PROJECT_DETAILS_SECTOR]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_PROJECT_DETAILS_SECTOR](
	[PROJECT_DETAILS_SECTOR_ID] [varchar](40) NOT NULL,
	[PROJECT_DETAILS_ID] [varchar](40) NOT NULL,
	[SECTOR_TEXT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_P2R_PRO_DET_SEC] PRIMARY KEY CLUSTERED 
(
	[PROJECT_DETAILS_SECTOR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2_PR_DE_SE_PR] ON [P2R_PROJECT_DETAILS_SECTOR] 
(
	[PROJECT_DETAILS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ProjectDetailsSectorDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_PROJECT_DETAILS_SECTOR'
GO
/****** Object:  Table [dbo].[P2R_ACTIVITY_MEASURE]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_ACTIVITY_MEASURE](
	[ACTIVITY_MEASURE_ID] [varchar](40) NOT NULL,
	[PROJECT_DETAILS_ID] [varchar](40) NOT NULL,
	[ACTIVITY_MEASURE_IDENTIFIER] [varchar](10) NOT NULL,
	[ACTIVITY_MEASURE_NAME] [varchar](255) NOT NULL,
	[ACTIVITY_MEASURE_DEFINITION] [varchar](1000) NULL,
 CONSTRAINT [PK_P2R_ACTIV_MEASU] PRIMARY KEY CLUSTERED 
(
	[ACTIVITY_MEASURE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2_AC_ME_PR_DE] ON [P2R_ACTIVITY_MEASURE] 
(
	[PROJECT_DETAILS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ActivityMeasureDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_ACTIVITY_MEASURE'
GO
/****** Object:  Table [dbo].[P2R_BEHAVIORAL_CHANGE]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_BEHAVIORAL_CHANGE](
	[BEHAVIORAL_CHANGE_ID] [varchar](40) NOT NULL,
	[PROJECT_DETAILS_ID] [varchar](40) NOT NULL,
	[BEHAVIORAL_CHANGE_IDENTIFIER] [varchar](10) NOT NULL,
	[BEHAVIORAL_CHANGE_NAME] [varchar](255) NOT NULL,
	[BEHAVIORAL_CHANGE_DEFINITION] [varchar](1000) NULL,
 CONSTRAINT [PK_P2R_BEHAV_CHANG] PRIMARY KEY CLUSTERED 
(
	[BEHAVIORAL_CHANGE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2_BE_CH_PR_DE] ON [P2R_BEHAVIORAL_CHANGE] 
(
	[PROJECT_DETAILS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: BehavioralChangeDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_BEHAVIORAL_CHANGE'
GO
/****** Object:  Table [dbo].[P2R_INVESTMENT]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_INVESTMENT](
	[INVESTMENT_ID] [varchar](40) NOT NULL,
	[PROJECT_DETAILS_ID] [varchar](40) NOT NULL,
	[INVESTMENT_IDENTIFIER] [varchar](10) NOT NULL,
	[INVESTMENT_NAME] [varchar](255) NOT NULL,
	[INVESTMENT_DEFINITION] [varchar](1000) NULL,
	[UNIT_OF_MEASURE] [varchar](255) NOT NULL,
	[INVESTMENT_VALUE] [varchar](25) NOT NULL,
 CONSTRAINT [PK_P2R_INVESTMENT] PRIMARY KEY CLUSTERED 
(
	[INVESTMENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2R_IN_PR_DE_ID] ON [P2R_INVESTMENT] 
(
	[PROJECT_DETAILS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: InvestmentDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_INVESTMENT'
GO
/****** Object:  Table [dbo].[P2R_OUTCOME_MEASURE]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_OUTCOME_MEASURE](
	[OUTCOME_MEASURE_ID] [varchar](40) NOT NULL,
	[PROJECT_DETAILS_ID] [varchar](40) NOT NULL,
	[OUTCOME_MEASURE_IDENTIFIER] [varchar](10) NOT NULL,
	[OUTCOME_MEASURE_NAME] [varchar](255) NOT NULL,
	[OUTCOME_MEASURE_DEFINITION] [varchar](1000) NULL,
	[OUTCOME_MEASURE_SAVING] [varchar](25) NULL,
	[OUTCOME_MEASURE_INITIAL_COST] [varchar](25) NULL,
	[OUTCOME_MEASURE_RECURRING_YEAR] [varchar](25) NULL,
 CONSTRAINT [PK_P2R_OUTCO_MEASU] PRIMARY KEY CLUSTERED 
(
	[OUTCOME_MEASURE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2_OU_ME_PR_DE] ON [P2R_OUTCOME_MEASURE] 
(
	[PROJECT_DETAILS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: OutcomeMeasureDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_OUTCOME_MEASURE'
GO
/****** Object:  Table [dbo].[P2R_OUTCOME_MEASURE_RESULT]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_OUTCOME_MEASURE_RESULT](
	[OUTCOME_MEASURE_RESULT_ID] [varchar](40) NOT NULL,
	[OUTCOME_MEASURE_ID] [varchar](40) NOT NULL,
	[MEDIA_TYPE_TEXT] [varchar](1000) NOT NULL,
	[OUTCOME_MEASURE_RESULT_VALUE] [varchar](25) NOT NULL,
	[UNIT_OF_MEASURE] [varchar](255) NOT NULL,
	[METRIC_TEXT] [varchar](255) NOT NULL,
 CONSTRAINT [PK_P2R_OUT_MEA_RES] PRIMARY KEY CLUSTERED 
(
	[OUTCOME_MEASURE_RESULT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2_OU_ME_RE_OU] ON [P2R_OUTCOME_MEASURE_RESULT] 
(
	[OUTCOME_MEASURE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: OutcomeMeasureResultDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_OUTCOME_MEASURE_RESULT'
GO
/****** Object:  Table [dbo].[P2R_BEHAVIORAL_CHANGE_QNT_RSLT]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_BEHAVIORAL_CHANGE_QNT_RSLT](
	[BEHAVIORAL_CHANGE_QNT_RSLT_ID] [varchar](40) NOT NULL,
	[BEHAVIORAL_CHANGE_ID] [varchar](40) NOT NULL,
	[P2R_MEASURE_VALUE] [varchar](25) NOT NULL,
	[UNIT_OF_MEASURE] [varchar](255) NOT NULL,
 CONSTRAINT [PK_P2R_BE_CH_QN_RS] PRIMARY KEY CLUSTERED 
(
	[BEHAVIORAL_CHANGE_QNT_RSLT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2_BE_CH_QN_RS] ON [P2R_BEHAVIORAL_CHANGE_QNT_RSLT] 
(
	[BEHAVIORAL_CHANGE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: BehavioralChangeQuantitativeResultDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_BEHAVIORAL_CHANGE_QNT_RSLT'
GO
/****** Object:  Table [dbo].[P2R_ACTIVITY_MEASURE_QNT_RSLT]    Script Date: 12/01/2010 16:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [P2R_ACTIVITY_MEASURE_QNT_RSLT](
	[ACTIVITY_MEASURE_QNT_RSLT_ID] [varchar](40) NOT NULL,
	[ACTIVITY_MEASURE_ID] [varchar](40) NOT NULL,
	[P2R_MEASURE_VALUE] [varchar](25) NOT NULL,
	[UNIT_OF_MEASURE] [varchar](255) NOT NULL,
 CONSTRAINT [PK_P2R_AC_ME_QN_RS] PRIMARY KEY CLUSTERED 
(
	[ACTIVITY_MEASURE_QNT_RSLT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_P2_AC_ME_QN_RS] ON [P2R_ACTIVITY_MEASURE_QNT_RSLT] 
(
	[ACTIVITY_MEASURE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Schema element: ActivityMeasureQuantitativeResultDataType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'P2R_ACTIVITY_MEASURE_QNT_RSLT'
GO
/****** Object:  ForeignKey [FK_P2_AC_ME_P2_PR]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_ACTIVITY_MEASURE]  WITH CHECK ADD  CONSTRAINT [FK_P2_AC_ME_P2_PR] FOREIGN KEY([PROJECT_DETAILS_ID])
REFERENCES [P2R_PROJECT_DETAILS] ([PROJECT_DETAILS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_ACTIVITY_MEASURE] CHECK CONSTRAINT [FK_P2_AC_ME_P2_PR]
GO
/****** Object:  ForeignKey [FK_P2_AC_ME_QN_RS]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_ACTIVITY_MEASURE_QNT_RSLT]  WITH CHECK ADD  CONSTRAINT [FK_P2_AC_ME_QN_RS] FOREIGN KEY([ACTIVITY_MEASURE_ID])
REFERENCES [P2R_ACTIVITY_MEASURE] ([ACTIVITY_MEASURE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_ACTIVITY_MEASURE_QNT_RSLT] CHECK CONSTRAINT [FK_P2_AC_ME_QN_RS]
GO
/****** Object:  ForeignKey [FK_P2_BE_CH_P2_PR]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_BEHAVIORAL_CHANGE]  WITH CHECK ADD  CONSTRAINT [FK_P2_BE_CH_P2_PR] FOREIGN KEY([PROJECT_DETAILS_ID])
REFERENCES [P2R_PROJECT_DETAILS] ([PROJECT_DETAILS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_BEHAVIORAL_CHANGE] CHECK CONSTRAINT [FK_P2_BE_CH_P2_PR]
GO
/****** Object:  ForeignKey [FK_P2_BE_CH_QN_RS]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_BEHAVIORAL_CHANGE_QNT_RSLT]  WITH CHECK ADD  CONSTRAINT [FK_P2_BE_CH_QN_RS] FOREIGN KEY([BEHAVIORAL_CHANGE_ID])
REFERENCES [P2R_BEHAVIORAL_CHANGE] ([BEHAVIORAL_CHANGE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_BEHAVIORAL_CHANGE_QNT_RSLT] CHECK CONSTRAINT [FK_P2_BE_CH_QN_RS]
GO
/****** Object:  ForeignKey [FK_P2R_IN_P2_PR_DE]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_INVESTMENT]  WITH CHECK ADD  CONSTRAINT [FK_P2R_IN_P2_PR_DE] FOREIGN KEY([PROJECT_DETAILS_ID])
REFERENCES [P2R_PROJECT_DETAILS] ([PROJECT_DETAILS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_INVESTMENT] CHECK CONSTRAINT [FK_P2R_IN_P2_PR_DE]
GO
/****** Object:  ForeignKey [FK_P2_OU_ME_P2_PR]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_OUTCOME_MEASURE]  WITH CHECK ADD  CONSTRAINT [FK_P2_OU_ME_P2_PR] FOREIGN KEY([PROJECT_DETAILS_ID])
REFERENCES [P2R_PROJECT_DETAILS] ([PROJECT_DETAILS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_OUTCOME_MEASURE] CHECK CONSTRAINT [FK_P2_OU_ME_P2_PR]
GO
/****** Object:  ForeignKey [FK_P2_OU_ME_RE_P2]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_OUTCOME_MEASURE_RESULT]  WITH CHECK ADD  CONSTRAINT [FK_P2_OU_ME_RE_P2] FOREIGN KEY([OUTCOME_MEASURE_ID])
REFERENCES [P2R_OUTCOME_MEASURE] ([OUTCOME_MEASURE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_OUTCOME_MEASURE_RESULT] CHECK CONSTRAINT [FK_P2_OU_ME_RE_P2]
GO
/****** Object:  ForeignKey [FK_P2R_PR_DE_P2_OR]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_PROGRAM_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_P2R_PR_DE_P2_OR] FOREIGN KEY([ORG_ID])
REFERENCES [P2R_ORG] ([ORG_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_PROGRAM_DETAILS] CHECK CONSTRAINT [FK_P2R_PR_DE_P2_OR]
GO
/****** Object:  ForeignKey [FK_P2_PR_DE_P2_PR]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_PROJECT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_P2_PR_DE_P2_PR] FOREIGN KEY([PROGRAM_DETAILS_ID])
REFERENCES [P2R_PROGRAM_DETAILS] ([PROGRAM_DETAILS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_PROJECT_DETAILS] CHECK CONSTRAINT [FK_P2_PR_DE_P2_PR]
GO
/****** Object:  ForeignKey [FK_P2_PR_DE_SE_P2]    Script Date: 12/01/2010 16:11:06 ******/
ALTER TABLE [P2R_PROJECT_DETAILS_SECTOR]  WITH CHECK ADD  CONSTRAINT [FK_P2_PR_DE_SE_P2] FOREIGN KEY([PROJECT_DETAILS_ID])
REFERENCES [P2R_PROJECT_DETAILS] ([PROJECT_DETAILS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [P2R_PROJECT_DETAILS_SECTOR] CHECK CONSTRAINT [FK_P2_PR_DE_SE_P2]
GO
