<?xml version="1.0"?>
<configuration>
  <!-- Config Sections -->
  <configSections>
    <!-- WSE -->
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <!-- Spring -->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <!-- Common -->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <!-- Log4N -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!-- Logging -->
  <common>
    <logging>
      <factoryAdapter type="Windsor.Node2008.WNOSUtility.WNOSLoggerFactoryAdapter, Windsor.Node2008.WNOSUtility">
        <arg key="configType" value="FILE"/>
        <arg key="configFile" value="~/../../Config/log4net.config"/>
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <!-- Custom application settings go here. -->
    <add key="ServiceProviderCacheDurationInMinutes" value="20"/>
  </appSettings>
  <!-- Web -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <clear/>
        <add name="HttpSoap12"/>
        <add name="Documentation"/>
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
      <soapExtensionTypes>
        <!--<add type="Windsor.Node2008.WNOSUtility.WebMethodTraceExtension, Windsor.Node2008.WNOSUtility" priority="1" group="High"/>-->
        <!--<add type="Windsor.Node2008.Endpoint2.InsertMissingSoapHeaderExtension, Windsor.Node2008.Endpoint2" priority="1" group="High"/>-->
      </soapExtensionTypes>
    </webServices>
    <httpRuntime maxRequestLength="128000" executionTimeout="3600"/>
    <sessionState mode="Off"/>
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="Soap-Trace-20.webinfo" output="Soap-Trace-20.webinfo"/>
      <detailedErrors enabled="false"/>
    </diagnostics>
    <messaging>
      <mtom clientMode="On" requireSoapEnvelopeFirst="false" serverMode="optional"/>
      <!-- send and receive the largest possible SOAP messages: -->
      <maxMessageLength value="-1"/>
    </messaging>
    <security>
      <timeToleranceInSeconds value="900"/>
    </security>
  </microsoft.web.services3>
  <!-- Spring -->
  <spring>
    <parsers>
      <parser type="Spring.Remoting.Config.RemotingNamespaceParser, Spring.Services"/>
    </parsers>
    <!-- Context -->
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <!-- Spring Manged Objects -->
    <objects xmlns="http://www.springframework.net">
      <object id="deploymentProperties" type="Windsor.Commons.Spring.ExposablePropertyPaceholderConfigurer, Windsor.Commons.Spring">
        <property name="Location">
          <value>file://~/../../Config/Deployment.config</value>
        </property>
      </object>
      <import resource="file://~/../../Config/WebServiceExportedServices.config"/>
      <object id="faultProvider" type="Windsor.Node2008.WNOSConnector.Provider.ENFaultProvider, Windsor.Node2008.WNOSConnector" init-method="Init">
        <property name="DefaultErrorCode" value="E_InternalError"/>
        <property name="DefaultErrorDescription" value="Unhandled server exception"/>
      </object>
      <object id="visitProvider" type="Windsor.Node2008.WNOSConnector.Provider.SimpleVisitProvider, Windsor.Node2008.WNOSConnector" init-method="Init">
        <property name="DefaultIp" value="${wne.request.ipdefault}"/>
        <property name="HeaderIPArgument" value="${wne.request.ipholder}"/>
        <property name="DefaultAuthMethod" value="password"/>
        <property name="Version" value="${wne.request.version20}"/>
      </object>
      <object id="serviceProvider" type="Windsor.Node2008.Endpoint2.ENService20Provider, Windsor.Node2008.Endpoint2" init-method="Init">
        <property name="TransactionService" ref="transactionService"/>
        <property name="SecurityService" ref="securityService"/>
        <property name="ContentService" ref="contentService"/>
        <property name="VisitProvider" ref="visitProvider"/>
        <property name="FaultProvider" ref="faultProvider"/>
      </object>
    </objects>
  </spring>
  <system.webServer>
    <modules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </modules>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="ENService20.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>